<html>
	<body>
		<book>
			<page class="page page--generic page--barbarian-subclasses">
				<h2 data-icon="cat-totem">Path of the Fanatic</h2>
				<p>The <i>Path of the Fanatic</i> is a path of zealous belief and fervor. With your righteous rage, you punish the blasphemous and inspire the faithful.</p>

				<h3><span class="h3__highlight">1</span>Fanaticism</h3>
				<p>You believe in someone—or some<i>thing</i>—with a burning passion. Choose one of the following damage types to represent the power—and theme—of your fanaticism:</p>

				<mechanic class="panel panel--mechanic panel--fanaticism">
					<header class="panel__header">
						<h4 class="panel__title">Fanaticism</h4>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<ul>
								<li>Acid</li>
								<li>Cold</li>
								<li>Fire</li>
								<li>Force</li>
							</ul>
							<ul>
								<li>Necrotic</li>
								<li>Lightning</li>
								<li>Poison</li>
								<li>Psychic</li>
							</ul>
							<ul>
								<li>Radiant</li>
								<li>Thunder</li>
							</ul>
						</div>
					</section>
				</mechanic>

				<h3><span class="h3__highlight">1</span>Primal Brutalities</h3>
				<p>Add the following four brutalities to your list of brutality options: convert, judge, preach, and punish.</p>

				<h4 class="h4--option">Convert</h4>
				<p>When an adjacent Large or smaller creature makes a weapon attack against you, you can spend a reaction to convert it before it makes the attack roll. The creature must make a Charisma saving throw. On a failed save, the creature is <i>Charmed</i> by you until the start of your next turn.</i></p>
				<p><strong>Greater Convert:</strong> (5th-level) You can use this brutality against Huge creatures.</p>
				<p><strong>Superior Convert:</strong> (9th-level) You can use this brutality against Gargantuan creatures.</p>

				<h4 class="h4--option">Judge</h4>
				<p>When you hit a creature with a weapon attack, you can mark the creature with a fanatical judgement. Until the end of your next turn, the first time the creature either a) makes a weapon attack or b) casts a spell, it takes 1d6 fanaticism damage.</p>
				<p>This damage occurs after the inciting action takes place, and a creature can be marked by only one judgement at a time.</p>
				<p><strong>Greater Judge:</strong> (5th-level) The damage increases from 1d6 to 2d8.</p>
				<p><strong>Superior Judge:</strong> (9th-level) The damage increases from 2d8 to 3d10.</p>

				<h4 class="h4--option">Preach</h4>
				<p>When you make an ability check and use Religion or Persuasion, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this brutality, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Preach:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Preach:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<col-break></col-break>

				<h4 class="h4--option">Punish</h4>
				<p>When a creature hits either a) you or b) an ally within 10 ft of you with a weapon attack, you can spend your reaction to make a weapon attack against the creature. If the attack hits, you deal an extra 1d6 fanaticism damage.</p>
				<p><strong>Greater Punish:</strong> (5th-level) The damage increases from 1d6 to 2d8.</p>
				<p><strong>Superior Punish:</strong> (9th-level) The damage increases from 2d8 to 3d10.</p>

				<h3><span class="h3__highlight">3</span>Righteous Rage</h3>
				<p>When you enter a rage, you may choose one of the following righteous effects:</p>
				<ul>
					<li><strong>Righteous Fury:</strong> Once during your turn, when you hit a creature with a weapon attack, you can deal additional fanaticism damage equal to 1d6 + your barbarian level.</li>
					<li><strong>Righteous Protection:</strong> You have immunity to the damage type of your fanaticism.</li>
				</ul>
				<p>This effect lasts for the duration of your rage. You may spend one hit die and a bonus action during your rage to change the currently active effect.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Unrelenting</h3>
				<p>When you are reduced to 0 hit points while raging but not killed outright, you can drop to 1 hit point instead. In addition, you gain temporary hit points equal to four times your barbarian level.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<h3><span class="h3__highlight">10</span>Fanatical Crusade</h3>
				<p>You roar a battle cry to inspire fanaticism in your allies. As a bonus action, choose up to twelve creatures within 60 ft of you that can both see and hear you. For the next minute, these creatures deal an additional 1d6 fanaticism damage the first time they hit a target with a weapon attack each turn.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
