<html>
	<body>
		<book>
			<page class="page page--generic page--barbarian-subclasses">
				<h2 data-icon="cat-totem">Path of the Conqueror</h2>
				<p>The <i>Path of the Conqueror</i> is a path of authority and subjugation. You are destined—or determined—to rule. Where you lead, others follow. Where you wage war, others flee—or fall.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Primal Brutalities</h3>
				<p>Add the following four brutalities to your list of brutality options: decree, command, prevail, and proclaim.</p>

				<h4 class="h4--option">Decree</h4>
				<p>When you hit a creature with a weapon attack, you can decree that an ally moves. Choose one friendly creature that is (a) within 30 ft of you or the creature you hit, (b) can hear you, and (c) has a movement speed greater than 0—that creature may spend its reaction to move up to 10 ft.</p>
				<p>This movement does not provoke opportunity attacks from the creature you hit.</p>
				<p><strong>Greater Decree:</strong> (5th-level) The distance increases from 10 ft to 15 ft.</p>
				<p><strong>Superior Decree:</strong> (9th-level) The distance increases from 15 ft to 20 ft.</p>

				<h4 class="h4--option">Command</h4>
				<p>When you hit a creature with a weapon attack, you can command a nearby ally. Choose one friendly creature that can see and hear you. That creature may spend its reaction to make a weapon attack against the same target. If the attack hits, it deals an additonal 1d6 damage.</p>
				<p><strong>Greater Command:</strong> (5th-level) The damage increases from 1d6 to 1d8.</p>
				<p><strong>Superior Command:</strong> (9th-level) The damage increases from 1d8 to 1d10.</p>

				<h4 class="h4--option">Prevail</h4>
				<p>When an ally misses with a weapon attack, you can order them to prevail and try again. If your ally can see and hear you, that ally can reroll their attack—if the attack hits, it deals 1d6 extra damage.</p>
				<p><strong>Greater Prevail:</strong> (5th-level) The damage increases from 1d6 to 1d8.</p>
				<p><strong>Superior Prevail:</strong> (9th-level) The damage increases from 1d8 to 1d10.</p>

				<col-break></col-break>

				<h4 class="h4--option">Proclaim</h4>
				<p>When you make an ability check and use Persuasion or Intimidation, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this maneuver, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Proclaim:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Proclaim:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<h3><span class="h3__highlight">3</span>Voice of Authority</h3>
				<p>You gain proficiency in either a) Intimidation or b) Persuasion. Your proficiency bonus is doubled for ability checks with that skill.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Subjugate the Fallen</h3>
				<p>You can turn a fallen enemy into subjugated vassal by offering them a choice—serve me or <i>die</i>.</p>
				<p>Once per turn, while you are raging and would reduce a Medium or smaller creature to 0 hit points with a melee weapon attack, you can attempt to <i>subjugate it</i>. The creature must be able to see, hear, and understand you. If it resists, it must make a Wisdom saving throw against a DC equal to 8 + your proficiency bonus + your Charisma modifier. The creature gains a saving bonus equal to half it's CR (rounded down).</p>
				<p>If it fails—or otherwise chooses to conceed—the creature is reduced to 1 hit point and is <i>Subjugated</i> by you, becoming your vassal.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Subjugation Save</h4>
					</header>
					<section class="panel__body">
						<p><strong>Subjugation Save DC:</strong> 8 + your proficiency bonus + your Charisma modifier</p>
						<p><strong>Saving Throw:</strong> Wisdom modifier + half your CR (rounded down)</p>
					</section>
				</mechanic>

				<trait class="panel panel--trait">
					<header class="panel__header">
						<h4 class="panel__title">Subjugated</h4>
					</header>
					<section class="panel__body">
						<p>You are subjugated by another creature. You are their vassal, obeying their orders for as long as your loyalty holds true.</p>
						<ul>
							<li><strong>Tame:</strong> The subjugator has advantage on any ability check to interact socially with you.</li>
							<li><strong>Reverent:</strong> You can't attack your subjugator or target them with harmful abilities or magical effects.</li>
							<li><strong>Obediant:</strong> You follow the commands of your subjugator.</li>
							<li><strong>Loyal:</strong> When you are first subjugated, you gain 1d4 loyalty points. When your loyalty is reduced to 0, you are no longer subjugated.</li>
						</ul>
					</section>
				</trait>
			</page>
			<page class="page page--generic page--barbarian-subclasses">
				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<p>You can subjugate one creature at a time, and you may dismiss a vassal from your service as a bonus action. When you dismiss a vassal in this fashion, it loses one point of loyalty towards you.</p>
				<p><strong>Immunities:</strong> Undead creatures, constructs, and creatures that are immune to <i>Frightened</i> automatically succeed on their attempt to resist subjugation.</p>

				<h4>Taking Actions</h4>
				<p>Your vassal acts immediately after your turn, following your commands as best it can. If you are incapacitated or otherwise absent, the vassal acts on its own as befits its current loyalty.</p>

				<h3><span class="h3__highlight">3</span>Loyalty</h3>
				<p>Loyalty is a measurement of trust and obediance—the more loyalty your vassal has towards you, the more likely it is to follow your commands and resist stabbing you in the back at the first opportunity.</p>
				<p>When you first subjugate a vassal, it has 1d4 points of loyalty towards you. A vassal can have a maximum amount of loyalty equal to your barbarian level, and that loyalty determines its attitude towards you—resentful, accepting, motivated, or devoted.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Attitudes</h4>
					</header>
					<section class="panel__body">
						<table class="table table--attitudes">
							<thead>
								<tr>
									<th>Loyalty</th>
									<th>Attitude</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0</td>
									<td><strong>Rebellious:</strong> The vassal is no longer subjugated by you—so watch your back.</td>
								</tr>
								<tr>
									<td>1-2</td>
									<td>
										<p><strong>Resentful:</strong> The vassal resents being subjugated by you and won't obey life-threatening commands.</p>
										<p>If it refuses to follow an order, you must make a DC 16 Charisma (Persuasion or Intimidation) ability check to command it.</p>
									</td>
								</tr>
								<tr>
									<td>3-6</td>
									<td>
										<p><strong>Tolerant:</strong> The vassal is more accepting of your dominion, though it will still preserve its own life.</p>
										<p>If it refuses to follow an order, you must make a DC 14 Charisma (Persuasion or Intimidation) ability check to command it.</p>
									</td>
								</tr>
								<tr>
									<td>7-9</td>
									<td>
										<p><strong>Motivated:</strong> The vassal actively wants you to succeed in your efforts.</p>
										<p>If it refuses to follow an order, you must make a DC 12 Charisma (Persuasion or Intimidation) ability check to command it.</p>
									</td>
								</tr>
								<tr>
									<td>10</td>
									<td>
										<p><strong>Devoted:</strong> The vassal is devoted to your cause and will put itself in harms way at your command.</p>
										<p>If you take damage from a weapon attack while adjacent to the vassal, it can spend its reaction to take the damage on your behalf.</p>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Vassal Independance</h4>
					</header>
					<section class="panel__body">
						<p>A subjugated vassal retains its own will, wants, and wishes. Though it may follow your commands, some orders may be <i>so</i> antithetical that it will always refuse or perform badly—no matter how high you roll.</p>
						<p>Keep in mind the character of your vassal—subjugate creatures that are a good match for your own goals, attitudes, and alignment.</p>
					</section>

				</aside>

				<h4>Gaining Loyalty</h4>
				<p>Loyalty is gained through kindness, kinship, and material rewards. A vassal gains one point of loyalty when:</p>
				<ul>
					<li>It is given a <i>meaningful</i> reward by its subjugator.</li>
					<li>The subjugator helps it to complete a personal goal.</li>
					<li>It is treated exceptionally well or made to feel valued.</li>
				</ul>

				<h4>Losing Loyalty</h4>
				<p>Loyalty is lost through greed, insensitivity, and vanity. A vassal loses one point of loyalty when:</p>
				<ul>
					<li>It takes damage from its subjugator or their allies.</li>
					<li>It is made to feel unvalued or unwanted.</li>
					<li>It is reduced to 0 hit points.</li>
					<li>It is made to act against something it cares about—a person, a faction, a belief, etc.</li>
				</ul>

				<p><strong>Natural Rebels:</strong> Chaotic creatures are, by their nature, disinclied to follow orders and remain loyal. When a creature with a <i>chaotic</i> alignment loses loyalty, it loses twice as much as it normally would.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Rule of Iron</h3>
				<p>When you take the <i>Attack</i> action while you are raging, your vassal can spend its reaction to make a weapon attack.</p>

				<h3><span class="h3__highlight">10</span>Conqueror's Will</h3>
				<p>You roar a conquering command to your allies. As a bonus action, As a bonus action, choose up to twelve creatures within 60 ft of you that can both see and hear you. Until the start of your next turn, these creatures gain advantage on attack rolls and saving throws.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
