<html>
	<body>
		<book>
			<page class="page page--generic page--barbarian-subclasses">
				<h2 data-icon="cat-totem">Path of the Berserker</h2>
				<p>The <i>Path of the Berserker</i> is a path of untrammeled fury, slick with blood. Your rage is a means to an end—that end being brutal violence.</p>
				<p>As you enter the berserker's rage, you thrill in the wild chaos and bloodshed of battle—heedless of your own health or well-being.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Primal Brutalities</h3>
				<p>Add the following four brutalities to your list of brutality options: bloodlust, charge, ferocity, and relentless.</p>

				<h4 class="h4--option">Bloodlust</h4>
				<p>When you reduce a creature to 0 hit points with a melee weapon attack while raging, you can attempt to move and attack another creature.</p>
				<p>You may spend a bonus action to move up to half your speed towards another creature. If the creature is (a) within your reach and (b) your original attack would hit it, that creature takes 1d6 damage.</p>
				<p>The damage is of the same type dealt by the original attack, and can't exceed the total damage dealt by the original attack.</p>
				<p><strong>Greater Bloodlust:</strong> (5th-level) The damage increases from 1d6 to 2d8.</p>
				<p><strong>Superior Bloodlust:</strong> (9th-level) The damage increases from 2d8 to 3d10.</p>

				<h4 class="h4--option">Charge</h4>
				<p>When you move at least 20 ft straight towards a creature while raging and hit it with a melee weapon attack, you can deal 1d6 extra damage with your attack.</p>
				<p>The damage is of the same type dealt by the original attack, and can't exceed the total damage dealt by the original attack.</p>
				<p><strong>Greater Charge:</strong> (5th-level) The damage increases from 1d6 to 2d8.</p>
				<p><strong>Superior Charge:</strong> (9th-level) The damage increases from 2d8 to 3d10.</p>

				<h4 class="h4--option">Ferocity</h4>
				<p>When you make an ability check and use Athletics or Intimidation, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this brutality, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Ferocity:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Ferocity:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<col-break></col-break>

				<h4 class="h4--option">Relentless</h4>
				<p>When you are reduced to 0 hit points while raging but not killed outright, you can drop to 1 hit point instead. You can't use this brutality again until you finish a long rest.</p>
				<p><strong>Greater Relentless:</strong> (5th-level) You can use this brutality two times per long rest.</p>
				<p><strong>Superior Relentless:</strong> (9th-level) You can use this brutality three times per long rest.</p>

				<h3><span class="h3__highlight">3</span>Frenzy</h3>
				<p>When you rage, you may choose to go into a frenzy. If you do so, for the duration of your rage you can make one additional melee weapon attack once per turn when you take the Attack action.</p>
				<p>When your frenzied rage ends, you must immediately do one of the following:</p>
				<ul>
					<li>Spend one of your hit die.</li>
					<li>Spend two points of brutality.</li>
					<li>Suffer one level of exhaustion.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Mindless Rage</h3>
				<p>You can't be charmed or frightened while raging. If you are charmed or frightened when you enter your rage, the effect is suspended for the duration of the rage.</p>

				<h3><span class="h3__highlight">10</span>Intimidating Presence</h3>
				<p>You can use your action to frighten someone. Choose one creature that you can see within 30 feet of you. If the creature can see or hear you, it must make a Wisdom saving throw (DC equal to 8 + your proficiency bonus + your Strength modifier) to avoid being frightened.</p>
				<p><strong>If the Creature Succeeds:</strong> The creature is immune to your <i>Intimidating Presence</i> for the next 24 hours.</p>
				<p><strong>If the Creature Fails:</strong> The creature is frightened of you until the end of your next turn. On subsequent turns, you can spend 1 action to extend the duration of this effect on one frightened creature until the end of your next turn. This effect ends if the creature ends its turn out of line of sight or more than 60 feet away from you.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
