<html>
	<body>
		<book>
			<page class="page page--generic page--barbarian" data-header-icon="axe">
				<h1 id="the-barbarian">The Barbarian</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=75>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Barbarian</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--barbarian">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Rages</th>
										<th>Rage<br/>Damage</th>
										<th>Brutality<br/>Points</th>
										<th>Brutalities<br/>Mastered</th>
										<th>Features</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>2</td>
										<td>+2</td>
										<td>3</td>
										<td>2</td>
										<td>Rage, Unarmored Defense, Brutality, Brutalities, Primal Path</span></td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>2</td>
										<td>+2</td>
										<td>4</td>
										<td>2</td>
										<td>Survival Instincts, Reckless Attack</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>3</td>
										<td>+2</td>
										<td>5</td>
										<td>3</td>
										<td>Primal Path Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>3</td>
										<td>+2</td>
										<td>6</td>
										<td>3</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>3</td>
										<td>+2</td>
										<td>7</td>
										<td>3</td>
										<td>Extra Attack, Feral Movement, Greater Brutalities</td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>4</td>
										<td>+2</td>
										<td>8</td>
										<td>4</td>
										<td>Primal Path Features</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>4</td>
										<td>+2</td>
										<td>9</td>
										<td>4</td>
										<td>Feral Instinct</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>4</td>
										<td>+2</td>
										<td>10</td>
										<td>4</td>
										<td>Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>4</td>
										<td>+3</td>
										<td>11</td>
										<td>4</td>
										<td>Brutal Critical, Superior Brutalities</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>4</td>
										<td>+3</td>
										<td>12</td>
										<td>5</td>
										<td>Mastered Rage, Primal Path Features</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d12 per barbarian level.</li>
					<li><strong>Hit Points (1st-level):</strong> 12 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d12 (or 7) + your Constitution modifier per barbarian level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> Light armor, medium armor, shields.</li>
					<li><strong>Weapons:</strong> Simple weapons, martial weapons.</li>
					<li><strong>Tools:</strong> None.</li>
					<li><strong>Saving Throws:</strong> Strength, Constitution.</li>
					<li><strong>Skills:</strong> Choose two from Animal Handling, Athletics, Intimidation, Nature, Perception, and Survival.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li><i>(a)</i> a greataxe or <i>(b)</i> any martial melee weapon.</li>
					<li><i>(a)</i> two handaxes or <i>(b)</i> any simple weapon.</li>
					<li>An explorer's pack.</li>
					<li>Four javelins.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 2d4 x 10 gold pieces (or 50 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--barbarian">
				<h2 data-icon="axe">Class Features</h2>
				<p>As a barbarian, you gain the following class features.</p>

				<!-- <h3><span class="h3__highlight">1</span>Primal Totem</h3>
				<p>You gain a totem as a symbol of your inner strength. Your totem is an item of personal significance, acting as a material connection to the primal powers of the world.</p>
				<p><strong>How did you get your totem?:</strong> Your totem typically originates from an event in your past wherein you discovered your inner rage and started on the path to becoming a barbarian. For example:</p>

				<ul>
					<li>I awoke from a dream vision and found this totem clutched in my hand.</li>
					<li>I completed a primal trial of awakening and an elder spirit left this for me.</li>
					<li>I inherited this from my family—it is inscribed with the names of my elders dating back 70 years.</li>
					<li>I carved this from the skull of the beast I killed to save my tribe.</li>
				</ul>

				<p style="text-indent: 15px"><strong>What does your totem look like?:</strong> A totem is typically a tiny object no bigger than a palm—though some barbarians are known to carry much larger totems.</p>
				<p>Choose a natural material (such as bone, stone, wood, or clay) and a shape. Some totems can be fashioned into necklaces or bracelets—and some may even be wielded as weapons. For example:</p>

				<ul>
					<li>A hand-carved wolfhead necklace.</li>
					<li>A dragonchess piece cut from chalk.</li>
					<li>A dragon's tooth inscribed with primal runes.</li>
					<li>A stone axe with a blackwood handle.</li>
					<li>A huge, heavy, wooden pole with animal carvings.</li>
				</ul>

				<p style="text-indent: 15px"><strong>What if you lose your totem?:</strong> If your totem is lost, stolen, or destroyed, you lose a part of your connection to the primal powers. You can't recover any expended rages or brutality points until you gain a new totem.</p>
				<p><strong>Gaining a new totem:</strong> You can attempt to create a new totem during a long rest by embarking on a barbarian quest. For example:</p>

				<ul>
					<li>You embark on a dream quest to seek the aid and advice of your ancestors.</li>
					<li>You take your most precious item and craft it into a new, primal totem.</li>
					<li>You venture into the wilds to find a primal spirit.</li>
					<li>You meet an elder to undertake a new barbarian trial.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4>Non-primal Barbarians</h4>
					</header>
					<section class="panel__body">
						<p>If your barbarian has no particular connection to—or interest in—primal powers, then you may re-flavor your totem as an item that allows your barbarian to focus on their anger and rage—such as a memento of a lost, loved one.</p>
						<p>Losing this item serves as a distraction, emotional or otherwise, that prevents your barbarian from recovering their rage during a long rest.</p>
					</section>
				</aside>

				<col-break></col-break> -->

				<h3><span class="h3__highlight">1</span>Rage</h3>
				<p>You are able to enter a rage that pushes your physical strength beyond its normal limits.</p>
				<p>You can spend a bonus action to enter a rage that lasts for up to 1 minute. While raging, you gain the following benefits if you are not wearing heavy armor:</p>

				<ul>
					<li><strong>Brutal Strength:</strong> You have advantage on Strength checks and Strength saving throws.</li>
					<li><strong>Rage Damage:</strong> When you make a melee weapon attack using Strength, you gain a bonus to the damage roll as shown in the <i>Rage Damage</i> column of the Class Features (Barbarian) table.</li>
					<li><strong>Thick Skin:</strong> You have resistance to bludgeoning, piercing, and slashing damage from both magical and non-magical sources.</li>
				</ul>

				<p>You can use this feature a limited number of times, as shown in the <i>Rages</i> column of the Class Features (Barbarian) table. You recover all expended uses when you finish a long rest.</p>

				<h4>Spellcasting</h4>
				<p>During a rage, you can't cast spells or concentrate on magic. If you are concentrating on a spell when you enter a rage, that concentration ends immediately.</p>
				<p><strong>Magic Items:</strong> Some items allow you to trigger magic effects—scrolls, wands, etc. You can activate these items unless it is specified that <i>you</i> are casting a spell.</p>

				<h4>Ending a Rage</h4>
				<p>Your rage lasts for 1 minute. It ends early if any of the following situations apply:</p>

				<ul>
					<li><strong>Blackout:</strong> You are knocked unconscious.</li>
					<li><strong>Passive Aggression:</strong> Your turn ends and either (a) you haven't attacked a hostile creature or (b) you haven't taken any damage since the end of your previous turn.</li>
					<li><strong>Serenity Now:</strong> You spend a bonus action on your turn to end your rage.</li>
				</ul>

				<h4>Unarmed Attacks</h4>
				<p>An unarmed attack (such as a punch, kick, headbutt, etc) counts as a melee weapon attack—it gains the benefit of your rage damage.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Unarmored Defense</h3>
				<p>While you are not wearing any armor, your armor class equals 10 + your Constitution modifier + either (a) your Dexterity modifier or (b) your Intelligence modifier—you may choose which modifier to use.</p>
				<p>You can use a shield and still gain this benefit.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Unarmored AC</h4>
					</header>
					<section class="panel__body">
						<p><strong>Unarmored AC:</strong> 10 + your Constitution modifier + your Dexterity or Intelligence modifier (your choice)</p>
					</section>
				</mechanic>

				<h3><span class="h3__highlight">1</span>Brutality</h3>
				<p>You have a number of brutality points, as shown in the <i>Brutality Points</i> column of the Class Features (Barbarian) table. You can spend brutality to overwhelm your enemies with brutalities—and you may learn other applications from your Primal Path.</p>
				<p>You recover all expended brutality points when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Brutalities</h3>
				<p>At 1st-level, you have mastered two brutalities of your choice. You master additional brutalities as you gain more barbarian levels, as show in the <i>Brutalities Known</i> column of the Class Features (Barbarian) table.</p>
				<p>Once per turn, you may spend one brutality point to use one of your mastered brutalities.</p>
				<p><strong>Replacing a Brutality:</strong> Whenever you finish a long rest, you may replace one of your mastered brutalities with another brutality.</p>

				<p><strong>Saving Throws:</strong> Use your Strength modifier to determine the saving throw DC for your brutalities.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Brutality Save DC</h4>
					</header>
					<section class="panel__body">
						<p><strong>Brutality Save DC:</strong> 8 + your proficiency bonus + your Strength modifier</p>
					</section>
				</mechanic>

				<h4 class="h4--option">Cleave</h4>
				<p>When you hit a creature with a melee weapon attack, you can attempt to damage another nearby creature. Choose a creature that is (a) within 5 ft of the original target and (b) within your reach. If the original attack roll would hit the second creature, that creature takes 1d6 damage.</p>
				<p>The damage is of the same type dealt by the original attack, and can't exceed the total damage dealt by the original attack.</p>
				<p><strong>Greater Cleave:</strong> (5th-level) The damage increases from 1d6 to 2d8.</p>
				<p><strong>Superior Cleave:</strong> (9th-level) The damage increases from 2d8 to 3d10.</p>
			</page>
			<page class="page page--generic page--barbarian">
				<h4 class="h4--option">Grab</h4>
				<p>When you hit an adjacent creature with an opportunity attack and you have at least one hand free, you can attempt to grab hold of the creature. If the creature is Large or smaller, it must make a Strength or Dexterity saving throw—the target may choose which. On a failed save, the creature is grappled by you.</p>
				<p><strong>Greater Grab:</strong> (5th-level) You can use this brutality against Huge creatures.</p>
				<p><strong>Superior Grab:</strong> (9th-level) You can use this brutality against Gargantuan creatures.</p>

				<h4 class="h4--option">Headbutt</h4>
				<p>When you hit an adjacent creature with a melee weapon attack, you can use a bonus action to attempt to knock the creature down. If the target is Large or smaller, it must make a Strength saving throw. On a failed save, you knock the target prone.</p>
				<p><strong>Greater Headbutt:</strong> (5th-level) You can use this brutality against Huge creatures.</p>
				<p><strong>Superior Headbutt:</strong> (9th-level) You can use this brutality against Gargantuan creatures.</p>

				<h4 class="h4--option">Kick</h4>
				<p>When you hit an adjacent creature with a melee weapon attack, you can try to kick it away from you. If the target is Large or smaller, it must make a Strength saving throw. On a failed save, you knock the creature back up to 10 ft.</p>
				<p><strong>Greater Kick:</strong> (5th-level) You can use this brutality against Huge creatures.</p>
				<p><strong>Superior Kick:</strong> (9th-level) You can use this brutality against Gargantuan creatures.</p>

				<h4 class="h4--option">Roar</h4>
				<p>When you hit an adjacent creature with a melee weapon attack, you can attempt to frighten the creature. The creature must make a Wisdom saving throw. On a failed save, it is frightened of you until the end of your next turn.</p>
				<p><strong>Greater Roar:</strong> (5th-level) You can target one additional creature that is within 5 ft of you.</p>
				<p><strong>Superior Roar:</strong> (9th-level) You can target one additional creature that is within 10 ft of you.</p>

				<h4 class="h4--option">Smash</h4>
				<p>When you hit a creature with a melee weapon attack, you can momentarily weaken its defenses. Until the start of your next turn, the next attack roll made against the creature by an attacker other than you has advantage.</p>
				<p><strong>Greater Smash:</strong> (5th-level) The creature grants advantage to the next two attack rolls made against it before the start of your next turn.</p>
				<p><strong>Superior Smash:</strong> (9th-level) The creature grants advantage to the next three attack rolls made against it before the start of your next turn.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Primal Path</h3>
				<p>Choose a Primal Path. You gain features from your Primal Path at 1st, 3rd, 6th, and 10th-level.</p>

				<h4>Primal Brutalities</h4>
				<p>You gain access to four unique brutalities from your Primal Path. Add these to your list of brutality options.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">2</span>Survival Instincts</h3>
				<p>Choose one of the following options.</p>

				<h4 class="h4--option">Danger Sense</h3>
				<p>You have advantage on Dexterity saving throws against effects that you can see—such as traps, spells, and attacks. To gain this benefit, you can't be blinded, deafened, or incapacitated.</p>

				<h4 class="h4--option">Primal Knowledge</h3>
				<p>You become proficient in your choice of two of the following skills: Animal Handling, Medicine, Nature, Perception, or Survival.</p>
				<p>Your proficiency bonus is doubled for any ability check you make that uses either of those skills.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">2</span>Reckless Attack</h3>
				<p>Before you make your first attack on your turn, you can choose to attack recklessly. You have advantage on all melee weapon attack rolls using Strength until the end of your turn. But in return, all attack rolls made against you have advantage until the start of your next turn.</p>
				<p><strong>Reckless Brutalities:</strong> While you are being reckless, you can't use a mastered brutality unless that brutality specifies otherwise.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--barbarian">
				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">5</span>Extra Attack</h3>
				<p>You can attack twice, instead of once, whenever you take the Attack action on your turn.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">5</span>Feral Movement</h3>
				<p>Choose one of the following options.</p>

				<h4 class="h4--option">Fast Mover</h4>
				<p>Your natural speed increases by 10 ft while you're not wearing heavy armor. If you have multiple forms of innate movement—such as climbing, flying, swimming, etc—each movement speed increases by 10 ft.</p>
				<p><strong>Unnatural Movement:</strong> If you gain a movement speed through an external effect—such as an item, feature, or spell—that speed doesn't increase with this feature.</p>

				<h4 class="h4--option">Leap</h4>
				<p>When a creature ends its turn within 15 ft of you, you can spend your reaction to move up to half your speed to a space closer to the creature. This movement doesn’t provoke opportunity attacks.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">7</span>Feral Instinct</h3>
				<p>You have advantage on your initiative rolls. If you are surprised at the beginning of combat and aren't incapacitated, you can act normally on your first turn—but only if you enter your rage before doing anything else on that turn.</p>

				<col-break></col-break>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">9</span>Brutal Critical</h3>
				<p>You can roll one additional weapon damage die when determining the extra damage for a critical hit with a melee attack.</p>
				<p><strong>Brutality:</strong> Whenever you reduce a creature to 0 hit points with a critical hit from a melee attack, you regain 1 expended brutality point.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Mastered Rage</h3>
				<p>When you enter a rage, you may choose to master it. Each time you do so, pick one of the following options—you gain this in addition to the other features granted by your rage ability.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<h4 class="h4--option">Fast</h4>
				<p>For the duration of your mastered rage, your natural speed increases by 10 ft. If you have multiple forms of innate movement—such as climbing, flying, swimming, etc—each movement speed increases by 10 ft.</p>
				<p><strong>Fast Mover:</strong> If you have the <i>Fast Mover</i> trait, this benefit stacks.</p>

				<h4 class="h4--option">Fierce</h4>
				<p>For the duration of your mastered rage, double the damage bonus granted by your <i>Rage Damage</i>.</p>

				<h4 class="h4--option">Focused</h4>
				<p>For the duration of your mastered rage, you may cast and concentrate on spells as normal.</p>

				<h4 class="h4--option">Frightening</h4>
				<p>For the duration of your mastered rage, your proficiency bonus is doubled for any ability check you make that uses Intimidation or Athletics.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
