<html>
	<body>
		<book>
			<page class="page page--generic page--barbarian-subclasses" data-header-icon="cat-totem">
				<h1 id="barbarian-subclasses">Primal Paths</h1>
				<p>A fierce rage burns deep in your heart—a white-hot fire that can push you above and beyond your mortal limitations.</span> But without control, your greatest strength can become your greatest weakness.</p>
				<p>To help you master your rage—for good or ill—you must choose a <i>Primal Path</i>. Walk this path to discover your own unique strength and how to wield it.</p>

				<h2>Choose Your Path</h2>
				<p>Choose your path from one of the following options:</p>
				<ul>
					<li><strong>Path of the Berserker:</strong> You are a frenzied force of destruction on the battlefield–enemies run in fear from your intimidating presence.</li>
					<li><strong>Path of the Conqueror:</strong> You are a conqueror, destined—or determined—to rule. Where you lead, others follow. Where you wage war, others flee—or fall.</li>
					<li><strong>Path of the Fanatic:</strong> You have a fanatical belief in someone or something—a god, a leader, a cause—and your blood boils in the presence of disbelievers.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Paths Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Brutal Barbarian</i> is a work-in-progress with a limited number of paths. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Path of the Bulwark:</strong> You are unbreakable—a fixed point in battle. When you hold the line, that line stays held.</li>
							<li><strong>Path of the Flagellant:</strong> Pain drives you forward. As you take damage, you turn that pain into fury and rage.</li>
						</ul>
						<p>Got ideas for some primal paths you'd like to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating a Primal Path</h3>
				<p>To create your own <i>Primal Path</i> (or to convert an existing path from other sources), follow these steps:</p>

				<ol>
					<li>
						<p><strong>Create 4 Brutalities:</strong> At 1st-level, primal paths expand the barbarian brutality list with 4 unique brutalities. Create some new ways to be brutal that are thematic to your path—be as flavorsome as you can.</p>
						<ul style="margin-bottom: 15px;">
							<li>Ensure your brutalities have a clear triggering event—"when X happens, you can Y".</li>
							<li>Brutalities improve at 5th and 9th-level.</li>
							<li>As a general rule of thumb, aim for a varied 3-to-1 mix of combat-enhancing and social/skill-enhancing brutalities.</li>
						</ul>
					</li>
					<li><strong>Create 3rd and 6th-level Features:</strong> Primal paths grant new features at 3rd and 6th-level. Rage is the primary feature of the barbarian—try to use it in interesting ways, either as a resource or an enhancement.</li>
					<li><strong>Create a 10th-level Capstone:</strong> At 10th-level, primal paths grant a unique capstone feature. This is the pinnacle of your path's theming—capture it's essence.</li>
				</ol>

				<p>And that's it, your primal path is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
