<html>
	<body>
		<book>
			<page class="page page--generic page--bard-variants" data-header-icon="cog">
				<h1 id="bard-variants">Variant Dials</h1>
				<p>If you want to adjust the bard class to better suit your own campaign and playstyle, then consider these variant dials.</p>

				<h2>Multiclassing</h2>
				<p>If your campaign supports multiclassing, apply these modifiers to use the bard as a multiclass option:</p>

				<ul>
					<li><strong>Minimum Requirement:</strong> Charisma 13.</li>
					<li><strong>Proficiencies:</strong> Light armor, one skill of your choice, one musical instrument of your choice.</li>
					<li><strong>Collegiate Inspiration:</strong> You can't use your collegiate inspiration until you are 3rd-level.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>No Distinctions</h2>
				<p>If collegiate pledges are not a suitable match for your campaign, then consider replacing them—and collegiate distinction—with <i>Bardic Versatility</i> as shown below.</p>

				<h3>Bardic Versatility</h3>
				<p>During a long rest, you can replace one of your known bard spells (including cantrips) with another spell from the bard spell list. The new spell must be of the same spell level as the one you replace.</p>

				<col-break></col-break>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>Short Rest Recovery</h2>
				<p>This supplement emphasizes taking <i>long rests</i> as a primary recovery mechanic. But if you want to put more focus on taking short rests for your bard, use this alternative method of allocating composition points.</p>

				<h3>Composition</h3>
				<p>Starting at 1st-level, you have a number of composition points equal to your Charisma modifier (a minimum of 1). You regain any expended composition points when you finish a long rest.</p>
				<p>Starting at 5th-level, you regain any expended composition points when you finish a short or long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
