<html>
	<body>
		<book>
			<page class="page page--generic page--bard-subclasses">
				<h2 data-icon="graduate-cap">College of Dance</h2>
				<p>You are a bard of the <i>College of Dance</i> and you know how to turn heads on the dancefloor. Whether in a fine royal court or a dark and sunken dungeon, you inspire and enflame with physical prowess, shaping the elements of movement—space, time, and force—into magic.</p>

				<h3><span class="h3__highlight">1</span>Collegiate Pledges</h3>
				<p>You—and other bards of your college—are guided by the following collegiate pledges:</p>

				<ol>
					<li><strong>Be Confident:</strong> To be the best dancer, you must be confident in yourself and your abilities. Practice often, stay limber, and be bold. When you dance, dance like nobody's watching.</li>
					<li><strong>Inspire Emotion:</strong> Dancing can inspire strong emotions—passion, excitement, love, and joy. Use your dances to rouse your allies, turn enemies into friends, and build stronger social connections.</li>
					<li><strong>Encourage Others:</strong> Everyone can dance—with the right encouragement and motivation. Help others to dance to the music playing in their heart. Be a passionate advocate and a patient teacher.</li>
				</ol>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Collegiate Inspiration</h3>
				<p>You learn how to use your knowledge of dance to inspire and encourage your allies.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Let's Dance</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Bard</li>
							<li>Dance</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You can spend your bonus action and one point of composition to evoke movement and motion in your allies.</p>
							<p>Choose one of the following dances and a number of creatures within 30 ft of you equal to your Charisma modifier—each creature gains the benefit of your dance.</p>
							<p>This effect lasts for up to 1 minute, and a creature can benefit from only one dance at a time. You must be unarmored and not wearing a shield to use this feature.</p>
							<ul class="features features--a">
								<li><strong class="feature__title">Dance of War</strong> You gain +1 AC. If you are either a) unarmored or b) wearing light armor, you instead gain +2 AC.</li>
								<li><strong class="feature__title">Dance of Water</strong> You gain advantage on Dexterity saving throws and <i>Performance</i> ability checks related to dance.</li>
								<li><strong class="feature__title">Dance of Wind</strong> You gain +5 ft movement speed. If you are either a) unarmored or b) wearing light armor, you instead gain +10 ft movement.</li>
							</ul>
						</div>
					</section>
				</spell>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>White Knuckles</h3>
				<p>While you are not wearing any armor and not wielding a shield, your armor class equals 10 + your Constitution modifier + your Dexterity modifier.</p>

				<h3><span class="h3__highlight">1</span>Body Language</h3>
				<p>When you cast a bard spell, you can replace any verbal components with somatic components. You must be unarmored and not wielding a shield to use this feature.</p>

				<h3><span class="h3__highlight">3</span>Dancing Mad</h3>
				<p>You compel a creature to dance with you. Spend a bonus action and choose one adjacent creature. The creature must make a Wisdom saving throw—if it fails, the creature is both <i>Charmed</i> and <i>Grappled</i> by you until the end of its next turn.</p>
				<p>While these conditions are in effect, you control the creature's movement. Your movement speed is halved and, when you move, you can pull the creature with you. This movement does not provoke opportunity attacks.</p>
				<p>Creatures that are immune to <i>Charmed</i> are immune to this effect. If you cease to be adjacent to the creature, the effect ends.</p>
				<p>You can use this feature a number of times equal to your Charisma modifier, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Tribute</h3>
				<p>You gain proficiency in either a) Acrobatics or b) Performance. Your proficiency bonus is doubled for ability checks with that skill.</p>

				<h3><span class="h3__highlight">10</span>Lose Yourself to Dance</h3>
				<p>You unlock the rhythm of a creature's heart, inspiring it to dance. Spend an action and choose one creature that you can see within 30 ft. The creature must make a Wisdom saving throw—if it fails, the creature begins to dance in place for up to one minute.</p>
				<p>A dancing creature must use all its movement to dance without leaving its space and has disadvantage on Dexterity saving throws and attack rolls. While the target is affected by this spell, other creatures have advantage on attack rolls against it. If the creature takes damage from a source other than itself, the effect ends immediately.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
