<html>
	<body>
		<book>
			<page class="page page--generic page--bard-subclasses">
				<h2 data-icon="graduate-cap">College of Tongues</h2>
				<p>You are a bard of the <i>College of Tongues</i> and you know the true power of words. You study languages, collecting fragments of dead and dying tongues to study, preserve, and—on rare occasion—discover secret <i>Words of Power</i>.</p>

				<h3><span class="h3__highlight">1</span>Collegiate Pledges</h3>
				<p>You—and other bards of your college—are guided by the following collegiate pledges:</p>

				<ol>
					<li><strong>Speak Carefully:</strong> Words have power—take care in which ones you use. Speak in the correct manner and use the right words for the right occasion.</li>
					<li><strong>Save Dead Languages:</strong> Never let a language die. Collect fragments of forgotten tongues and share them with others to study and preserve.</li>
					<li><strong>Correct the Incorrect:</strong> Bad grammar is a travesty. Point out linguistic mistakes and offer corrections so that others can learn from them.</li>
				</ol>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Collegiate Inspiration</h3>
				<p>You have mastered a <i>Word of Power</i> that shares your linguistic talents with others.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Word of Power: Tongues</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Bard</li>
							<li>Tongues</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You can spend your bonus action and one point of composition to speak aloud <i>Word of Power: Tongues</i>.</p>
							<p>Choose a number of creatures that you can see equal to your Charisma modifier (to a minimum of 1). Each creature must a) be within 30 ft of you, b) have 50 hit points or fewer, and c) know at least one language.</p>
							<p>For up to 1 hour, each target can understand any spoken language that you are proficient with.</p>
						</div>
					</section>
				</spell>

				<h3><span class="h3__highlight">1</span>Exotic Tongue</h3>
				<p>You have mastered one exotic language from which your <i>Words of Power</i> are drawn. Choose one of the following:</p>

				<mechanic class="panel panel--mechanic panel--exotic-tongues">
					<header class="panel__header">
						<h4 class="panel__title">Exotic Tongue</h4>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<ul>
								<li>Abyssal</li>
								<li>Celestial</li>
								<li>Draconic</li>
							</ul>
							<ul>
								<li>Deep Speech</li>
								<li>Infernal</li>
								<li>Primordial</li>
							</ul>
							<ul>
								<li>Sylvan</li>
								<li>Undercommon</li>
							</ul>
						</div>
					</section>
				</mechanic>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Words of Power</h3>
				<p>Through careful study, you have mastered <i>Words of Power</i> in your exotic tongue.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Words of Power</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Bard</li>
							<li>Tongues</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> 1 action</li>
							<li><strong>Range:</strong> 60 feet</li>
							<li><strong>Components:</strong> V</li>
							<li><strong>Duration:</strong> 1 minute</li>
						</ul>
						<div class="description">
							<p>Choose one <i>Word of Power</i> and a creature you can see which has 50 hit points or fewer—that creature is now bound by your selected Word. If the creature is immune to the condition inflicted by your Word (or it has too many hit points) the effect fails.</p>
							<p>You can use this feature a number of times equal to your Charisma modifier, and you regain expended uses when you finish a long rest. You can't speak the same Word more than once per long rest, and a creature can only be affected by one <i>Word of Power</i> at a time. </p>
						</div>
						<ul class="features features--a">
							<li>
								<p><strong class="feature__title">Compel</strong> The creature is <i>Charmed</i> by you for up to 1 minute. In addition, you can suggest one simple activity that it should take—limited to four words. The creature will disregard suggestions that are unreasonable or cause self-harm.</p>
								<p>At the end of its turns, the creature can make a Wisdom saving throw to overcome the effect. The effect automatically ends if the creature is attacked by you or your allies.</p>
							</li>
							<li>
								<p><strong class="feature__title">Fear</strong> The creature is <i>Frightened</i> by you—or another source you specify—for up to 1 minute. At the end of its turns, the creature can make a Wisdom saving throw to overcome the effect.</p>
							</li>
							<li>
								<p><strong class="feature__title">Hold</strong> The creature is <i>Restrained</i> by you for up to 1 minute. At the end of its turns, the creature can make a Wisdom saving throw to overcome the effect.</p>
							</li>
							<li>
								<p><strong class="feature__title">Isolate</strong> The creature is <i>Deafened</i>, <i>Blinded</i>, and can't speak for up to 1 minute. At the end of its turns, the creature can make a Constitution saving throw to overcome the effect.</p>
							</li>
							<li>
								<p><strong class="feature__title">Sicken</strong> The creature is <i>Poisoned</i> by you for up to 1 minute. At the end of its turns, the creature can make a Constitution saving throw to overcome the effect.</p>
							</li>
						</ul>
					</section>
				</spell>

				<h3><span class="h3__highlight">6</span>Greater Words of Power</h3>
				<p>You can target creatures that have 75 hit points or fewer with your <i>Words of Power</i>.</p>

				<h3><span class="h3__highlight">10</span>Superior Words of Power</h3>
				<p>You can target creatures that have 100 hit points or fewer with your <i>Words of Power</i>.</p>
			</page>
		</book>
	</body>
</html>
