<html>
	<body>
		<book>
			<page class="page page--generic page--bard" data-header-icon="lyre">
				<h1 id="the-bard">The Bard</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=30>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Bard</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--bard">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Comp.<br/>Points</th>
										<th>Bardic Inspiration</th>
										<th>Cantrips<br/>Known</th>
										<th>Spells<br/>Known</th>
										<th colspan="5"><div class="spacer">Spell Slots</div></th>
										<th>Features</th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th>1st</th>
										<th>2nd</th>
										<th>3rd</th>
										<th>4th</th>
										<th>5th</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>2</td>
										<td>d6</td>
										<td>2</td>
										<td>4</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Spellcasting, Composition, Bardic Inspiration, Bard College</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>3</td>
										<td>d6</td>
										<td>2</td>
										<td>5</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Jack of All Trades, Song of Rest</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>4</td>
										<td>d6</td>
										<td>2</td>
										<td>6</td>
										<td>4</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Expertise, Bard College Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>5</td>
										<td>d6</td>
										<td>3</td>
										<td>7</td>
										<td>4</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>7</td>
										<td>d8</td>
										<td>3</td>
										<td>8</td>
										<td>4</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>9</td>
										<td>d8</td>
										<td>3</td>
										<td>9</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Countercharm, Bard College Features</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>11</td>
										<td>d8</td>
										<td>3</td>
										<td>10</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>1</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>14</td>
										<td>d8</td>
										<td>3</td>
										<td>11</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td>Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>17</td>
										<td>d8</td>
										<td>3</td>
										<td>12</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>3</td>
										<td>1</td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>20</td>
										<td>d10</td>
										<td>4</td>
										<td>12</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>3</td>
										<td>2</td>
										<td>Magical Secrets, Chords of Power, Bard College Features</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d8 per bard level.</li>
					<li><strong>Hit Points (1st-level):</strong> 8 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d8 (or 5) + your Constitution modifier per bard level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> Light armor.</li>
					<li><strong>Weapons:</strong> Simple weapons, hand crossbows, longswords, rapiers, shortswords.</li>
					<li><strong>Tools:</strong> Three musical instruments of your choice.</li>
					<li><strong>Saving Throws:</strong> Dexterity, Charisma.</li>
					<li><strong>Skills:</strong> Choose any three.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li>(a) a rapier, (b) a longsword, or (c) any simple weapon.</li>
					<li>(a) a diplomat's pack or (b) an entertainer's pack.</li>
					<li>(a) a lute or (b) any other musical instrument.</li>
					<li>Leather armor and a dagger</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 5d4 x 10 gold pieces (or 120 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--bard">
				<h2 data-icon="lyre">Class Features</h2>
				<p>As a bard, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Spellcasting</h3>
				<p>You gain the ability to cast magic spells using words of power and musical notes.</p>

				<h4>Cantrips</h4>
				<p>At 1st-level, you know two cantrips of your choice from the bard spell list. You learn additional bard cantrips of your choice at higher levels, as shown in the <i>Cantrips Known</i> column of the Class Features (Bard) table.</p>
				<p><strong>Replacing Known Cantrips:</strong> When you gain a bard level, you can choose one of the bard cantrips you know and replace it with another cantrip from the bard spell&nbsp;list.</p>

				<h4>Spell Slots</h4>
				<p>The Class Features (Bard) table shows how many spell slots you have to cast your spells of 1st-level and higher. To cast one of your spells, you must spend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>

				<!-- <example class="panel panel--example panel--example--placeholder">
					<p>Viridian knows the 1st-level spell <i>Cure Wounds</i> and has both a 1st-level and a 2nd-level spell slot available. He can cast <i>Cure Wounds</i> using either slot.</p>
				</example> -->

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Spells Known of 1st-level and Higher</h4>
				<p>At 1st-level, you know four 1st-level spells of your choice from the bard spell list. The <i>Spells Known</i> column of the Class Features (Bard) table shows when you learn more bard spells of your choice. Each of these spells must be of a level for which you have spell slots.</p>
				<p><strong>Replacing Known Spells:</strong> When you gain a bard level, you may choose one of the bard spells you know and replace it with another spell from the bard spell list. This new spell must be of a level for which you have spell slots.</p>

				<h4>Spellcasting Ability</h4>
				<p>Charisma is your spellcasting ability for your bard spells. Use your Charisma modifier to determine the saving throw DC or attack modifier for a bard spell you cast.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell Save DC:</strong> 8 + your proficiency bonus + your Charisma modifier</p>
						<p><strong>Spell Attack Modifier:</strong> your proficiency bonus + your Charisma modifier</p>
					</section>
				</mechanic>

				<h4>Ritual Casting</h4>
				<p>You can cast any bard spell you know as a ritual if that spell has the ritual tag.</p>

				<h4>Spellcasting Focus</h4>
				<p>You use a musical instrument as a spellcasting focus for your bard spells.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Composition</h3>
				<p>You have a number of composition points, as shown in the <i>Composition Points</i> column of the Class Features (Bard) table. You can spend composition to inspire and revitalize your allies—and you may learn other applications from your Bard College.</p>
				<p>You recover all expended composition points when you finish a long rest.</p>

				<h3><span class="h3__highlight">1</span>Bardic Inspiration</h3>
				<p>You can use your compositions to inspire other creatures with stirring words and music.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Bardic Inspiration</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Bard</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>Spend one bonus action and one point of composition to choose one creature other than yourself that is (a) within 60 feet of you and (b) can hear you. The chosen creature gains one <i>Bardic Inspiration</i> die—a d6.</p>
						</div>
						<ul class="features">
							<li>
								<p><strong class="feature__title">Being Inspired</strong> A creature with <i>Bardic Inspiration</i> has 10 minutes in which to choose to roll the die and add the number rolled to one ability check, attack roll, or saving throw it makes. The creature can wait until after it rolls before deciding to use the <i>Bardic Inspiration</i> die, but it must do so before the GM says whether the roll succeeds or fails.</p>
								<p>Once the die is rolled, it is spent. A creature can have only one Bardic Inspiration die at a time.</p>
							</li>
							<li><strong class="feature__title">Growing Inspiration</strong> The <i>Bardic Inspiration</i> die grows as you gain bard levels, as shown in the <i>Bardic Inspiration</i> column of the Class Features (Bard) table.</li>
						</ul>
					</section>
				</spell>

				<h3><span class="h3__highlight">1</span>Bard College</h3>
				<p>Choose a Bard College. You gain features from your Bard College at 1st, 3rd, 6th, and 10th-level.</p>

				<h4>Collegiate Pledges</h4>
				<p>Each college has a set of three guiding principles—its <i>pledges</i>—that help to preserve bardic traditions. Respect these pledges to gain distinction from fellow bards.</p>
				<p><strong>Collegiate Distinction:</strong> If you make a notable effort while honoring your collegiate pledges, you may gain a mark of <i>distinction</i>.</p>
				<p>During a long rest, you can spend one mark of distinction to share songs with another bard and replace one of your known bard spells (including cantrips) with another spell from the bard spell list. The new spell must be of the same spell level as the one you replace.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--bard">
				<h4>Collegiate Inspiration</h4>
				<p>At 1st-level, you gain a unique way to use your <i>Bardic Inspiration</i> class feature from your Bard College.</p>

				<h3><span class="h3__highlight">2</span>Jack of All Trades</h3>
				<p>You can add half your proficiency bonus, rounded down, to any ability check you make that doesn't already include your proficiency bonus.</p>

				<h3><span class="h3__highlight">2</span>Song of Rest</h3>
				<p>During a short rest, you can help to revitalize your allies by playing a soothing song or telling an inspiring story.</p>
				<p>If you—or any friendly creature who can hear your performance—regain hit points by spending one or more Hit Dice, each creature regains an extra 1d6 hit points.</p>
				<p><strong>Greater Song of Rest:</strong> At 9th-level, the extra hit points regained increases from 1d6 to 1d8.</p>

				<h4>Composed Song of Rest</h4>
				<p>When you begin a <i>Song of Rest</i>, you can spend composition to increase the bonus hit points granted.</p>
				<p>For each point of composition you spend, increase the die size of your song by one step (to a maximum of 1d12).</span></p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Song of Rest</h4>
					</header>
					<section class="panel__body">
						<p><strong>Composed Song of Rest:</strong> d6 → d8 → d10 → d12</p>
					</section>
				</mechanic>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Expertise</h3>
				<p>Choose two skills in which you are proficient. You gain <i>expertise</i> in these skills, doubling your proficiency bonus for any ability check you make that uses either skill.</p>
				<p><strong>Greater Expertise:</strong> At 10th-level, choose two additional skills in which you are proficient—you gain <i>expertise</i> in these skills also.</p>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">6</span>Countercharm</h3>
				<!-- <p>You gain the ability to use musical notes and words of power to disrupt mind-influencing effects.</p> -->
				<p>As an action, you start a performance that lasts until the end of your next turn. During that time, you and any friendly creatures within 30 feet of you have advantage on saving throws against being frightened or charmed.</p>
				<p>A creature must be able to hear you to benefit from this. The performance ends early if you are incapacitated, silenced, or if you voluntarily end it as a free action.</p>

				<col-break></col-break>

				<h4>Composed Countercharm</h4>
				<p>As you begin to perform <i>Countercharm</i>, you may choose to alter your performance in the following ways.</p>
				<p><strong>Fermata:</strong> Spend one point of composition to extend the maximum duration of your <i>Countercharm</i> by one additional round.</p>
				<p><strong>Forte:</strong> Spend one point of composition to extend the maximum range of your <i>Countercharm</i> from 30 ft to 60 ft.</p>
				<p><strong>Vivace:</strong> Spend one point of composition to perform <i>Countercharm</i> as a bonus action instead of a full action.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Magical Secrets</h3>
				<p>You learn two spells of your choice from any class. The spells don't have to be from the same class, but they must be a cantrip or of a spell level that you can cast.</p>
				<p>The chosen spells count as bard spells for you and don't count against the number of bard spells you know.</p>

				<h3><span class="h3__highlight">10</span>Chords of Power</h3>
				<p>In your trained hands, a musical instrument can suddenly become a dangerous, sonic weapon.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Chords of Power</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Bard</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>As a bonus action, you start a performance that lasts for up to 1 minute. During this time, any musical instrument that you hold can be used as:</p>
							<ol type="a">
								<li>A <i>simple weapon</i> that deals 1d10 thunder damage.</li>
								<li>A <i>simple ranged weapon</i> (range 60 ft) that deals 1d8 thunder damage.</li>
							</ol>
							<p>When you make an attack with a musical instrument, you can use your Charisma modifier (instead of Strength or Dexterity) for the attack and damage rolls.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Curtain Call</strong> Your performance ends early if (a) you are incapacitated, (b) you are silenced, or (c) you voluntarily end it as a free action.</li>
							<li><strong class="feature__title">Limited Run</strong> You may use this feature once, and you regain expended uses when you finish a long rest.</li>
						</ul>
					</section>
				</spell>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
