<html>
	<body>
		<book>
			<page class="page page--generic" data-header-icon="graduate-cap">
				<h1 id="bard-subclasses">Bard Colleges</h1>
				<p>Art demands an audience, and bards are nothing if not gregarious. To perfect their art, bards seek others out to swap songs and stories, boast of their accomplishments, and share their knowledge. Bards often form loose associations—their <i>colleges</i>—to facilitate their gatherings and preserve their traditions.</p>
				<p>Whatever your background, this chapter introduces a variety of colleges for you to choose from. Define your bardic traditions and perfect your art.</p>

				<h2>Choose Your College</h2>
				<p>Choose your college from one of the following options:</p>
				<ul>
					<li><strong>College of Dance:</strong> You dazzle, inspire, amaze, and astound your audience with elegant movements and well-practiced choreography.</li>
					<li><strong>College of Lore:</strong> You are a gatherer of knowledge and a seeker of truth, spinning little rumors into world-changing stories.</li>
					<li><strong>College of Tongues:</strong> You are a keen linguist and a student of exotic languages, using <i>Words of Power</i> to transform the world.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Colleges Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Brilliant Bard</i> is a work-in-progress with a limited number of origins. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>College of Colors:</strong> You are a maestro with a paintbrush, transforming the uninspired into pieces of living art.</li>
						</ul>
						<p>Got ideas for bard college you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating a College</h3>
				<p>To create your own <i>Bard College</i> (or to convert an existing college from other sources), follow these steps:</p>

				<ol>
					<li><strong>Create 3 Pledges:</strong> A bard college pledges to do three things. These pledges should be relatively open-ended and act as a roleplaying hook for your players.</li>
					<li><strong>Create a Collegiate Inspiration:</strong> Bard colleges grant a unique way of using the <i>Bardic Inspiration</i> die at 1st-level. This should be a thematic part of your college's overall identity.</li>
					<li><strong>Create 3rd and 6th-level Features:</strong> Bard colleges grant features at 3rd and 6th-level.</li>
					<li><strong>Create a 10th-level Capstone:</strong> At 10th-level, bard colleges grant a unique capstone feature that is the pinnacle of your college's theming.</li>
				</ol>

				<p>And that's it, your college is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
