<html>
	<body>
		<book>
			<page class="page page--generic page--bard-subclasses">
				<h2 data-icon="graduate-cap">College of Lore</h2>
				<p>You are a bard of the <i>College of Lore</i> and you know a little something about <i>almost</i> anything. From scholarly tomes in ancient ruins to peasant tales in dingy taverns, you collect fragments of knowledge from all corners of the world and spin local rumor into world-changing truth.</p>

				<h3><span class="h3__highlight">1</span>Collegiate Pledges</h3>
				<p>You—and other bards of your college—are guided by the following collegiate pledges:</p>

				<ol>
					<li><strong>Find the Truth:</strong> Inside every rumor hides a little truth. Collect stories wherever you go and assemble little truths into big discoveries.</li>
					<li><strong>Fight Corruption:</strong> Corrupt authorities are known to obscure truth and suppress knowledge. Expose and subvert these authorities so that the truth can shine.</li>
					<li><strong>Create History:</strong> You are not an archivist, trapping lore in books to hide on dusty shelves. You are a bard. Use your knowledge to change the world.</li>
				</ol>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Collegiate Inspiration</h3>
				<p>You learn how to use your wit to distract, confuse, and otherwise sap the confidence and competence of others.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Cutting Words</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Bard</li>
							<li>Lore</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>When a creature that you can see within 60 feet of you makes (a) an attack roll, (b) an ability check, or (c) a damage roll, you can use your reaction to spend one point of composition and unleash some <i>Cutting Words</i>.</p>
							<p>Roll your <i>Bardic Inspiration</i> die and subtract the number rolled from the creature's roll. You can choose to use this feature after the creature makes its roll, but it must be before (a) the GM determines whether the attack roll or ability check succeeds or fails, or (b) the creature deals its damage.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">I'm Not Listening</strong> You can't target a creature that either a) is immune to <i>Charmed</i> or b) can't hear you.</li>
						</ul>
					</section>
				</spell>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Diverse Education</h3>
				<p>You gain proficiency with three skills of your choice.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Hidden Lore</h3>
				<p>You learn two spells of your choice from any class. The spells don't have to be from the same class, but they must be a cantrip or of a level that you can cast—as shown in the Class Features (Bard) table.</p>
				<p>The chosen spells count as bard spells for you and don't count against the number of bard spells you know.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Peerless Skill</h3>
				<p>When you make an ability check, you can spend one point of composition to inspire yourself. Roll a <i>Bardic Inspiration</i> die and add the number rolled to your ability check result.</p>
				<p>You can wait until after you roll your check before deciding to use this feature, but you must decide before the GM says whether your check succeeds or fails.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
