<html>
	<body>
		<book>
			<page class="page page--generic page--beyond-10th-level" data-header-icon="infinity">
				<h1 id="beyond-10th-level">Beyond 10th-level</h1>
				<p>The classes described in <i>Class Compendium</i> contain character features for levels 1-10. But what happens when ten levels aren't enough? What do you do when you want your campaign to go even further beyond?</p>

				<h2>Multiclassing</h2>
				<p>To keep playing beyond 10th-level, enable multiclassing and allow your players to gain levels in multiple classes.</p>
				<p>As players advance in levels, their proficiency bonus is determined by the total sum of their class levels—this is their character level. Use the <i>Proficiency Bonus</i> table to see what bonus is granted at each character level.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3>Multiclassing Options</h3>
				<p>If you want to customize multiclassing to better suit your game, consider the following options:</p>

				<h4 class="h4--option">Focused Training</h4>
				<p>You can only choose a new multiclass option once you reach 10th-level in a class.</p>

				<h4 class="h4--option">Tri-classing</h4>
				<p>A character can have a maximum of three incomplete classes at any one time. Once a class reaches 10th-level, it's considered complete.</p>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Proficiency Bonuses</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--proficiency-bonuses">
							<table class="table">
								<thead>
									<tr>
										<th>Character Level</th>
										<th>Proficiency Bonus</th>
									</tr>
								</thead>
								<tbody>
									<tr class="header">
										<td colspan="2"><span>Heroic</span></td>
									</tr>
									<tr>
										<td>1st</td>
										<td>+2</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
									</tr>
									<tr class="header">
										<td colspan="2"><span>Paragon</span></td>
									</tr>
									<tr>
										<td>11th</td>
										<td>+4</td>
									</tr>
									<tr>
										<td>12th</td>
										<td>+4</td>
									</tr>
									<tr>
										<td>13rd</td>
										<td>+5</td>
									</tr>
									<tr>
										<td>14th</td>
										<td>+5</td>
									</tr>
									<tr>
										<td>15th</td>
										<td>+5</td>
									</tr>
									<tr>
										<td>16th</td>
										<td>+5</td>
									</tr>
									<tr>
										<td>17th</td>
										<td>+6</td>
									</tr>
									<tr>
										<td>18th</td>
										<td>+6</td>
									</tr>
									<tr>
										<td>19th</td>
										<td>+6</td>
									</tr>
									<tr>
										<td>20th</td>
										<td>+6</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Character Level</th>
										<th>Proficiency Bonus</th>
									</tr>
								</thead>
								<tbody>
									<tr class="header">
										<td colspan="2"><span>Legendary</span></td>
									</tr>
									<tr>
										<td>21st</td>
										<td>+7</td>
									</tr>
									<tr>
										<td>22nd</td>
										<td>+7</td>
									</tr>
									<tr>
										<td>23rd</td>
										<td>+7</td>
									</tr>
									<tr>
										<td>24th</td>
										<td>+7</td>
									</tr>
									<tr>
										<td>25th</td>
										<td>+8</td>
									</tr>
									<tr>
										<td>26th</td>
										<td>+8</td>
									</tr>
									<tr>
										<td>27th</td>
										<td>+8</td>
									</tr>
									<tr>
										<td>28th</td>
										<td>+8</td>
									</tr>
									<tr>
										<td>29th</td>
										<td>+9</td>
									</tr>
									<tr>
										<td>30th</td>
										<td>+9</td>
									</tr>
									<tr class="header">
										<td colspan="2"><span>Astral</span></td>
									</tr>
									<tr>
										<td>31st</td>
										<td>+9</td>
									</tr>
									<tr>
										<td>32nd</td>
										<td>+9</td>
									</tr>
									<tr>
										<td>33rd</td>
										<td>+10</td>
									</tr>
									<tr>
										<td>34th</td>
										<td>+10</td>
									</tr>
									<tr>
										<td>35th</td>
										<td>+10</td>
									</tr>
									<tr>
										<td>36th</td>
										<td>+10</td>
									</tr>
									<tr>
										<td>37th</td>
										<td>+11</td>
									</tr>
									<tr>
										<td>38th</td>
										<td>+11</td>
									</tr>
									<tr>
										<td>39th</td>
										<td>+11</td>
									</tr>
									<tr>
										<td>40th</td>
										<td>+11</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
