<html>
	<body>
		<book>
			<page class="page page--generic page--cleric-subclasses">
				<h2 data-icon="divided-spiral">Life Domain</h2>
				<p>The <i>Life Domain</i> focuses on the vibrant, positive energy that sustains all life. You channel this energy, pitting you against the forces of unnatural death and decay.</p>

				<h3><span class="h3__highlight">1</span>Commandments</h3>
				<p>You are guided by the following domain commandments:</p>

				<ol>
					<li><strong>Protect the Living:</strong> Help life to flourish in the world. When faced with a difficult choice, choose the side that promotes the most well-being—the needs of the many outweigh the needs of the one.</li>
					<li><strong>Ease Suffering:</strong> Look after the sick and wounded, and be kind to the dying—even those you might consider an enemy.</li>
					<li><strong>Suffer Not the Undead:</strong> Death is a natural part of life. Drive away those who seek to pervert the natural cycle, and return the undead to the grave.</li>
				</ol>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Domain Spells</h3>
				<p>You gain the following domain spells.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Life Domain Spells</h4>
					</header>
					<section class="panel__body">
						<table class="table table--life-spells">
							<thead>
								<tr>
									<th>Cleric Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Bless, Cure Wounds</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Lesser Restoration, Spiritual Weapon</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Beacon of Hope, Revivify</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Death Ward, Guardian of Faith</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Mass Cure Wounds, Raise Dead</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3><span class="h3__highlight">1</span>Disciple of Life</h3>
				<p>Whenever you cast a spell of 1st-level or higher to restore hit points to a creature, the creature regains additional hit points equal to 2 + the spell's level.</p>
				<p><strong>Greater Disciple of Life:</strong> Starting from 6th-level, when you cast a spell of 1st-level or higher that restores hit points to a creature other than you, you regain hit points equal to 2 + the spell's level.</p>

				<h4>Disciple Training</h4>
				<p>You gain proficiency with either (a) herbalism kits or (b) heavy armor—you may choose which.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">2</span>Channel Divinity</h3>
				<p>You gain two Channel Divinity powers: <i>Preserve Life</i> and <i>Turn Undead</i>.</p>

				<h4 class="h4--option">Preserve Life</h4>
				<p>As an action, you spend one point of faith to present your holy symbol and evoke healing energy that can restore a number of hit points equal to five times your cleric level. Choose any number of creatures within 30 feet of you and divide those hit points among them.</p>
				<p>This feature can restore a creature to no more than half of its hit point maximum. You can't use this feature on an undead or a construct.</p>

				<h4 class="h4--option">Turn Undead</h4>
				<p>As an action, you spend one point of faith to present your holy symbol and censure the undead. Each undead creature within 30 feet of you that can see or hear you must make a Wisdom saving throw (DC equal to 8 + your proficiency bonus + your Wisdom modifier).</p>
				<p><strong>If the Creature Succeeds:</strong> The creature is immune to your <i>Turn Undead</i> until you finish a long rest.</p>
				<p><strong>If the Creature Fails:</strong> The creature is turned for 1 minute or until it takes any damage.</p>
				<p>A turned creature must spend its turns trying to move as far away from you as it can, and it can't willingly move to a space within 30 feet of you. It also can't take reactions. For its action, it can use only the Dash action or try to escape from an effect that prevents it from moving. If there's nowhere to move, the creature can use the Dodge action.</p>

				<h3><span class="h3__highlight">6</span>Benedictions</h3>
				<p>Whenever you finish a long rest, you may choose one of the following benedictions.</p>

				<h4 class="h4--option">Destroy Undead</h4>
				<p>When an undead creature fails its saving throw against your <i>Turn Undead</i>, the creature is instantly destroyed if its challenge rating is at or below CR 1/2.</p>
				<p><strong>Greater Destroy Undead:</strong> Starting at 10th-level, undead creatures are instantly destroyed if their challenge rating is at or below CR 1.</p>

				<h4 class="h4--option">Fountain of Life</h4>
				<p>The maximum hit points restored by your <i>Preserve Life</i> increases from five to six times your cleric level.</p>
				<p><strong>Greater Fountain of Life:</strong> Starting at 10th-level, the maximum hit points restored by your <i>Preserve Life</i> increases from six to seven times your cleric level.</p>

				<h3><span class="h3__highlight">8</span>Divine Strike</h3>
				<p>When a creature takes damage from one of your spells or weapon attacks, you can deal an extra 1d8 radiant damage to that creature. Once you deal this damage, you can't do so again until the start of your next turn.</p>
				<p><strong>Empowered Strike:</strong> When you use a divine strike, you can spend one point of faith to increase the extra damage from 1d8 to 2d8.</p>
			</page>
		</book>
	</body>
</html>
