<html>
	<body>
		<book>
			<page class="page page--generic page--columns-1 page--bard-spells">
				<h2 class="layout--hidden" data-toc-ignore-book="true">Cleric Spells</h2>

				<list class="panel panel--list panel--list-spells">
					<header class="panel__header">
						<h4 class="panel__title">Spell List</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Cleric</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<div>
								<h5>Cantrips</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Guidance</li>
									<li class='phb'>Light</li>
									<li class='phb'>Mending</li>
									<li class='phb'>Resistance</li>
									<li class='phb'>Sacred Flame</li>
									<li class='phb'>Spare the Dying</li>
									<li class='phb'>Thaumaturgy</li>
									<li class='xgte'>Toll the Dead</li>
									<li class='xgte'>Word of Radiance</li>
								</ul>

								<h5>1st-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Bane</li>
									<li class='phb'>Bless</li>
									<li class='xgte'>Cause Fear</li>
									<li class='xgte'>Ceremony</li>
									<li class='phb'>Command</li>
									<li class='phb'>Create or Destroy Water</li>
									<li class='phb'>Cure Wounds</li>
									<li class='phb'>Detect Evil and Good</li>
									<li class='phb'>Detect Magic</li>
									<li class='phb'>Detect Poison and Disease</li>
									<li class='phb'>Guiding Bolt</li>
									<li class='phb'>Healing Word</li>
									<li class='phb'>Inflict Wounds</li>
									<li class='phb'>Protection from Evil and Good</li>
									<li class='phb'>Purify Food and Drink</li>
									<li class='phb'>Sanctuary</li>
									<li class='phb'>Shield of Faith</li>
								</ul>

								<h5>2nd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells" data-end-at=10>
									<li class='phb'>Aid</li>
									<li class='phb'>Augury</li>
								</ul>
							</div>
							<div>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells" data-start-from=11 data-end-at=85>
									<li class='phb'>Blindness/Deafness</li>
									<li class='phb'>Calm Emotions</li>
									<li class='phb'>Continual Flame</li>
									<li class='phb'>Enhance Ability</li>
									<li class='phb'>Find Traps</li>
									<li class='phb'>Gentle Repose</li>
									<li class='phb'>Hold Person</li>
									<li class='phb'>Lesser Restoration</li>
									<li class='phb'>Locate Object</li>
									<li class='phb'>Prayer of Healing</li>
									<li class='phb'>Protection from Poison</li>
									<li class='phb'>Silence</li>
									<li class='phb'>Spiritual Weapon</li>
									<li class='phb'>Warding Bond</li>
									<li class='phb'>Zone of Truth</li>
								</ul>

								<h5>3rd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells" data-end-at=72>
									<li class='phb'>Animate Dead</li>
									<li class='phb'>Beacon of Hope</li>
									<li class='phb'>Bestow Curse</li>
									<li class='phb'>Clairvoyance</li>
									<li class='phb'>Create Food and Water</li>
									<li class='phb'>Daylight</li>
									<li class='phb'>Dispel Magic</li>
									<li class='phb'>Feign Death</li>
									<li class='phb'>Glyph of Warding</li>
									<li class='xgte'>Life Transference</li>
									<li class='phb'>Magic Circle</li>
									<li class='phb'>Mass Healing Word</li>
									<li class='phb'>Meld into Stone</li>
									<li class='phb'>Protection from Energy</li>
									<li class='phb'>Remove Curse</li>
									<li class='phb'>Revivify</li>
									<li class='phb'>Sending</li>
									<li class='phb'>Speak with Dead</li>
								</ul>
							</div>
							<div>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells" data-end-at=84 data-start-from=73>
									<li class='phb'>Spirit Guardians</li>
									<li class='phb'>Tongues</li>
									<li class='phb'>Water Walk</li>
								</ul>

								<h5>4th-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Banishment</li>
									<li class='phb'>Control Water</li>
									<li class='phb'>Death Ward</li>
									<li class='phb'>Divination</li>
									<li class='phb'>Freedom of Movement</li>
									<li class='phb'>Guardian of Faith</li>
									<li class='phb'>Locate Creature</li>
									<li class='phb'>Stone Shape</li>
								</ul>

								<h5>5th-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Commune</li>
									<li class='phb'>Contagion</li>
									<li class='xgte'>Dawn</li>
									<li class='phb'>Dispel Evil and Good</li>
									<li class='phb'>Flame Strike</li>
									<li class='phb'>Geas</li>
									<li class='phb'>Greater Restoration</li>
									<li class='phb'>Hallow</li>
									<li class='xgte'>Holy Weapon</li>
									<li class='phb'>Insect Plague</li>
									<li class='phb'>Legend Lore</li>
									<li class='phb'>Mass Cure Wounds</li>
									<li class='phb'>Planar Binding</li>
									<li class='phb'>Raise Dead</li>
									<li class='phb'>Scrying</li>
									<li class='xgte'>Skill Empowerment</li>
									<li class='xgte'>Wall of Light</li>
									<li class="empty"></li>
									<li class="empty"></li>
								</ul>
							</div>
						</div>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
