<html>
	<body>
		<book>
			<page class="page page--generic page--cleric-subclasses" data-header-icon="divided-spiral">
				<h1 id="cleric-subclasses">Divine Domains</h1>
				<p>In a pantheon, every deity has influence over different aspects of mortal life. As a cleric, you choose one aspect of your deity's portfolio to emphasize.</p>
				<p>For as long as you faithfully serve your deity's commandments, you are granted powers related to your divine domain.</p>

				<h2>Choose Your Domain</h2>
				<p>Choose your domain from one of the following options:</p>
				<ul>
					<li><strong>Life Domain:</strong> By channeling positive energy from your deity, you encourage life to flourish as you battle the forces of unnatural death and decay.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Domains Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Capable Cleric</i> is a work-in-progress with a limited number of domains. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Death:</strong> You are a font of negative energy, spreading death and decay in your wake. The living fear you while the unliving bow to your will.</li>
							<li><strong>Redemption:</strong> In your eyes, everyone deserves a second chance. You help people to see the error of their ways and to turn a new path.</li>
							<li><strong>Trickery:</strong> Never tell the truth when a lie will do. You cloak your true intent with deception and illusions.</li>
							<li><strong>Tyranny:</strong> Committees create chaos, and freedom incites weakness. You bring people to heel and give them a purpose—whether they want you to or not.</li>
						</ul>
						<p>Got ideas for divine domains you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating a Domain</h3>
				<p>To create your own <i>Divine Domain</i> (or to convert an existing domain from other sources), follow these steps:</p>

				<ol>
					<li><strong>Add 3 Commandments:</strong> Add 3 commandments from your deity and domain. Commandments should be relatively open-ended and act as a guide for players when roleplaying.</li>
					<li><strong>Add Domain Spells:</strong> Divine domains expand the cleric spell list with 10 unique spell options. Add 2 spell options to be gained at 1st, 3rd, 5th, 7th, and 9th-levels.</li>
					<li>
						<p><strong>Create a 1st-level Feature:</strong> Divine domains grant an introductory feature at 1st-level.</p>
						<p>The cleric's primary resources are faith and spell slots—try to augment these features in fun ways.</p>
					</li>
					<li><strong>Add 2 Channel Divinities:</strong> Create two unique Channel Divinity powers to be gained at 2nd-level. Use these to highlight the unique—and sometimes contradictory—aspects of the domain.</li>
					<li><strong>Add Benedictions:</strong> Create one benediction—a divine enhancement—for each of the Channel Divinity powers. Benedictions gain in strength at 10th-level.</li>
					<li><strong>Create an 8th-level Feature:</strong> Divine domains grant a capstone feature at 8th-level—this is the pinnacle of the domain's theming.</li>
				</ol>

				<p>And that's it, your domain is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
