<html>
	<body>
		<book>
			<page class="page page--generic page--cleric" data-header-icon="wing">
				<h1 id="the-cleric">The Cleric</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=45>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Cleric</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--cleric">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Faith<br/>Points</th>
										<th>Cantrips<br/>Known</th>
										<th colspan="5"><div class="spacer">Spell Slots</div></th>
										<th>Features</th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th>1st</th>
										<th>2nd</th>
										<th>3rd</th>
										<th>4th</th>
										<th>5th</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td><span class="empty">—</span></td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Divine Domain, Spellcasting</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>2</td>
										<td>3</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Faith, Channel Divinity, Divine Domain Features</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>3</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>3</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>4</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Benedictions, Divine Domain Features</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>5</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>1</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>6</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td>Greater Ability Score Improvement, Divine Domain Features</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>7</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>3</td>
										<td>1</td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>8</td>
										<td>5</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>3</td>
										<td>2</td>
										<td>Divine Intervention</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d8 per cleric level.</li>
					<li><strong>Hit Points (1st-level):</strong> 8 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d8 (or 5) + your Constitution modifier per cleric level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> Light armor, medium armor, shields.</li>
					<li><strong>Weapons:</strong> Simple weapons.</li>
					<li><strong>Tools:</strong> None.</li>
					<li><strong>Saving Throws:</strong> Wisdom, Charisma.</li>
					<li><strong>Skills:</strong> Choose two from History, Insight, Medicine, Persuasion, and Religion.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li><i>(a)</i> a mace or <i>(b)</i> a warhammer.</li>
					<li><i>(a)</i> scale mail, <i>(b)</i> leather armor, or <i>(c)</i> chain mail.</li>
					<li><i>(a)</i> a light crossbow and 20 bolts or <i>(b)</i> a simple weapon.</li>
					<li><i>(a)</i> a priest's pack or <i>(b)</i> an explorer's pack.</li>
					<li>A shield and a holy symbol.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 5d4 x 10 gold pieces (or 120 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--cleric">
				<h2 data-icon="wing">Class Features</h2>
				<p>As a cleric, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Divine Domain</h3>
				<p>Choose a Divine Domain. You gain features from your Divine Domain at 1st, 2nd, 6th, and 8th-level.</p>

				<h4>Commandments</h4>
				<p>Each domain has a set of three guiding principles—its <i>commandments</i>—that help to direct you in the service of your deity. Honor these commandments to gain—and maintain—the favor of your deity.</p>
				<p><strong>Divine Favor:</strong> If you make a notable effort to honor a commandment, you may be blessed with <i>divine favor</i>. You can hold a maximum number of divine favors at one time equal to your Wisdom modifier (minimum 1).</p>
				<p>On your turn, as a free action, you may spend one point of divine favor to do one of the following:</p>
				<ul>
					<li><strong>Gain Stamina:</strong> Regain 1 expended hit die.</li>
					<li><strong>Gain Power:</strong> Regain 1 expended 1st-level spell slot.</li>
					<li><strong>Twist Fate:</strong> Reroll 1 ability check, attack roll, or saving throw. You must accept the second result.</li>
					<li><strong>Cause Pain:</strong> Reroll all damage dice of an attack you have just made. You may accept either result.</li>
					<li><strong>Forgiveness:</strong> Forgive one transgression you have made.</li>
				</ul>
				<p><strong>Transgression:</strong> If your deity decides that you have actively broken or rejected a commandment, some of your divine power may be stripped away for a time.</p>
				<p>Roll a d6 and check the <i>Transgression</i> table below to find out which class feature you lose access to. Reroll any result that doesn't fully apply to you.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Transgression</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--transgression">
							<table class="table">
								<thead>
									<tr>
										<th>d6</th>
										<th>Feature Lost</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Domain Spells</td>
									</tr>
									<tr>
										<td>2</td>
										<td>1d4 Faith Points</td>
									</tr>
									<tr>
										<td>3</td>
										<td>1 Channel Divinity</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>d6</th>
										<th>Feature Lost</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>4</td>
										<td>Divine Intervention</td>
									</tr>
									<tr>
										<td>5</td>
										<td>Ritual Casting</td>
									</tr>
									<tr>
										<td>6</td>
										<td>Another Feature</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<p><strong>Penance:</strong> If you have transgressed, you will have to perform a penance to regain your deity's favor. The scale of this penance may vary depending on the severity of your transgression, but some common forms include:</p>

				<ul>
					<li><strong>Donate:</strong> You make a charitable donation of goods, coin, or time to a worthy cause.</li>
					<li><strong>Confess:</strong> You confess your transgression to a higher-ranking agent of your faith and are forgiven.</li>
					<li><strong>Pray:</strong> You spend a period of time in dedicated prayer to and worship of your deity.</li>
					<li><strong>Serve:</strong> You undertake a divine quest in the service of your deity and their domain.</li>
					<li><strong>Sacrifice:</strong> You give up something of significant personal value.</li>
				</ul>

				<p>If your penance is accepted, you regain one lost feature.</p>

				<col-break></col-break>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Domain Spells</h4>
				<p>Each domain has a list of spells—its domain spells—that you gain at the cleric levels noted in the domain description. Once you gain a domain spell, you always have it prepared, and it doesn't count against the number of spells you can prepare each day.</p>
				<p>If you have a domain spell that doesn't appear on the cleric spell list, the spell is still a cleric spell for you.</p>

				<h3><span class="h3__highlight">1</span>Spellcasting</h3>
				<p>You gain the ability to cast cleric spells by channeling divine power.</p>

				<h4>Cantrips</h4>
				<p>At 1st-level, you know three cantrips of your choice from the cleric spell list. You learn additional cleric cantrips of your choice at higher levels, as shown in the <i>Cantrips Known</i> column of the Class Features (Cleric) table.</p>
				<p><strong>Replacing Known Cantrips:</strong> When you gain a cleric level, you may choose one of the cleric cantrips you know and replace it with another cantrip from the cleric spell list.</p>

				<h4>Spell Slots</h4>
				<p>The Class Features (Cleric) table shows how many spell slots you have to cast your spells of 1st-level and higher. To cast one of your spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>
				<p>For example, if you know the 1st-level spell cure wounds and have a 1st-level and a 2nd-level spell slot available, you can cast cure wounds using either slot.</p>

				<h4>Preparing Spells</h4>
				<p>You prepare the list of cleric spells that are available for you to cast, choosing from the cleric spell list.</p>
				<p><strong>Preparing Your Spell List:</strong> Choose a number of cleric spells equal to your Wisdom modifier + your cleric level (minimum of one spell). The spells must be of a level for which you have spell slots. Casting a spell doesn't remove it from your list of prepared spells.</p>
				<p>For example, if you are a 3rd-level cleric with a Wisdom of 16, your list of prepared spells can include six spells of 1st or 2nd-level, in any combination.</p>
				<p><strong>Changing Your Prepared Spells:</strong> You can change your list of prepared spells when you finish a long rest. Preparing a new list of cleric spells requires time: at least 1 minute per spell level for each spell on your list.</p>

				<h4>Spellcasting Ability</h4>
				<p>Wisdom is your spellcasting ability for your cleric spells. Use your Wisdom modifier to determine the saving throw DC or attack modifier for a cleric spell you cast.</p>
			</page>
			<page class="page page--generic page--cleric">
				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell Save DC:</strong> 8 + your proficiency bonus + your Wisdom modifier</p>
						<p><strong>Spell Attack Modifier:</strong> your proficiency bonus + your Wisdom modifier</p>
					</section>
				</mechanic>

				<h4>Ritual Casting</h4>
				<p>You can cast a cleric spell as a ritual if that spell has the ritual tag and you have the spell prepared.</p>

				<h4>Spellcasting Focus</h4>
				<p>You use a holy symbol as a spellcasting focus for your cleric spells.</p>

				<h4>Divine Versatility</h4>
				<p>When you finish a long rest, you can spend one point of divine favor to replace one of your known cleric cantrips with another cantrip from the cleric spell list.</p>

				<h3><span class="h3__highlight">2</span>Faith</h3>
				<p>You have a number of faith points, as shown in the <i>Faith Points</i> column of the Class Features (Cleric) table. You can spend faith to channel power from your deity and ask for aid—and you may learn other applications from your Divine Domain.</p>
				<p>You recover all expended faith points when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">2</span>Channel Divinity</h3>
				<p>You gain two divine powers from your Divine Domain. Some domains may grant you additional effects as you advance in levels, as noted in the domain description.</p>
				<p><strong>Saving Throws:</strong> Some Channel Divinity effects require saving throws. When you use such an effect from this class, the DC equals your cleric spell save DC.</p>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">6</span>Benedictions</h3>
				<p>You are able to empower your Channel Divinity powers with <i>Benedictions</i>. Choose one benediction from your Divine Domain. Whenever you finish a long rest, you may change your selected benediction.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">10</span>Divine Intervention</h3>
				<p>You spend an action to call upon your deity for aid. Describe the assistance you seek, roll a d20, and check the result on the <i>Divine Intervention</i> table. The GM chooses the nature of the intervention; the effect of any cleric spell or cleric domain spell (such as those included in the <i>Divine Effects</i> table below) would be appropriate.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>
				<p><strong>Empowered Request:</strong> You can spend any number of faith points and divine favor to increase your chance of success—to a maximum equal to your Wisdom modifier (minimum of 1). Add +1 to your result for each point you spend. You must decide how many points you wish to spend before you make your roll.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Divine Intervention</h4>
					</header>
					<section class="panel__body">
						<table class="table table--divine-intervention">
							<thead>
								<tr>
									<th>Result</th>
									<th>Effect</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1-2</td>
									<td>Your deity is greatly offended. You have transgressed. In addition, you can't use this feature again until you finish 2d4 long rests.</td>
								</tr>
								<tr>
									<td>3-6</td>
									<td>You sense that your deity is displeased. You can't use this feature again until you finish 1d4 long rests.</td>
								</tr>
								<tr>
									<td>7-18</td>
									<td>There is no response from your deity.</td>
								</tr>
								<tr>
									<td>19+</td>
									<td>Your deity intervenes—though not necessarily in the way you had hoped.</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Divine Effects</h4>
					</header>
					<section class="panel__body">
						<ul class="list-autorange" data-show-wrapper=0 data-tables=2 data-column="Effect" data-table-css="tables--divine-effects">
							<li>Antimagic Field</li>
							<li>Astral Projection</li>
							<li>Blade Barrier</li>
							<li>Conjure Celestial</li>
							<li>Control Weather</li>
							<li>Create Undead</li>
							<li>Divine Word</li>
							<li>Earthquake</li>
							<li>Etherealness</li>
							<li>Find the Path</li>
							<li>Fire Storm</li>
							<li>Forbiddance</li>
							<li>Gate</li>
							<li>Harm</li>
							<li>Heal</li>
							<li>Heroes' Feast</li>
							<li>Holy Aura</li>
							<li>Mass Heal</li>
							<li>Planar Ally</li>
							<li>Plane Shift</li>
							<li>Power Word Heal</li>
							<li>Regenerate</li>
							<li>Resurrection</li>
							<li>Symbol</li>
							<li>Temple of the Gods</li>
							<li>True Resurrection</li>
							<li>True Seeing</li>
							<li>Word of Recall</li>
						</ul>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
