<html>
	<body>
		<book>
			<page class="page page--generic page--cleric-variants" data-header-icon="cog">
				<h1 id="cleric-variants">Variant Dials</h1>
				<p>If you want to adjust the cleric class to better suit your own campaign and playstyle, then consider these variant dials.</p>

				<h2>Multiclassing</h2>
				<p>If your campaign supports multiclassing, apply these modifiers to use the cleric as a multiclass option:</p>

				<ul>
					<li><strong>Minimum Requirement:</strong> Wisdom 13.</li>
					<li><strong>Proficiencies:</strong> Light armor, medium armor, shields.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>No Commandments</h2>
				<p>If you don't want deities to have a mechanical influence over your player's roleplaying choices, you may remove commandments, transgressions, and divine favor.</p>
				<p>In addition, make the following change to the <i>Divine Versatility</i> feature.</p>

				<h3>Divine Versatility</h3>
				<p>When you finish a long rest, you may replace one of your known cleric cantrips with another cantrip from the cleric spell list.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h2>Restricted Retraining</h2>
				<p>If you want to make retraining a little more significant or costly for the cleric, try using these options.</p>

				<h4 class="h4--option">Sanctuary</h4>
				<p>To use your <i>Divine Versatility</i> or change your prepared spells, you must be in a safe sanctuary—such as a village, town, or city—where you are able to concentrate on your divine guidance.</p>

				<h4 class="h4--option">Facilities</h4>
				<p>To use your <i>Divine Versatility</i> or change your prepared spells, you must have access to appropriate facilities—a shrine or temple, prayer books, mentors and acolytes, etc.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>Short Rest Recovery</h2>
				<p>This supplement emphasizes the use of <i>long rests</i> as a primary recovery mechanic. But if your campaign is more dependent on short rests, use these alternative rules.</p>

				<mechanic class="panel panel--mechanic panel--faith">
					<header class="panel__header">
						<h4 class="panel__title">Faith</h4>
					</header>
					<section class="panel__body">
						<p>Starting at <strong>1st-level</strong>, you have one faith point. You regain all expended faith when you finish a short or long rest.</p>
						<p>Starting at <strong>6th-level</strong>, your maximum number of faith points increases from 1 to 2.</p>
					</section>
				</mechanic>
			</page>
		</book>
	</body>
</html>
