<html>
	<body>
		<book>
			<page class="page page--generic page--druid" data-header-icon="pawprint">
				<h1 id="the-druid">The Druid</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=15>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Druid</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--druid">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Primal Power</th>
										<th>Cantrips<br/>Known</th>
										<th colspan="5"><div class="spacer">Spell Slots</div></th>
										<th>Features</th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th>1st</th>
										<th>2nd</th>
										<th>3rd</th>
										<th>4th</th>
										<th>5th</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>2</td>
										<td>2</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Druidic, Spellcasting, Primal Power, Wild Shape, Druid Circle</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>3</td>
										<td>2</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Natural Recovery</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>4</td>
										<td>2</td>
										<td>4</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Druid Circle Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>5</td>
										<td>3</td>
										<td>4</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>6</td>
										<td>3</td>
										<td>4</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>7</td>
										<td>3</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Druid Circle Features</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>8</td>
										<td>3</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>1</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>9</td>
										<td>3</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td>Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>10</td>
										<td>3</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>3</td>
										<td>1</td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>11</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>3</td>
										<td>2</td>
										<td>Weald Walker, Druid Circle Features</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d8 per druid level.</li>
					<li><strong>Hit Points (1st-level):</strong> 8 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d8 (or 5) + your Constitution modifier per druid level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> Light armor, medium armor, shields (druids will not wear armor or use shields made of metal).</li>
					<li><strong>Weapons:</strong> Clubs, daggers, darts, javelins, maces, quarterstaffs, scimitars, sickles, slings, spears.</li>
					<li><strong>Tools:</strong> Herbalism kit.</li>
					<li><strong>Saving Throws:</strong> Intelligence, Wisdom.</li>
					<li><strong>Skills:</strong> Choose two from Arcana, Animal Handling, Insight, Medicine, Nature, Perception, Religion, and Survival.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li>(a) a wooden shield or (b) any simple weapon.</li>
					<li>(a) a scimitar or (b) any simple melee weapon.</li>
					<li>Leather armor, an explorer's pack, and a druidic focus.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 5d4 gold pieces (or 12 gp). You may spend some or all of this gold to purchase your own equipment.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--druid">
				<h2 data-icon="pawprint">Class Features</h2>
				<p>As a druid, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Druidic</h3>
				<p>You know Druidic, the secret language of druids. You can speak the language and use it to leave hidden messages.</p>
				<p>You and others who know this language automatically spot such a message. Others can spot the message's presence with a successful DC 15 Wisdom (Perception) check—but they can't decipher it without magic.</p>

				<h3><span class="h3__highlight">1</span>Spellcasting</h3>
				<p>Drawing on the divine essence of nature itself, you can cast spells to shape that essence to your will.</p>

				<h4>Cantrips</h4>
				<p>At 1st-level, you know two cantrips of your choice from the druid spell list. You learn additional druid cantrips of your choice at higher levels, as shown in the <i>Cantrips Known</i> column of the Class Features (Druid) table.</p>

				<h4>Spell Slots</h4>
				<p>The Class Features (Druid) table shows how many spell slots you have to cast your spells of 1st-level and higher. To cast one of your spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Preparing Spells</h4>
				<p>You prepare the list of druid spells that are available for you to cast, choosing from the druid spell list.</p>
				<p><strong>Preparing your Spell List:</strong> Choose a number of druid spells equal to your Wisdom modifier + your druid level (minimum of one spell). The spells must be of a level for which you have spell slots. Casting a spell doesn't remove it from your list of prepared spells.</p>
				<p><strong>Changing your Prepared Spells:</strong> You can change your list of prepared spells when you finish a long rest. Preparing a new list of druid spells requires time: at least 1 minute per spell level for each spell on your list.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Spellcasting Ability</h4>
				<p>Wisdom is your spellcasting ability for your druid spells. Use your Wisdom modifier to determine the saving throw DC or attack modifier for a druid spell you cast.</p>

				<col-break></col-break>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell Save DC:</strong> 8 + your proficiency bonus + your Wisdom modifier</p>
						<p><strong>Spell Attack Modifier:</strong> your proficiency bonus + your Wisdom modifier</p>
					</section>
				</mechanic>

				<h4>Ritual Casting</h4>
				<p>You can cast a druid spell as a ritual if that spell has the ritual tag and you have the spell prepared.</p>

				<h4>Spellcasting Focus</h4>
				<p>You can use a druidic focus as a spellcasting focus for your druid spells.</p>

				<h4>Natural Versatility</h4>
				<p>When you finish a long rest, you may choose one of your druid cantrips and replace it with another cantrip from the druid spell list.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Primal Power</h3>
				<p>You have an amount of primal power, as shown in the <i>Primal Power</i> column of the Class Features (Druid) table. You can spend primal power to shapeshift into animal forms—and you may learn other applications from your Druid Circle.</p>
				<p>You recover all expended primal power when you finish a long rest.</p>

				<h3><span class="h3__highlight">1</span>Wild Shape</h3>
				<p>You are able to spend primal power to magically shapeshift into the form of a beast. See the <i>Wild Shape</i> (<span class="page-detail--page-number" data-target="druid-wild-shape"></span>) section for more details about this feature.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Druid Circle</h3>
				<p>Choose a Druid Circle. You gain features from your Druid Circle at 1st, 3rd, 6th, and 10th-level.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--druid">
				<h3><span class="h3__highlight">2</span>Natural Recovery</h3>
				<p>When you finish a short rest, you can recover some expended spell slots. The spell slots must have a combined level equal to or less than half your druid level (rounded up), and none of the slots can be 6th-level or higher.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">10</span>Weald Walker</h3>
				<p>You are able to tap into the primal power of nature and travel great distances. Create a weald tree and you'll never be far from home.</p>

				<h4>Creating a Weald Tree</h4>
				<p>You may perform a 1 hour wealding ritual to create a weald tree. You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Create Weald Tree</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Druid</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> 1 hour</li>
							<li><strong>Range:</strong> 10 ft</li>
							<li><strong>Components:</strong> V, S</li>
						</ul>
						<div class="description">
							<p>Spend 6 primal power and choose a living, inanimate, nonmagical, Large (or larger) tree within 10 ft. That tree becomes a weald tree.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Magical</strong> Once a tree becomes a weald tree, it is considered magical and can be detected by magical senses (such as the <i>Detect Magic</i> spell).</li>
							<li><strong class="feature__title">Primal Connections</strong> You can maintain a number of active weald trees equal to your Wisdom modifier (minimum of 2). If you are already at your maximum number, you can't cast this ritual.</li>
						</ul>
					</section>
				</spell>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h4>Weald Walking</h4>
				<p>You can spend an action to create a magical link between your weald trees. You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Weald Walk</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Druid</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> 1 action</li>
							<li><strong>Range:</strong> 10 ft</li>
							<li><strong>Components:</strong> V, S</li>
							<li><strong>Duration:</strong> 1 round</li>
						</ul>
						<div class="description">
							<p>Choose one weald tree within range and another weald tree on the same plane of existence. For the duration, any creature can step into the target tree and exit from the destination tree by using 5 ft of movement.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Homegrown</strong> You can target only weald trees that you have created yourself.</li>
							<li><strong class="feature__title">Creature Size</strong> A creature must be of a size category equal to or smaller than both the targeted weald trees.</li>
							<li>
								<p><strong class="feature__title">No Metal</strong> You can't transport metal by weald walking. When a creature passes through a weald tree, any metal objects that they carry are dropped at the foot of the target tree. If this is not possible—or it would cause harm to the creature—the creature can't travel through the weald tree.</p>
								<p>Metal that is concealed within a magical container—such as a <i>Bag of Holding</i> or <i>Handy Haversack</i> can pass through without detection.</p>
							</li>
						</ul>
					</section>
				</spell>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Unwealding</h4>
				<p>You are able to turn a weald tree back into a normal tree by one of two methods:</p>

				<ul>
					<li><strong>Unwealding Ritual:</strong> You can perform an unwealding ritual to remove the primal power from one of your weald trees. This ritual takes 1 minute, and you must be within 10 ft of the weald tree to cast it.</li>
					<li><strong>Destruction:</strong> If a weald tree is killed or otherwise destroyed, it loses its primal power.</li>
					<li><strong>Death:</strong> If you die, your weald trees lose their primal power.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
