<html>
	<body>
		<book>
			<page class="page page--generic page--druid-subclasses" data-header-icon="curled-leaf">
				<h1 id="druid-subclasses">Druid Circles</h1>
				<p>You are a druid, a guardian of the wild world. With primal power, you defend flora and fauna against those who would supplant them with metal and machines.</p>
				<p>But where do you draw your primal power from? Do you call on the land to fuel your spells? Do you draw power from beasts and take on powerful animal forms? Or do you call on the natural elements to defend and destroy?</p>
				<p>Choose a <i>Druid Circle</i> to help grow a deep, druidic connection to the natural world.</p>

				<h2>Choose Your Circle</h2>
				<p>Choose your druid circle from one of the following options:</p>
				<ul>
					<li><strong>Circle of the Land:</strong> You draw your power from the land itself to safeguard ancient knowledge and druidic rites. </li>
					<li><strong>Circle of the Beast:</strong> You are a gifted shapeshifter, and you switch between animal forms as easily as taking a breath.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Circles Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Dynamic Druid</i> is a work-in-progress with a limited number of traditions. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Circle of Spores:</strong> With mold and fungus, you turn death and decay into life and growth.</li>
							<li><strong>Circle of Wildfire:</strong> Destruction is an inevitable part of the natural world. With fire and flame, you destroy the old to make way for the new.</li>
						</ul>
						<p>Got ideas for druid circles you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating a Circle</h3>
				<p>To create your own <i>Druid Circle</i> (or to convert an existing tradition from other sources), follow these steps:</p>

				<ol>
					<li><strong>Create 1st, 3rd, and 6th-level Features:</strong> Druid circles grant features at 1st, 3rd, and 6th-level.</li>
					<li><strong>Create a 10th-level Capstone:</strong> At 10th-level, druid circles grant a unique capstone feature that is the pinnacle of your circle's theming.</li>
				</ol>

				<p>And that's it, your circle is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
