<html>
	<body>
		<book>
			<page class="page page--generic page--druid-wild-shape">
				<h2 id="druid-wild-shape" data-icon="pawprint">Wild Shape</h2>
				<p>As a druid, you are able to tap into the primal essence of wild beasts. Use your primal power to shapeshift into animal forms and defend the wilds with savage fury.</p>

				<list class="panel panel--list" data-resize=30>
					<header class="panel__header">
						<h4 class="panel__title">Wild Shape</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Druid</li>
						</ul>
					</header>
					<section class="panel__body">
						<table class="table table--wild-shape">
							<thead>
								<tr>
									<th>Level</th>
									<th colspan="3"><div class="spacer">Primal Features</div></th>
								</tr>
								<tr>
									<th></th>
									<th>Essences</th>
									<th>Skins</th>
									<th>Traits</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>3</td>
									<td>2</td>
									<td>1</td>
								</tr>
								<tr>
									<td>2nd</td>
									<td>3</td>
									<td>2</td>
									<td>1</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>3</td>
									<td>2</td>
									<td>2</td>
								</tr>
								<tr>
									<td>4th</td>
									<td>3</td>
									<td>3</td>
									<td>2</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>4</td>
									<td>3</td>
									<td>3</td>
								</tr>
								<tr>
									<td>6th</td>
									<td>4</td>
									<td>3</td>
									<td>3</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>4</td>
									<td>4</td>
									<td>4</td>
								</tr>
								<tr>
									<td>8th</td>
									<td>4</td>
									<td>4</td>
									<td>4</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>5</td>
									<td>4</td>
									<td>5</td>
								</tr>
								<tr>
									<td>10th</td>
									<td>5</td>
									<td>5</td>
									<td>5</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3>Your Wild Shapes</h3>
				<p>A wild shape is a magical merging of a primal essence, a beast skin, and your own druidic characteristics and personality.</p>

				<h4>Primal Essences</h4>
				<p>At the heart of every wild shape is a <i>primal essence</i>. It is this essence that defines the primary abilities, defenses, and basic traits of your wild shape.</p>
				<p>At 1st-level, you know three common primal essences (<span class="page-detail--page-number" data-target="wild-shape-primal-essences"></span>) of your choice. You learn additional essences of your choice at higher levels as shown in the <i>Primal Essences</i> column of the Wild Shape table.</p>
				<p><strong>Replacing Known Essences:</strong> When you finish a long rest, you can choose one of your known essences and replace it with a different option.</p>

				<h4>Primal Skins</h4>
				<p>Primal skins defines what you look like—cat, bear, unicorn, frog, etc. They also define the capabilities—and limitations—of your wild shape. Cats have claws, birds fly, horses gallop, etc—be creative with the natural features of your beast skin.</p>
				<p>At 1st-level, you know two common primal skins of your choice. You learn additional skins of your choice at higher levels as shown in the <i>Primal Skins</i> column of the Wild Shape table.</p>
				<p><strong>Size Categories:</strong> Each skin that you learn has a size category—tiny, small, medium, etc—that matches the size of the beast you learned the skin from. The larger your wild shape is, the more formidable you are—but the more primal power you must spend to take on the wild shape.</p>
				<p><strong>Replacing Known Skins:</strong> You can replace your known primal skins by studying beasts and mastering their form. See <i>Primal Skins</i> (<span class="page-detail--page-number" data-target="wild-shape-primal-skins"></span>) for more details.</p>

				<col-break></col-break>

				<h4>Primal Traits</h4>
				<p>Primal traits enable you to customize your wild shape feature to better suit your own druidic interests—talking while shapeshifted, changing your appearance, gaining more primal skins, etc.</p>
				<p>At 1st-level, you know one primal trait of your choice. You learn additional traits of your choice at higher levels as shown in the <i>Primal Traits</i> column of the Wild Shape table.</p>

				<h3>Shapeshifting</h3>
				<p>During your turn, you can spend an action to take on a <i>wild shape</i>. There are four basic steps to shapeshifting:</p>

				<ol>
					<li>
						<p><strong>Your Essence:</strong> Choose one primal essence from your list of known essences. Change your own AC, speed, and size to match your essence, and add any skills and traits you gain.</p>
					</li>
					<li>
						<p><strong>Your Skin:</strong> Choose one primal skin from your list of known skins. Make sure to pick one that is appropriate for your essence.</p>
					</li>
					<li>
						<p><strong>Your Size:</strong> Choose the size category that matches your skin and update your AC, speed, and unarmed damage.</p>
					</li>
					<li>
						<p><strong>Spend Primal Power:</strong> Finally, spend your primal power to assume your wild shape.</p>
					</li>
				</ol>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Wild Shape Sizes</h4>
					</header>
					<section class="panel__body">
						<table class="table table--wild-shape-sizes">
							<thead>
								<tr>
									<th>Size</th>
									<th>AC</th>
									<th>Speed</th>
									<th>Unarmed Damage</th>
									<th>Primal Power</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Tiny</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
									<td>1 + STR</td>
									<td>1</td>
								</tr>
								<tr>
									<td>Small</td>
									<td><span class="empty">—</span></td>
									<td>+5 ft</td>
									<td>1d4 + STR</td>
									<td>2</td>
								</tr>
								<tr>
									<td>Medium</td>
									<td>+1</td>
									<td>+10 ft</td>
									<td>1d6 + STR</td>
									<td>3</td>
								</tr>
								<tr>
									<td>Large</td>
									<td>+1</td>
									<td>+15 ft</td>
									<td>1d8 + STR</td>
									<td>4</td>
								</tr>
								<tr>
									<td>Huge</td>
									<td>+2</td>
									<td>+20 ft</td>
									<td>1d10 + STR</td>
									<td>5</td>
								</tr>
								<tr>
									<td>Gargantuan</td>
									<td>+2</td>
									<td>+25 ft</td>
									<td>1d12 + STR</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Appearance</h4>
				<p>When you shapeshift, you don't become an exact copy of your primal skin. Instead, there is something personal and unique about your wild appearance—fur pattern, horn shape, eye color, etc.</p>
				<p>This is usually a feature carried over from your natural appearance as you shapeshift—whether you want it to or not. Most druids have one notable quirk that persists across all their shapeshifted forms.</p>

				<h4>Duration</h4>
				<p>You can remain shapeshifted for one hour, at which point you revert to your normal form automatically unless you expend additional primal power to maintain your shape.</p>
				<p>You can also revert to your normal form by (a) spending a bonus action on your turn to end the effect, (b) falling unconscious, or (c) falling to 0 hit points.</p>
			</page>
			<page class="page page--generic page--druid-wild-shape">
				<h4>Equipment</h4>
				<p>You choose whether your equipment falls to the ground in your space, merges into your new form, or continues to be worn by you.</p>
				<p>Your equipment doesn't change size or shape to match your new shape, and any equipment that you can't wear must either fall to the ground or merge with your form. Equipment that merges with your form has no effect until you leave your wild shape.</p>

				<h4>Hit Points & Attributes</h4>
				<p>When you shapeshift, your hit points—both current and maximum—don't change. Neither do your attributes, saving throws, resistances, or vulnerabilities—unless specified otherwise in your primal essence.</p>
				<p><strong>Character Features:</strong> You retain the benefit of any features from your class, race, or other source and can use them if your wild shape is physically capable of doing so. However, you can’t use any of your special senses—such as darkvision—unless your new form also has that sense.</p>

				<h4>Making Attacks</h4>
				<p>While you are shapeshifted, you can make unarmed attacks using any of your wild shape's natural weapons—teeth, claws, horns, etc. You are proficient with unarmed attacks while shapeshifted.</p>
				<p><strong>Spellcasting:</strong> While you are shapeshifted, you can't cast spells. Shapeshifting doesn't break your concentration on a spell you've already cast, or prevent you from taking actions that are part of a spell—such as <i>Call Lightning</i>—that you've already cast.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Movement</h4>
				<p>Some beasts have special modes of natural movement—burrowing, climbing, swimming, flying, etc. However, when you shapeshift, you are limited to a walking speed as listed in your essence profile.</p>
				<p>You may gain additional move speeds by mastering uncommon essences such as <i>Essence of the Hawk</i>, <i>Essence of the Mole</i>, and <i>Essence of the Spider</i>.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3 id="wild-shape-primal-essences">Primal Essences</h3>
				<p>Primal essences are at the heart of your wild shape, defining your beast abilities and traits. Essences come in two categories—common and uncommon.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Common Essences</h4>
				<p>Common essences are available to all druids—you can learn these from 1st-level.</p>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Burrowing</h4>
						<p class="panel__subtitle">Burrow beneath your prey.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">12</span></li>
							<li><span class="name">Speed</span><span class="modifier">15 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Perception</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Natural Burrower</strong> You gain a burrowing speed equal to half your walking speed (rounded down).</li>
							<li><strong class="feature__title">Squeeze</strong> You can move through a space smaller than you by one size category without penalty.</li>
						</ul>
					</section>
				</wildshape>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Climbing</h4>
						<p class="panel__subtitle">Climb out of sight of your prey.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">12</span></li>
							<li><span class="name">Speed</span><span class="modifier">15 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Perception</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Natural Climber</strong> You gain a climb speed equal to your walking speed.</li>
							<li><strong class="feature__title">No Bounds</strong> You can climb difficult surfaces, including upside down on ceilings, without needing to make an ability check.</li>
						</ul>
					</section>
				</wildshape>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Defense</h4>
						<p class="panel__subtitle">Shrug off your prey's attacks with your natural defenses.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">16</span></li>
							<li><span class="name">Speed</span><span class="modifier">10 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Athletics</span></li>
						</ul>
						<ul class="features">
							<li>
								<p><strong class="feature__title">Durable</strong> Gain temporary hit points equal to your druid level times four (x4). You lose these temporary hit points when you end this wild shape.</p>
								<p>This temporary hit point bonus increases with the size category of your skin: small (x6), medium (x7), large (x8), huge (x9), and gargantuan (x10).</p>
							</li>
							<li><strong class="feature__title">Relentless</strong> The first time you are reduced to 0 hit points while wearing this wild shape, you are reduced to 1 hit point instead. You can't use this feature again until you finish a long rest.</li>
						</ul>
					</section>
				</wildshape>
			</page>
			<page class="page page--generic page--druid-wild-shape">
				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Dexterity</h4>
						<p class="panel__subtitle">Strike at your prey with opportune precision.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">12</span></li>
							<li><span class="name">Speed</span><span class="modifier">20 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Acrobatics</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Precision</strong> You may use your Dexterity modifier for both your unarmed attack and unarmed damage rolls.</li>
							<li><strong class="feature__title">Sneak Attack</strong> Once per turn, when you hit a creature with a weapon attack and you have advantage, you deal additional damage equal to your unarmed damage die.</li>
						</div>
					</section>
				</wildshape>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Disguise</h4>
						<p class="panel__subtitle">Remain hidden from your prey.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">12</span></li>
							<li><span class="name">Speed</span><span class="modifier">15 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Stealth</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Escape Artist</strong> You can <i>Hide</i> as a bonus action.</li>
							<li><strong class="feature__title">Camouflage</strong> When you remain motionless, you are indistinguishable from your surroundings to any creature that is larger than you.</li>
						</ul>
					</section>
				</wildshape>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Hunger</h4>
						<p class="panel__subtitle">Constrict and devour your prey.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">12</span></li>
							<li><span class="name">Speed</span><span class="modifier">10 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Perception</span></li>
						</ul>
						<ul class="features">
							<li>
								<p><strong class="feature__title">Constrict</strong> When you hit an adjacent creature with a melee weapon attack, you can attempt to constrict it. The creature must succeed on a Strength or Dexterity saving throw (DC equal to 8 + your proficiency bonus + your Strength modifier) or be grappled by you.</p>
								<p>The creature must be at most one size category larger than you. You can constrict only one creature at a time.</p>
							</li>
							<li>
								<p><strong class="feature__title">Devour</strong> When you hit a constricted creature with a melee weapon attack, you can attempt to devour it. The creature must succeed on a Strength or Dexterity saving throw (DC equal to 8 + your proficiency bonus + your Strength modifier) or be devoured by you.</p>
								<p>A devoured creature is blinded and restrained, has total cover against attacks and other effects outside you, and takes acid damage at the start of its turns equal to your unarmed damage die. Until the creature is reduced to 0 hit points, your speed is halved.</p>
								<p>The creature must be smaller than you, and you can devour one creature at a time. You are vulnerable to slashing and piercing damage dealt by the creature.</p>
								<p>You can regurgitate a devoured creature—or its remains—into an adjacent space as a bonus action, and you automatically regurgitate a devoured creature when you end your wild shape.</p>
							</li>
						</ul>
					</section>
				</wildshape>

				<col-break></col-break>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of the Pack</h4>
						<p class="panel__subtitle">Surround your prey and fight with your pack.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">14</span></li>
							<li><span class="name">Speed</span><span class="modifier">15 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Perception</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Sturdy</strong> You have advantage on Strength and Dexterity saving throws against effects that knock you prone.</li>
							<li><strong class="feature__title">Pack Tactics</strong> You have advantage on attack rolls against a creature if at least one of your allies is within 5 ft of it and your ally isn't incapacitated.</li>
						</ul>
					</section>
				</wildshape>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Strength</h4>
						<p class="panel__subtitle">Overpower your prey with savage strength.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">14</span></li>
							<li><span class="name">Speed</span><span class="modifier">15 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Athletics</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Animal Rage</strong> Your weapon attacks score a critical hit on a roll of 19-20.</li>
							<li><strong class="feature__title">Savage Attack</strong> When you critically hit a creature with a melee weapon attack, you can roll one of the weapon's damage dice one additional time and add it to the extra damage of the critical hit.</li>
						</ul>
					</section>
				</wildshape>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Speed</h4>
						<p class="panel__subtitle">Dash past the enemies.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">12</span></li>
							<li><span class="name">Speed</span><span class="modifier">20 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Acrobatics</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Fast Runner</strong> You can <i>Dash</i> as a bonus action.</li>
							<li>
								<p><strong class="feature__title">Charge</strong> If you move at least 20 ft in a straight toward a creature and hit it with an unarmed attack on the same turn, the creature takes additional damage equal to your unarmed damage die.</p>
								<p>In addition, if the creature is at most one size category larger than you, the creature must succeed on a Strength saving throw (DC equals 8 + your proficiency bonus + your Strength modifier) or be knocked prone.</p>
							</li>
						</ul>
					</section>
				</wildshape>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Tracking</h4>
						<p class="panel__subtitle">No prey can hide from your keen senses.</p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">14</span></li>
							<li><span class="name">Speed</span><span class="modifier">15 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Perception</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Darkvision</strong> You gain darkvision (60 ft).</li>
							<li><strong class="feature__title">Keen Senses</strong> You have advantage on Wisdom (Perception) checks.</li>
						</ul>
					</section>
				</wildshape>
			</page>
			<page class="page page--generic page--druid-wild-shape">
				<h4>Uncommon Essences</h4>
				<p>Uncommon essences can't be mastered until you meet the minimum level requirements.</p>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Flight</h4>
						<p class="panel__subtitle">Track your prey from the skies.<span>8th-level</span></p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">12</span></li>
							<li><span class="name">Speed</span><span class="modifier">15 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Perception</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Natural Flight</strong> You gain a flying speed equal to your walking speed.</li>
							<li><strong class="feature__title">Dive</strong> If you are flying and dive at least 20 ft straight towards a creature and hit it with a melee weapon attack, the attack deals additional damage equal to your unarmed damage die.</li>
						</ul>
					</section>
				</wildshape>

				<wildshape class="panel panel--wildshape">
					<header class="panel__header">
						<h4 class="panel__title">Essence of Swimming</h4>
						<p class="panel__subtitle">Hunt your prey in the seas.<span>4th-level</span></p>
					</header>
					<section class="panel__body">
						<ul class="attributes">
							<li><span class="name">AC</span><span class="modifier">12</span></li>
							<li><span class="name">Speed</span><span class="modifier">15 ft</span></li>
							<li><span class="name">Size</span><span class="modifier">Tiny</span></li>
							<li><span class="name">Skill</span><span class="modifier">Perception</span></li>
						</ul>
						<ul class="features">
							<li><strong class="feature__title">Natural Swimmer</strong> You gain a swimming speed equal to your walking speed. Your walking speed is then reduced to 0.</li>
							<li><strong class="feature__title">Blood Frenzy</strong> You have advantage on melee attack rolls against any creature that doesn't have all its hit points.</li>
						</ul>
					</section>
				</wildshape>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3 id="wild-shape-primal-skins">Primal Skins</h3>
				<p>A primal skin defines what you look like and what you can broadly do while you are shapeshifted into a wild shape.</p>

				<h4>Learning a New Skin</h4>
				<p>To learn a new primal skin, you must carefully observe and study a beast. There are 5 steps to mastering a new shape:</p>

				<ol>
					<li>
						<p><strong>Choose a Beast:</strong> Decide which animal you want to learn to shapeshift into—cat, dog, bear, etc.</p>
						<p>At 1st-level, your primal skin must come from a tiny or small beast. Starting at 3rd-level this increases to medium size, and—from 5th-level—large size.</p>
					</li>
					<li>
						<p><strong>Find a Living Beast:</strong> You must now find a suitable beast to study. Depending on the rarity of your chosen beast, you may have to undertake a <i>wild hunt</i> to track your primal quarry.</p>
					</li>
					<li>
						<p><strong>Study the Beast:</strong> Once you have found a beast, you must closely study it. This requires 1 hour of dedicated focus per CR of the beast (minimum 1 hour). If the beast is friendly, reduce the required time by half—but if it is acting hostile, double the time.</p>
						<p>If your efforts are significantly interrupted—the beast escapes, you fall asleep, a combat encounter begins, etc—you lose your focus and must start your observations again from the beginning.</p>
					</li>
					<li><strong>Memorize the Skin:</strong> Once you have successfully studied the beast and practiced its form, you can add it to your list of known primal skins.</li>
				</ol>

				<p>You can memorize a limited number of primal skins at any one time. When you learn a new skin and replace an existing one, the old skin is forgotten—you must relearn it if you wish to use it again in future.</p>

				<h4>Natural Shapes</h4>
				<p>You can't learn a skin from a shapeshifter or any creature that is not at its natural size—such as those affected by the <i>Enlarge/Reduce</i> spell.</p>

				<h4>Rarities</h4>
				<p>Primal skins can vary in rarity from common to legendary. These exceptional skins bear unusual features that make them stronger, faster, or more resilient—bone-plated skin, volcanic breath, elemental feathers, superior claws, etc.</p>
				<p>When you shapeshift into an uncommon, rare, or legendary primal skin, add the skin's rarity bonus to your AC, attack rolls, and damage rolls.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Primal Skin Rarities</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--primal-skin-rarities">
							<table class="table">
								<thead>
									<tr>
										<th>Rarity</th>
										<th>Bonus</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Common</td>
										<td>+0</td>
									</tr>
									<tr>
										<td>Uncommon</td>
										<td>+1</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Rarity</th>
										<th>Bonus</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Rare</td>
										<td>+2</td>
									</tr>
									<tr>
										<td>Legendary</td>
										<td>+3</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
			<page class="page page--generic page--druid-wild-shape">
				<h3>Primal Traits</h3>
				<p>As you gain druid levels, you develop more control over your ability to shapeshift with primal traits.</p>

				<h4 class="h4--option">Natural Power</h4>
				<p>Your primal power capacity increases by +2. You may take this trait multiple times, increasing your capacity by +2 each time.</p>

				<h4 class="h4--option">Natural Understanding</h4>
				<p>Your primal essence capacity increases by +1. You may take this trait multiple times, increasing your capacity by +1 each time.</p>

				<h4 class="h4--option">Primal Affinity</h4>
				<p>You develop a primal affinity for a new type of skin. You can take this trait multiple times, choosing a new monster type each time.</p>
				<p>Although this trait allows you to learn new skin types, you remain unable to master the primal skin of any creature that is a shapeshifter—changelings, mimics, doppelgangers, etc.</p>

				<ul>
					<li><strong>Elemental:</strong> Starting at 8th-level, you can master the primal skin of elementals.</li>
					<li><strong>Dragon:</strong> Starting at 8th-level, you can master the primal skin of dragons.</li>
					<li><strong>Monstrosity:</strong> Starting at 8th-level, you can master the primal skin of monstrosities.</li>
					<li><strong>Oozes:</strong> Starting at 4th-level, you can master the primal skin of oozes.</li>
					<li><strong>Plant:</strong> Starting at 4th-level, you can master the primal skin of plants.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>


				<h4 class="h4--option">Shape Mastery</h4>
				<p>You can control the appearance of your primal skin (to a limited degree). While you are shapeshifting, you may immediately spend a bonus action to determine notable aspects of your appearance—such as fur pattern, horn shape, eye color, etc. You can also choose to suppress any of your natural quirks that would otherwise be visible in your wild appearance.</p>
				<p>You can't change the natural parameters of your primal skin—such as size, wings, number of legs, etc.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h4 class="h4--option">Skin Memory</h4>
				<p>Your primal skin capacity increases by +2. You may take this trait multiple times, increasing your capacity by +2 each time.</p>

				<h4 class="h4--option">Shifter</h4>
				<p>You can alter your normal form to resemble one of your primal skins. As an action on your turn, choose one of your primal shapes and change your appearance to match it in some fashion—gaining horns, growing fur, sharpening teeth, etc.</p>
				<p>This is a purely cosmetic change and has no noticeable impact on your abilities—though it may impact how other creatures react to you. The change lasts until you dismiss it on your turn as a free action, or until you fall unconscious. This does not require you to spend any primal power.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4 class="h4--option">Wild Voice</h4>
				<p>While you are shapeshifted, you are able to speak as normal. The sound of your voice may change, however, depending on your form—pitch, volume, slurring, hissing, spitting, etc.</p>
				<p>Though you can speak, you still can't cast spells—even those that rely only on verbal components.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
