<html>
	<body>
		<book>
			<page class="page page--generic page--druid-subclasses">
				<h2 data-icon="curled-leaf">Circle of the Beast</h2>
				<p>You are a fierce guardian of the wilds, changeable as the moon. You prowl as a great cat one night, soar over the treetops as an eagle the next day, and crash through the undergrowth as a bear to drive off a trespassing monster. The wild is in your blood.</p>

				<h3><span class="h3__highlight">1</span>Natural Shifter</h3>
				<p>You are able to use <i>Wild Shape</i> on your turn as a bonus action, rather than as an action. In addition, you gain three additional primal traits of your choice.</p>
				<p>At 3rd, 6th, and 10-level, you gain two additional primal traits of your choice.</p>

				<h3><span class="h3__highlight">1</span>Primal Traits</h3>
				<p>Add the following primal traits to your list of trait options.</p>

				<h4 class="h4--option">Natural Armor</h4>
				<p>As you are shapeshifting, you can spend one 1st or 2nd-level spell slot to increase your AC by +1. This bonus increases to +2 if you spend a 3rd or 4th-level spell slot, and +3 if you spend a 5th-level spell slot.</p>
				<p>This effect ends when you end your wild shape.</p>

				<h4 class="h4--option">Primal Fury</h4>
				<p>While you are shapeshifted, you can spend spell slots to deal harm to creatures that you attack.</p>
				<p>Once per turn, when you hit a creature with an unarmed strike, you can spend a spell slot to deal an additional 1d8 damage per level of the spell slot expended.</p>

				<h4 class="h4--option">Regenerate Wounds</h4>
				<p>While you are shapeshifted, you can spend a bonus action to spend one spell slot and regain 1d8 hit points per level of the spell slot expended.</p>

				<h4 class="h4--option">Sharp Claws</h4>
				<p>As you are shapeshifting, you can spend one 1st or 2nd-level spell slot to increase your unarmed damage by +1. This bonus increases to +2 if you spend a 3rd or 4th-level spell slot, and +3 if you spend a 5th-level spell slot.</p>
				<p>This effect ends when you end your wild shape.</p>

				<h4 class="h4--option">Size Shifter</h4>
				<p>As you are shapeshifting, you may spend 1 primal power to alter the natural size category of your primal skin by one step larger or smaller.</p>
				<p>This effect ends when you end your wild shape.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Beast Walker</h3>
				<p>You can learn the primal skin of Large beasts. Starting at 5th-level, this increases to Huge beasts.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Primal Attack</h3>
				<p>While you are shapeshifted, you can attack twice instead of once whenever you take the Attack action on your turn.</p>
				<p>In addition, your unarmed attacks count as magical for the purpose of overcoming resistance and immunity to nonmagical attacks and damage.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Essence Master</h3>
				<p>When you take on a wild shape, you can spend 1 additional primal power and choose two essences instead of one. You gain the benefits of both essences. To calculate the base AC and speed of your shapeshifted form, take the average of both essences.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
