<html>
	<body>
		<book>
			<page class="page page--generic page--druid-subclasses">
				<h2 data-icon="curled-leaf">Circle of the Land</h2>
				<p>You draw magical strength from the land itself. With its power, you safeguard the ancient knowledge and mysterious rites of your druidic kin.</p>

				<h3><span class="h3__highlight">1</span>Power of the Land</h3>
				<p>You learn one additional druid cantrip of your choice.</p>

				<h3><span class="h3__highlight">1</span>Land Spells</h3>
				<p>Choose one type of land—arctic, coastal, desert, forest, grassland, mountain, or swamp. At 1st, 3rd, 5th, 7th, and 9th-level, you gain access to two unique spells connected to that land.</p>
				<p>Once you gain a land spell, you always have it prepared and it doesn’t count against the number of spells you can prepare each day. If you gain access to a spell that doesn't appear on the druid spell list, the spell is nonetheless a druid spell for you.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Arctic</h4>
					</header>
					<section class="panel__body">
						<table class="table table--land-spells">
							<thead>
								<tr>
									<th>Druid Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Fog Cloud, Detect Evil and Good</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Hold Person, Spike Growth</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Sleet Storm, Slow</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Freedom of Movement, Ice Storm</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Commune with Nature, Cone of Cold</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Coastal</h4>
					</header>
					<section class="panel__body">
						<table class="table table--land-spells">
							<thead>
								<tr>
									<th>Druid Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Fog Cloud, Purify Food and Drink</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Mirror Image, Misty Step</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Water Breathing, Water Walk</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Control Water, Freedom of Movement</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Conjure Elemental, Scrying</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Desert</h4>
					</header>
					<section class="panel__body">
						<table class="table table--land-spells">
							<thead>
								<tr>
									<th>Druid Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Burning Hands, Create or Destroy Water</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Blur, Silence</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Create Food and Water, Protection from Energy</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Blight, Hallucinatory Terrain</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Insect Plague, Wall of Stone</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Forest</h4>
					</header>
					<section class="panel__body">
						<table class="table table--land-spells">
							<thead>
								<tr>
									<th>Druid Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Faerie Fire, Entangle</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Barkskin, Spider Climb</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Call Lightning, Plant Growth</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Divination, Freedom of Movement</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Commune with Nature, Tree Stride</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Grassland</h4>
					</header>
					<section class="panel__body">
						<table class="table table--land-spells">
							<thead>
								<tr>
									<th>Druid Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Expeditious Retreat, Animal Friendship</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Invisibility, Pass Without Trace</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Daylight, Haste</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Divination, Freedom of Movement</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Dream, Insect Plague</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Mountain</h4>
					</header>
					<section class="panel__body">
						<table class="table table--land-spells">
							<thead>
								<tr>
									<th>Druid Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Jump, Thunderwave</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Spider Climb, Spike Growth</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Lightning Bolt, Meld into Stone</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Stone Shape, Stoneskin</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Passwall, Wall of Stone</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Swamp</h4>
					</header>
					<section class="panel__body">
						<table class="table table--land-spells">
							<thead>
								<tr>
									<th>Druid Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Detect Poison or Disease, Entangle</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Acid Arrow, Darkness</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Water Walk, Stinking Cloud</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Freedom of Movement, Locate Creature</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Insect Plague, Scrying</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3><span class="h3__highlight">3</span>Land's Stride</h3>
				<p>You can move through nonmagical difficult terrain without spending extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.</p>
				<p>In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement—such those created by the <i>Entangle</i> spell.</p>

				<h3><span class="h3__highlight">6</span>Nature's Ward</h3>
				<p>You can’t be charmed or frightened by elementals or fey. In addition, you are immune to poison and disease.</p>

				<h3><span class="h3__highlight">10</span>Nature's Sanctuary</h3>
				<p>When a beast or plant creature attacks you, you can spend 1 primal power to have that creature make a Wisdom saving throw against your druid spell save DC.</p>
				<p>On a failed save, the creature must choose a different target, or the attack automatically misses. On a successful save, the creature is immune to this effect for 24 hours.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
