<html>
	<body>
		<book>
			<page class="page page--generic page--columns-1 page--druid-spells">
				<h2 class="layout--hidden" data-toc-ignore-book="true">Druid Spells</h2>

				<list class="panel panel--list panel--list-spells">
					<header class="panel__header">
						<h4 class="panel__title">Spell List</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Druid</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<div>
								<h5>Cantrips</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='xgte'>Control Flames</li>
									<li class='xgte'>Create Bonfire</li>
									<li class='phb'>Druidcraft</li>
									<li class='xgte'>Frostbite</li>
									<li class='phb'>Guidance</li>
									<li class='xgte'>Gust</li>
									<li class='xgte'>Infestation</li>
									<li class='xgte'>Magic Stone</li>
									<li class='phb'>Mending</li>
									<li class='xgte'>Mold Earth</li>
									<li class='phb'>Poison Spray</li>
									<li class='xgte'>Primal Savagery</li>
									<li class='phb'>Produce Flame</li>
									<li class='phb'>Resistance</li>
									<li class='phb'>Shillelagh</li>
									<li class='phb'>Thorn Whip</li>
									<li class='xgte'>Thunderclap</li>
								</ul>

								<h5>1st-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='xgte'>Absorb Elements</li>
									<li class='phb'>Animal Friendship</li>
									<li class='xgte'>Beast Bond</li>
									<li class='phb'>Charm Person</li>
									<li class='phb'>Create or Destroy Water</li>
									<li class='phb'>Cure Wounds</li>
									<li class='phb'>Detect Magic</li>
									<li class='phb'>Detect Poison and Disease</li>
									<li class='xgte'>Earth Tremor</li>
									<li class='phb'>Entangle</li>
									<li class='phb'>Faerie Fire</li>
									<li class='phb'>Fog Cloud</li>
									<li class='phb'>Goodberry</li>
									<li class='phb'>Healing Word</li>
									<li class='xgte'>Ice Knife</li>
									<li class='phb'>Jump</li>
									<li class='phb'>Longstrider</li>
									<li class='phb'>Purify Food and Drink</li>
									<li class='xgte'>Snare</li>
									<li class='phb'>Speak with Animals</li>
									<li class='phb'>Thunderwave</li>
									<li class="empty"></li>
									<li class="empty"></li>
								</ul>
							</div>
							<div>
								<h5>2nd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Animal Messenger</li>
									<li class='phb'>Barkskin</li>
									<li class='phb'>Beast Sense</li>
									<li class='phb'>Darkvision</li>
									<li class='xgte'>Dust Devil</li>
									<li class='xgte'>Earthbind</li>
									<li class='phb'>Enhance Ability</li>
									<li class='phb'>Find Traps</li>
									<li class='phb'>Flame Blade</li>
									<li class='phb'>Flaming Sphere</li>
									<li class='phb'>Gust of Wind</li>
									<li class='xgte'>Healing Spirit</li>
									<li class='phb'>Heat Metal</li>
									<li class='phb'>Hold Person</li>
									<li class='phb'>Lesser Restoration</li>
									<li class='phb'>Locate Animals or Plants</li>
									<li class='phb'>Locate Object</li>
									<li class='phb'>Moonbeam</li>
									<li class='phb'>Pass without Trace</li>
									<li class='phb'>Protection from Poison</li>
									<li class='xgte'>Skywrite</li>
									<li class='phb'>Spike Growth</li>
									<li class='xgte'>Warding Wind</li>
								</ul>

								<h5>3rd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Call Lightning</li>
									<li class='phb'>Conjure Animals</li>
									<li class='phb'>Daylight</li>
									<li class='phb'>Dispel Magic</li>
									<li class='xgte'>Erupting Earth</li>
									<li class='phb'>Feign Death</li>
									<li class='xgte'>Flame Arrows</li>
									<li class='phb'>Meld into Stone</li>
									<li class='phb'>Plant Growth</li>
									<li class='phb'>Protection from Energy</li>
									<li class='phb'>Sleet Storm</li>
									<li class='phb'>Speak with Plants</li>
									<li class='xgte'>Tidal Wave</li>
									<li class='xgte'>Wall of Water</li>
									<li class='phb'>Water Breathing</li>
									<li class='phb'>Water Walk</li>
									<li class='phb'>Wind Wall</li>
								</ul>
							</div>
							<div>
								<h5>4th-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Blight</li>
									<li class='xgte'>Charm Monster</li>
									<li class='phb'>Confusion</li>
									<li class='phb'>Conjure Minor Elementals</li>
									<li class='phb'>Conjure Woodland Beings</li>
									<li class='phb'>Control Water</li>
									<li class='phb'>Dominate Beast</li>
									<li class='xgte'>Elemental Bane</li>
									<li class='phb'>Freedom of Movement</li>
									<li class='phb'>Giant Insect</li>
									<li class='phb'>Grasping Vine</li>
									<li class='xgte'>Guardian of Nature</li>
									<li class='phb'>Hallucinatory Terrain</li>
									<li class='phb'>Ice Storm</li>
									<li class='phb'>Locate Creature</li>
									<li class='phb'>Polymorph</li>
									<li class='phb'>Stone Shape</li>
									<li class='phb'>Stoneskin</li>
									<li class='phb'>Wall of Fire</li>
									<li class='xgte'>Watery Sphere</li>
								</ul>

								<h5>5th-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Antilife Shell</li>
									<li class='phb'>Awaken</li>
									<li class='phb'>Commune with Nature</li>
									<li class='phb'>Conjure Elemental</li>
									<li class='phb'>Contagion</li>
									<li class='phb'>Geas</li>
									<li class='phb'>Greater Restoration</li>
									<li class='phb'>Insect Plague</li>
									<li class='xgte'>Maelstrom</li>
									<li class='phb'>Mass Cure Wounds</li>
									<li class='phb'>Planar Binding</li>
									<li class='phb'>Reincarnate</li>
									<li class='phb'>Scrying</li>
									<li class='xgte'>Transmute Rock</li>
									<li class='phb'>Tree Stride</li>
									<li class='phb'>Wall of Stone</li>
									<li class='xgte'>Wrath of Nature</li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
								</ul>
							</div>
						</div>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
