<html>
	<body>
		<book>
			<page class="page page--generic page--faq" data-header-icon="faq">
				<h1 id="faq">FAQ</h1>
				<p>This section lists some of the most frequently asked questions regarding <i>Class Compendium</i>. If your question isn't answered here, do contact me.</p>

				<h3><span class="h3__highlight">A</span>Why only levels 1-10?</h3>
				<p>I personally don't run games beyond 10th-level—D&D doesn't offer me anything interesting beyond 10th-level that can't be done within 1-10, and I find 11-20 to be <i>much</i> more work for the GM due to the ever-increasing power level of players characters.</p>
				<p>By focusing on levels 1-10, we can hit the ground running from 1st-level and try to make every level feel significant and distinct.</p>

				<h3><span class="h3__highlight">B</span>What about 11+?</h3>
				<p>Once the first phase of this supplement is complete (full 1-10 rules and 3 subclasses minimum for the 12 core classes), I'll see if there's anything interesting I can add that can support higher-level play.</p>

				<h3><span class="h3__highlight">C</span>Class/subclass x/y/z?</h3>
				<p>I'm limited currently to the publicly-available D&D 5e material released through <a href="https://dnd.wizards.com/articles/features/systems-reference-document-srd">the SRD</a>—which means I can't legally copy-paste many classes/subclasses (Artificer, Circle of the Moon, Great Old One, etc).</p>
				<p>Eventually, I intend (depending on interest/support) to create <i>alternative</i> versions of these to fill in any gaps.</p>

				<h3><span class="h3__highlight">D</span>Do I have to use everything?</h3>
				<p>No, you don't have to use everything in <i>Class Compendium</i> all at once. This supplement is written to be modular and interchangeable with RAW, so you can use as many—or as few—<i>Class Compendium</i> classes as best suits your table.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">E</span>Do you use Homebrewery?</h3>
				<p>No. This document—including my other supplements—was written and designed using my own custom-made HTML/CSS/JS framework.</p>

				<h3><span class="h3__highlight">F</span>Can I copy bits of this?</h3>
				<p>Feel free to reference parts of this supplement in your own free homebrew, with appropriate credit. However, please don't replicate it wholesale nor include my work in <i>any</i> for-sale variant.</p>

				<h3><span class="h3__highlight">G</span>Can I buy a printed version?</h3>
				<p>Not at the moment, no. I'm currently looking into this as a few people have requested a print copy. In the meantime, this project (and most of my other work) is released on <i>Pay-What-You-Want</i> terms.</p>
				<p>If this supplement has helped out your game and you'd like to support my work:</p>
				<ul>
					<li><strong>Patreon:</strong> <a href="https://patreon.com/giffyglyph">Become a Patron</a> (patreon.com/giffyglyph) to support this and my other projects.</li>
					<li><strong>Ko-fi:</strong> My <a href="https://ko-fi.com/giffyglyph">Ko-fi page</a> (ko-fi.com/giffyglyph) is always open to kind, one-off donations.</li>
					<li><strong>Twitch:</strong> Catch me on <a href="https://twitch.tv/giffyglyph">Twitch</a> (twitch.tv/giffyglyph).</li>
					<li><strong>Spread the Word:</strong> If you've enjoyed my work, a tweet/like/review/etc would be much appreciated.</li>
				</ul>

				<div class="button-group button-group--links">
					<a class="button button--lg" href="https://www.patreon.com/bePatron?u=12684623">
						<span class="button__icon"><i class="fab fa-patreon fa-fw"></i></span>
						<span class="button__text">Become a Patron</span>
					</a>
					<a class="button button--lg" href="https://www.twitch.tv/giffyglyph">
						<span class="button__icon"><i class="fab fa-twitch fa-fw"></i></span>
						<span class="button__text">Talk on Twitch</span>
					</a>
				</div>
			</page>
		</book>
	</body>
</html>
