<html>
	<body>
		<book>
			<page class="page page--generic">
				<h2 data-icon="crossed-swords">Commander</h2>
				<p>A <i>Commander</i> gives orders and expects them to be followed. You direct your allies with tactical prowess and turn a band of ill-fitting misfits into a well-oiled machine.</p>

				<h3><span class="h3__highlight">1</span>Martial Maneuvers</h3>
				<p>Add the following four maneuvers to your list of maneuver options: direct, inspire, instruct, and order.</p>

				<h4 class="h4--option">Direct</h4>
				<p>When you hit a creature with a weapon attack, you can direct an ally to move. Choose one friendly creature that is (a) within 30 ft of you or the creature you hit, (b) can see and hear you, and (c) has a movement speed greater than 0—that creature may spend its reaction to move up to 10 ft. This movement does not provoke opportunity attacks from the creature you hit.</p>
				<p><strong>Greater Direct:</strong> (5th-level) Your ally may move up to 15 ft.</p>
				<p><strong>Superior Direct:</strong> (9th-level) Your ally may move up to 20 ft.</p>

				<h4 class="h4--option">Inspire</h4>
				<p>When you hit a creature with a weapon attack, you can inspire a nearby ally. Choose one friendly creature that can see and hear you. That creature gains temporary hit points equal to 1d6 + your Strength or Dexterity modifier—you may choose which.</p>
				<p><strong>Greater Inspire:</strong> (5th-level) The creature gains temporary hit points equal to 1d8 + your Strength or Dexterity modifier.</p>
				<p><strong>Superior Inspire:</strong> (9th-level) The creature gains temporary hit points equal to 1d10 + your Strength or Dexterity modifier.</p>

				<h4 class="h4--option">Instruct</h4>
				<p>When an ally misses with a weapon attack, you can instruct them to try again. If your ally can see and hear you, that ally can reroll their attack—if the attack hits, it deals 1d6 extra damage.</p>
				<p><strong>Greater Instruct:</strong> (5th-level) The attack deals 1d8 extra damage.</p>
				<p><strong>Superior Instruct:</strong> (9th-level) The attack deals 1d10 extra damage.</p>

				<h4 class="h4--option">Order</h4>
				<p>When you make an ability check and use Persuasion or Intimidation, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this maneuver, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Order:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Order:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Commanding Strike</h3>
				<p>When you take the Attack action on your turn, you can forgo one of your attacks and use a bonus action to direct one of your allies to strike.</p>
				<p>Choose a friendly creature who can see or hear you. That creature can immediately use its reaction to make one weapon attack.</p>

				<h3><span class="h3__highlight">7</span>Commanding Action</h3>
				<p>During another creature's turn, you can spend your reaction and one use of your <i>Action Surge</i> feature to grant that creature one additional action on top of their regular action and a possible bonus action.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Word of Command</h3>
				<p>You can use your action to speak a one-word command to a creature. Choose one creature you can see within 30 feet of you. If the creature can see and hear you, it must make a Wisdom saving throw (DC equal to 8 + your proficiency bonus + your Strength or Dexterity modifier) to resist being commanded. If the creature fails, it must follow the command on its next turn.</p>
				<p>You can use this feature up to three times. You regain any expended uses when you finish a long rest.</p>

				<h4>Command of Resolve</h4>
				<p>When you speak a command, you can spend a number of resolve points to heighten your command. For each point of resolve you spend, you can target one additional creature with your command. The creatures must be within 30 feet of each other when you target them.</p>

				<h4>Immunities</h4>
				<p>Your command has no effect if the target is undead, if it doesn’t understand your language, or if your command is directly harmful to it.</p>

				<h4>Example Commands</h4>
				<p>Some typical commands and their effects follow. You might issue a command other than one described here. If you do so, the GM determines how the target behaves. If the target can’t follow your command, the effect ends.</p>
				<ul>
					<li><strong>Approach:</strong> The target moves toward you by the shortest and most direct route, ending its turn if it moves within 5 feet of you.</li>
					<li><strong>Drop:</strong> The target drops whatever it is holding and then ends its turn.</li>
					<li><strong>Flee:</strong> The target spends its turn moving away from you by the fastest available means.</li>
					<li><strong>Grovel:</strong> The target falls prone and then ends its turn.</li>
					<li><strong>Halt:</strong> The target doesn’t move and takes no actions. A flying creature stays aloft, provided that it is able to do so. If it must move to stay aloft, it flies the minimum distance needed to remain in the air.</li>
				</ul>
			</page>
		</book>
	</body>
</html>
