<html>
	<body>
		<book>
			<page class="page page--generic page--fighter-variants" data-header-icon="cog">
				<h1 id="fighter-variants">Variant Dials</h1>
				<p>If you want to adjust the fighter class to better suit your own campaign and playstyle, then consider these variant dials.</p>

				<h2>Multiclassing</h2>
				<p>If your campaign supports multiclassing, then apply these modifiers when taking the fighter as a multiclass option:</p>

				<ul>
					<li><strong>Minimum Requirement:</strong> Strength 13 or Dexterity 13.</li>
					<li><strong>Proficiencies:</strong> Light armor, medium armor, shields, simple weapons, martial weapons.</li>
					<li><strong>Maneuvers:</strong> You can't use any mastered maneuvers until you are 3rd-level.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>Restricted Retraining</h2>
				<p>If you want to make retraining a little more significant or costly for the fighter, try using these options.</p>

				<h4 class="h4--option">Sanctuary</h4>
				<p>To change your fighting styles or maneuvers, you must be in a safe sanctuary—such as a village, town, or city—where you are able to concentrate on your training.</p>

				<h4 class="h4--option">Facilities</h4>
				<p>To change your fighting styles or maneuvers, you must have access to appropriate facilities—training grounds, practice weapons, sparring partners and mentors, etc.</p>

				<col-break></col-break>

				<h2>Short Rest Recovery</h2>
				<p>This supplement emphasizes taking <i>long rests</i> as a primary recovery mechanic. But if you want to put more of a focus on taking short rests for the fighter, use this alternative class table.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Class Features</h4>
						<ul class="panel__tags">
							<li>Fighter</li>
							<li>Short Rest Recovery</li>
						</ul>
					</header>
					<section class="panel__body">
						<table class="table table--variant-features">
							<thead>
								<tr>
									<th>Level</th>
									<th>Second<br/>Winds</th>
									<th>Resolve<br/>Points</th>
									<th>Action<br/>Surges</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>1</td>
									<td>1</td>
									<td>1</td>
								</tr>
								<tr>
									<td>2nd</td>
									<td>1</td>
									<td>2</td>
									<td>1</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>1</td>
									<td>2</td>
									<td>1</td>
								</tr>
								<tr>
									<td>4th</td>
									<td>1</td>
									<td>2</td>
									<td>1</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>1</td>
									<td>2</td>
									<td>1</td>
								</tr>
								<tr>
									<td>6th</td>
									<td>1</td>
									<td>2</td>
									<td>1</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>1</td>
									<td>2</td>
									<td>1</td>
								</tr>
								<tr>
									<td>8th</td>
									<td>1</td>
									<td>3</td>
									<td>1</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>1</td>
									<td>3</td>
									<td>1</td>
								</tr>
								<tr>
									<td>10th</td>
									<td>1</td>
									<td>3</td>
									<td>1</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<p>You recover all expended second winds, resolve points, and action surges when you finish a short or long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
