<html>
	<body>
		<book>
			<page class="page page--generic">
				<h2 data-icon="crossed-swords">Champion</h2>
				<p>A <i>Champion</i> hones their raw physical power to deadly perfection. You are one with your weapon, and you know how to exploit an opening to deal massive damage to your unworthy enemy.</p>

				<h3><span class="h3__highlight">1</span>Martial Maneuvers</h3>
				<p>Add the following four maneuvers to your list of maneuver options: counterattack, parry, pierce, and predict.</p>

				<h4 class="h4--option">Counterattack</h4>
				<p>When a creature misses you with a melee attack, you can use your reaction to make a melee weapon attack against the creature. If the attack hits, you deal an extra 1d6 damage with your weapon.</p>
				<p><strong>Greater Counterattack:</strong> (5th-level) You deal an extra 1d8 damage with your weapon when you successfully counterattack.</p>
				<p><strong>Superior Counterattack:</strong> (9th-level) You deal an extra 1d10 damage with your weapon when you successfully counterattack.</p>

				<h4 class="h4--option">Parry</h4>
				<p>When a target hits you with an attack roll and you are not incapacitated, you can spend your reaction and attempt to parry the attack. Roll 1d6 and add the result to your AC—if the attack roll doesn't beat your parry AC, it misses.</p>
				<p><strong>Greater Parry:</strong> (5th-level) You may roll 1d8 when you attempt to parry.</p>
				<p><strong>Superior Parry:</strong> (9th-level) You may roll 1d10 when you attempt to parry.</p>

				<h4 class="h4--option">Pierce</h4>
				<p>When you miss with an attack roll against a creature, you can attempt to pierce through with sheer resolve. Roll 1d6 and add it your attack roll.</p>
				<p><strong>Greater Pierce:</strong> (5th-level) You can roll 1d8 and add it to your attack roll.</p>
				<p><strong>Superior Pierce:</strong> (9th-level) You can roll 1d10 and add it to your attack roll.</p>

				<h4 class="h4--option">Predict</h4>
				<p>When you make an ability check and use Insight or Perception, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this maneuver, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Predict:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Predict:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<!-- <h3><span class="h3__highlight">3</span>Weapon Master</h3>
				<p>When you choose a Fighting Style, that style gains the following features:</p>

				<h4>Archery</h4>

					<p><strong>Archery:</strong> Attacking at long range doesn't impose disadvantage on your ranged weapon attack rolls.</p>
					<h4>Archery</h4>
					<p><strong>Defense:</strong> When you roll a hit die to regain hit points, the minimum number of hit points you regain from the roll equals twice your Constitution modifier (minimum of 2).</p>
					<h4>Archery</h4>
					<p><strong>Duepng:</strong> Once per turn when you roll damage for a melee weapon attack, you can reroll the weapon’s damage dice and use either total.</p>
					<h4>Archery</h4>
					<p><strong>Great Weapon Fighting:</strong> On your turn, when you (a) score a critical hit with a melee weapon or (b) reduce a creature to 0 hit points with a melee weapon, you can make one melee weapon attack as a bonus action.</p>
					<h4>Archery</h4>
					<p><strong>Protection:</strong> When you use the Dash action, difficult terrain doesn’t cost you extra movement on that turn.</p>
					<h4>Archery</h4>
					<p><strong>Two-Weapon Fighting:</strong> You can use two-weapon fighting even when the one-handed melee weapons you are wielding aren’t light.</p>
					<h4>Archery</h4>
					<p><strong>Thrown Weapon Fighting:</strong> Attacking at long range doesn't impose disadvantage on your ranged weapon attack rolls if the weapon has the thrown property.</p>
					<h4>Archery</h4>
					<p><strong>Unarmed Fighting:</strong> You have advantage on attack rolls against a creature you are grappling.</p> -->
<!--
				<ul>
					<li><strong>Archery:</strong> Attacking at long range doesn't impose disadvantage on your ranged weapon attack rolls.</li>
					<li><strong>Defense:</strong> When you roll a hit die to regain hit points, the minimum number of hit points you regain from the roll equals twice your Constitution modifier (minimum of 2).</li>
					<li><strong>Dueling:</strong> Once per turn when you roll damage for a melee weapon attack, you can reroll the weapon’s damage dice and use either total.</li>
					<li><strong>Great Weapon Fighting:</strong> On your turn, when you (a) score a critical hit with a melee weapon or (b) reduce a creature to 0 hit points with a melee weapon, you can make one melee weapon attack as a bonus action.</li>
					<li><strong>Protection:</strong> When you use the Dash action, difficult terrain doesn’t cost you extra movement on that turn.</li>
					<li><strong>Two-Weapon Fighting:</strong> You can use two-weapon fighting even when the one-handed melee weapons you are wielding aren’t light.</li>
					<li><strong>Thrown Weapon Fighting:</strong> Attacking at long range doesn't impose disadvantage on your ranged weapon attack rolls if the weapon has the thrown property.</li>
					<li><strong>Unarmed Fighting:</strong> You have advantage on attack rolls against a creature you are grappling.</li>
				</ul> -->

				<!-- <example class="panel panel--example panel--example--placeholder">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</example> -->

				<h3><span class="h3__highlight">3</span>Improved Critical</h3>
				<p>Your weapon attacks score a critical hit on a roll of 19 or 20.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">7</span>Remarkable Athlete</h3>
				<p>You can add half your proficiency bonus (round up) to any Strength, Dexterity, or Constitution check you make that doesn't already use your proficiency bonus.</p>
				<p>In addition, when you make a running long jump, the distance you can cover increases by a number of feet equal to your Strength modifier.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Additional Fighting Style</h3>
				<p>You can choose a second option from the <i>Fighting Style</i> class feature.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
