<html>
	<body>
		<book>
			<page class="page page--generic page--fighter-subclasses">
				<h2 data-icon="crossed-swords">Defender</h2>
				<p>A <i>Defender</i> protects their allies from harm. With keen senses and keener skill, you know how to spot incoming danger and shield your allies from it.</p>

				<h3><span class="h3__highlight">1</span>Martial Maneuvers</h3>
				<p>Add the following four maneuvers to your list of maneuver options: alert, bastion, sentry, and switch.</p>

				<h4 class="h4--option">Alert </h4>
				<p>When you make an ability check and use Perception or Initiative, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this maneuver, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Alert:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Alert:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<h4 class="h4--option">Bastion </h4>
				<p>When an ally within 5 feet of you is reduced to 0 hit points from a weapon attack but not killed outright, you can intercept part of the attack—your ally drops to 1 hit point instead. You can't use this maneuver again until you finish a long rest.</p>
				<p><strong>Greater Bastion:</strong> (5th-level) You can use this maneuver two times per long rest.</p>
				<p><strong>Superior Bastion:</strong> (9th-level) You can use this maneuver three times per long rest.</p>

				<h4 class="h4--option">Sentry </h4>
				<p>When an enemy that you can see moves within 5 feet of you, you can make one weapon attack against that creature as a free action. If your attack hits the creature, you deal 1d6 extra damage.</p>
				<p><strong>Greater Sentry:</strong> (5th-level) Your attack deals an extra 1d8 damage.</p>
				<p><strong>Superior Sentry:</strong> (9th-level) Your attack deals an extra 1d10 damage.</p>

				<h4 class="h4--option">Switch </h4>
				<p>If you are within 5 feet of an ally on your turn, you can spend at least 5 feet of your movement to switch places with that ally. This movement doesn’t provoke opportunity attacks. In addition, you may roll 1d6. Until the start of your next turn, your ally gains a bonus to their AC equal to the number rolled.</p>
				<p><strong>Greater Switch:</strong> (5th-level) The AC bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Switch:</strong> (9th-level) The AC bonus increases from 1d8 to 1d10.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Defender's Mark</h3>
				<p>When you hit a creature with a melee weapon attack, you can mark the creature until the end of your next turn. This effect ends early if you are incapacitated or you die, or if someone else marks the creature.</p>
				<p>While it is within 5 feet of you, a creature marked by you has disadvantage on any attack roll that doesn't target you.</p>

				<h4>Punishing Attack</h4>
				<p>If a creature marked by you deals damage to anyone other than you, you can make a special melee weapon attack against the marked creature as a bonus action on your next turn. You have advantage on the attack roll, and if it hits, the attack's weapon deals extra damage to the target equal to half your fighter level.</p>
				<p>Regardless of the number of creatures you mark, you can make this special attack a number of times equal to your Strength modifier (a minimum of 1). You may also spend 1 point of resolve to use this feature. You regain all expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">7</span>Defender's Ward</h3>
				<p>If you or a creature you can see within 5 feet of you is hit by an attack, you can roll 1d8 as a reaction if you're wielding a melee weapon or a shield. Roll the die, and add the number rolled to the target's AC against that attack. If the attack still hits, the target has resistance against the attack's damage.</p>
				<p>You can use this feature a number of times equal to your Constitution modifier (a minimum of 1). You may also spend 1 point of resolve to use this feature. You regain all expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Hold the Line</h3>
				<p>Creatures provoke an opportunity attack from you when they move 5 feet or more while within your reach. If you hit a creature with an opportunity attack, the target's speed is reduced to 0 until the end of the current turn.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
