<html>
	<body>
		<book>
			<page class="page page--generic page--fighter" data-header-icon="spinning-sword">
				<h1 id="the-fighter">The Fighter</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=45>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Fighter</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--fighter">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Second<br/>Wind</th>
										<th>Resolve<br/>Points</th>
										<th>Maneuvers<br/>Mastered</th>
										<th>Action<br/>Surges</th>
										<th>Features</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>1d10 + 1</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td>Fighting Style, Second Wind, Resolve, Maneuvers, Martial Archetype</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>1d10 + 2</td>
										<td>4</td>
										<td>2</td>
										<td>2</td>
										<td>Action Surge</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>2d10 + 3</td>
										<td>5</td>
										<td>3</td>
										<td>2</td>
										<td>Martial Archetype Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>2d10 + 4</td>
										<td>6</td>
										<td>3</td>
										<td>2</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>2d10 + 5</td>
										<td>7</td>
										<td>3</td>
										<td>3</td>
										<td>Extra Attack, Greater Maneuvers</td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>2d10 + 6</td>
										<td>8</td>
										<td>4</td>
										<td>3</td>
										<td>Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>3d10 + 7</td>
										<td>9</td>
										<td>4</td>
										<td>3</td>
										<td>Martial Archetype Features</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>3d10 + 8</td>
										<td>10</td>
										<td>4</td>
										<td>3</td>
										<td>Superior Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>3d10 + 9</td>
										<td>11</td>
										<td>4</td>
										<td>4</td>
										<td>Indomitable, Superior Maneuvers</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>4d10 + 10</td>
										<td>12</td>
										<td>5</td>
										<td>4</td>
										<td>Fighting Focus, Martial Archetype Features</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d10 per fighter level.</li>
					<li><strong>Hit Points (1st-level):</strong> 10 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d10 (or 6) + your Constitution modifier per fighter level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> All armor, shields.</li>
					<li><strong>Weapons:</strong> Simple weapons, martial weapons.</li>
					<li><strong>Tools:</strong> None.</li>
					<li><strong>Saving Throws:</strong> Strength, Constitution.</li>
					<li><strong>Skills:</strong> Choose two skills from Acrobatics, Animal Handling, Athletics, History, Insight, Intimidation, Perception, and Survival.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li>(a) chain mail or (b) leather armor, longbow, 20 arrows.</li>
					<li>(a) a martial weapon and a shield or (b) two martial weapons.</li>
					<li>(a) a light crossbow and 20 bolts or (b) two handaxes.</li>
					<li>(a) a dungeoneer's pack or (b) an explorer's pack</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 5d4 x 10 gold pieces (or 120 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--fighter">
				<h2 id="fighter-class-features" data-icon="spinning-sword">Class Features</h2>
				<p>As a fighter, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Fighting Style</h3>
				<p>Choose one of the following Fighting Styles. You can't take a Fighting Style option more than once, even if you later get to choose again.</p>
				<p><strong>Changing Your Fighting Style:</strong> When you finish a long rest, you can choose one of the fighting styles you know and replace it with a different fighting style.</p>

				<h4 class="h4--option">Archery</h4>
				<p>You gain a +2 bonus to attack rolls you make with ranged weapons.</p>
				<!-- <p><strong>Rapid shot:</strong> Starting at 2nd-level, you can spend a point of resolve to </p> -->

				<h4 class="h4--option">Defense</h4>
				<p>While you are wearing armor, you gain a +1 bonus to AC.</p>
				<!-- <p><strong>Damage Sponge:</strong> When you are hit by an attack, you can spend one point of resolve to reduce the damage you take by 1d8.</p> -->

				<h4 class="h4--option">Dueling</h4>
				<p>When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.</p>
				<p>

				<h4 class="h4--option">Great Weapon Fighting</h4>
				<p>When you roll a 1 or 2 on a damage die for an attack you make with a melee weapon that you are wielding with two hands, you can reroll the die and must use the new roll, even if the new roll is a 1 or a 2.</p>
				<p>The weapon must have the two-handed or versatile property for you to gain this benefit.</p>
				<!-- <p><strong>Killer:</strong> When you roll a 1 on a damage die, you can spend one point of resolve to change that to the maximum possible.</p> -->

				<h4 class="h4--option">Protection</h4>
				<p>When a creature you can see attacks a target other than you that is within 5 feet of you, you can use your reaction to impose disadvantage on the attack roll. You must be wielding a shield.</p>

				<h4 class="h4--option">Two-Weapon Fighting</h4>
				<p>When you engage in two-weapon fighting, you can add your ability modifier.</p>

				<h4 class="h4--option">Thrown Weapon Fighting</h4>
				<p>You can draw a weapon that has the thrown property as part of the attack you make with the weapon.</p>
				<p>In addition, when you hit with a ranged attack using a thrown weapon, you gain a +1 bonus to the damage roll.</p>

				<h4 class="h4--option">Unarmed Fighting</h4>
				<p>Your unarmed strikes deal bludgeoning damage equal to 1d6 + your Strength modifier. If you have two free hands, the damage increases from 1d6 to 1d8.</p>
				<p>When you successfully start a grapple, you can deal 1d4 bludgeoning damage to the grappled creature. Until the grapple ends, you deal an extra 1d4 bludgeoning damage to the grappled creature when you hit it with a melee attack.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Second Wind</h3>
				<p>If you are at 50% hit points or lower, you can spend a bonus action to regain hit points equal to 1d10 + your fighter level. The amount of hit points increases as you gain fighter levels, as shown in the <i>Second Wind</i> column of the Class Features (Fighter) table.</p>
				<p>You can use this feature twice. You regain any expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Resolve</h3>
				<p>You have a number of resolve points, as shown in the <i>Resolve Points</i> column of the Class Features (Fighter) table. You can spend resolve to overcome danger with fighting maneuvers—and you may learn other applications from your Martial Archetype.</p>
				<p>You recover all expended resolve points when you finish a long rest.</p>

				<h3><span class="h3__highlight">1</span>Maneuvers</h3>
				<p>You master two maneuvers of your choice from your list of maneuver options. Once per turn, you may spend a resolve point to use one of your mastered maneuvers.</p>
				<p><strong>Mastering New Maneuvers:</strong> You master additional maneuvers as you gain more fighter levels, as show in the <i>Maneuvers Known</i> column of the Class Features (Fighter) table.</p>
				<p><strong>Replacing a Mastered Maneuver:</strong> When you finish a long rest, you may replace one of your mastered maneuvers with a different one.</p>
				<p><strong>Saving Throws:</strong> Some of your maneuvers require your target to make a saving throw. The saving throw DC is calculated as follows:</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Maneuver Save DC</h4>
					</header>
					<section class="panel__body">
						<p><strong>Save DC:</strong> 8 + your proficiency bonus + your Strength or Dexterity modifier (your choice)</p>
					</section>
				</mechanic>

				<h4 class="h4--option">Disarm</h4>
				<p>When you hit a creature with a weapon attack, you can attempt to disarm it. If the creature is Large or smaller, it must make a Strength saving throw. On a failed save, the creature drops one item of your choice that it's holding. The object lands at the target's feet.</p>
				<p><strong>Greater Disarm:</strong> (5th-level) You can use this maneuver against Huge creatures.</p>
				<p><strong>Superior Disarm:</strong> (9th-level) You can use this maneuver against Gargantuan creatures.</p>
			</page>
			<page class="page page--generic page--fighter">
				<h4 class="h4--option">Intercept</h4>
				<p>When an adjacent creature is hit by a weapon attack and you are not incapacitated, you can spend your reaction to direct the attack onto yourself. If the attack hits you, reduce the damage you take by 1d6.</p>
				<p><strong>Greater Intercept:</strong> (5th-level) Reduce the damage you take by 1d8.</p>
				<p><strong>Superior Intercept:</strong> (9th-level) Reduce the damage you take by 1d10.</p>

				<h4 class="h4--option">Push</h4>
				<p>When you hit a creature with a weapon attack, you can attempt to push it away from you. If the target is Large or smaller, it must make a Strength saving throw. On a failed save, you knock the target back up to 10 ft.</p>
				<p><strong>Greater Push:</strong> (5th-level) You can use this maneuver against Huge creatures.</p>
				<p><strong>Superior Push:</strong> (9th-level) You can use this maneuver against Gargantuan creatures.</p>

				<h4 class="h4--option">Slam</h4>
				<p>When you hit a creature with a weapon attack, you can use a bonus action to attempt to knock the creature down. If the target is Large or smaller, it must make a Strength saving throw. On a failed save, you knock the target prone.</p>
				<p><strong>Greater Slam:</strong> (5th-level) You can use this maneuver against Huge creatures.</p>
				<p><strong>Superior Slam:</strong> (9th-level) You can use this maneuver against Gargantuan creatures.</p>

				<h4 class="h4--option">Stagger</h4>
				<p>When you hit a creature with a weapon attack, you can momentarily stagger it. Until the start of your next turn, the next attack roll made against the creature by an attacker other than you has advantage.</p>
				<p><strong>Greater Stagger:</strong> (5th-level) The creature grants advantage to the next two attack rolls made against it before the start of your next turn.</p>
				<p><strong>Superior Stagger:</strong> (9th-level) The creature grants advantage to the next three attack rolls made against it before the start of your next turn.</p>

				<h4 class="h4--option">Taunt</h4>
				<p>When you hit a creature with a weapon attack, you can attempt to taunt the creature into attacking you. If the target is Large or smaller, it must make a Wisdom saving throw. On a failed save, the creature has disadvantage on all attack rolls against targets other than you until the end of your next turn.</p>
				<p><strong>Greater Taunt:</strong> (5th-level) You can use this maneuver against Huge creatures.</p>
				<p><strong>Superior Taunt:</strong> (9th-level) You can use this maneuver against Gargantuan creatures.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Martial Archetype</h3>
				<p>Choose a Martial Archetype. You gain features from your Martial Archetype at 1st, 3rd, 7th, and 10th-level.</p>

				<h4>Martial Maneuvers</h4>
				<p>You gain access to four unique maneuvers from your Martial Archetype. Add these to your list of maneuver options.</p>

				<h3><span class="h3__highlight">2</span>Action Surge</h3>
				<p>Once during your turn, you can take one additional action on top of your regular action and bonus action.</p>
				<p>You can use this feature a limited number of times, as shown in the <i>Action Surges</i> column of the Class Features (Fighter) table. You regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 6th-level, you gain another ability score improvement.</p>
				<p><strong>Superior Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">5</span>Extra Attack</h3>
				<p>You can attack twice, instead of once, whenever you take the Attack action on your turn.</p>

				<h3><span class="h3__highlight">9</span>Indomitable</h3>
				<p>You can reroll a saving throw that you fail. If you do so, you must use the new roll. You can't use this feature again until you finish a long rest or you choose to spend 1 point of resolve.</p>

				<h3><span class="h3__highlight">10</span>Fighting Focus</h3>
				<p>As a bonus action, you can enter a fighting focus. For the next minute, you can attack three times—instead of once—the first time you take the Attack action on your turn. Your fighting focus ends early if you are knocked unconscious or you choose to end it as a free action.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
