<html>
	<body>
		<book>
			<page class="page page--generic page--monk-subclasses">
				<h2 data-icon="shuriken">Way of the Open Hand</h2>
				<p>You are a master of the martial arts, using special techniques to push, trip, and daze your opponents.</p>

				<h3><span class="h3__highlight">1</span>Monastic Mantras</h3>
				<p>Add the following four mantras to your list of mantra options: </p>

				<h4 class="h4--option">Will of the Dragon</h4>
				<p>When you make an ability check and use Acrobatics or Athletics, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this mantra, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Will of the Dragon:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Will of the Dragon:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<h4 class="h4--option">Pinch of Death</h4>
				<p>Once per turn, when you hit a Large or smaller creature with a melee weapon attack, you can attempt to hit a nerve cluster. The creature must make a Constitution saving throw. On a failed save, the creature's speed is reduce to 0 until the end of its next turn.</p>
				<p><strong>Greater Pinch of Death:</strong> (5th-level) You can use this mantra on Huge creatures.</p>
				<p><strong>Superior Pinch of Death:</strong> (9th-level) You can use this mantra on Gargantuan creatures.</p>

				<h4 class="h4--option">Snake Fist</h4>
				<p>Once per turn, when you hit a Large or smaller creature with a weapon attack, you can attempt to make the creature drop an item. The creature must make a Wisdom saving throw. If it fails, the creature drops one item of your choice that it is holding.</p>
				<p>If you are adjacent to the creature, you can catch the dropped item if you are unrestrained and have at least one free hand.</p>
				<p><strong>Greater Snake Fist:</strong> (5th-level) You can use this mantra on Huge creatures.</p>
				<p><strong>Superior Snake Fist:</strong> (9th-level) You can use this mantra on Gargantuan creatures.</p>

				<h4 class="h4--option">Circle of Steel</h4>
				<p>When a creature misses you with a melee attack, you can use your reaction to make a melee weapon attack against the creature. If the attack hits, you deal an extra 1d6 damage with your weapon.</p>
				<p><strong>Greater Circle of Steel:</strong> (5th-level) The additional damage increases from 1d6 to 1d8.</p>
				<p><strong>Superior Circle of Steel:</strong> (9th-level) The additional damage increases from 1d8 to 1d10.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Open Hand Technique</h3>
				<p>Whenever you hit a creature with one of the attacks granted by your <i>Flurry of Blows</i>, you can impose one of the following effects on that creature:</p>

				<ul>
					<li><strong>Axe Kick:</strong> The creature must succeed on a Dexterity saving throw. If it fails, it is knocked prone.</li>
					<li><strong>Fists of Fury:</strong> The creature must make a Strength saving throw. If it fails, you can push it up to 15 feet away from you.</li>
					<li><strong>Palm Strike:</strong> The creature can't take reactions until the end of your next turn.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Wholeness of Body</h3>
				<p>As an action, you can regain hit points equal to three times your monk level. You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Quivering Palm</h3>
				<p>When you hit a creature with an unarmed attack, you can attempt to create deadly vibrations within their body. The creature must make a Constitution saving throw. If it fails, the creature is afflicted with imperceptible vibrations that last until you next finish a long rest.</p>
				<p>You can spend an action to resonate these vibrations—at which point, the vibrations end and the creature suffers 5d10 necrotic damage. If the creature is reduced to 0 hit points by this damage, it dies immediately.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
