<html>
	<body>
		<book>
			<page class="page page--generic page--monk-subclasses">
				<h2 data-icon="shuriken">Way of the Elementalist</h2>
				<p>You are the still center of the turning wheel. When you focus your ki, you can align yourself with the forces of creation and bend the elements to your will.</p>

				<h3><span class="h3__highlight">1</span>Monastic Mantras</h3>
				<p>Add the following four mantras to your list of mantra options: </p>

				<h4 class="h4--option">Balance of All Things</h4>
				<p>When you make an ability check and use Acrobatics or Religion, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this mantra, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Balance of All Things:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Balance of All Things:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<h4 class="h4--option">Fury of Elements</h4>
				<p>When you hit a creature with a weapon melee attack, you can change the type of damage you deal. Choose one of cold, fire, bludgeoning, lightning, or thunder—your attack deals this damage type. In addition, you deal 1d6 additional damage of the same type.</p>
				<p><strong>Greater Fury of Elements:</strong> (5th-level) The additional damage you deal increases from 1d6 to 1d8.</p>
				<p><strong>Superior Fury of Elements:</strong> (9th-level) The additional damage you deal increases from 1d8 to 1d10.</p>

				<h4 class="h4--option">Clutch of the Wild</h4>
				<p>When you hit a Large or smaller creature with a weapon melee attack, you can attempt to trap it using elemental power. The creature must make a Strength saving throw. If it fails, the creature is grappled.</p>
				<p><strong>Greater Clutch of the Wild:</strong> (5th-level) You can use this mantra on Huge creatures.</p>
				<p><strong>Superior Clutch of the Wild:</strong> (9th-level) You can use this mantra on Gargantuan creatures.</p>

				<h4 class="h4--option">Shield of Elements</h4>
				<p>When you are reduced to 0 hit points but not killed outright, you can shield yourself with elemental power to drop to 1 hit point instead. You can't use this mantra again until you finish a long rest.</p>
				<p><strong>Greater Shield of Elements:</strong> (5th-level) You can use this mantra two times per long rest.</p>
				<p><strong>Superior Shield of Elements:</strong> (9th-level) You can use this mantra three times per long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">3</span>Elemental Arts</h3>
				<p>You gain the ability to cast powerful elemental arts by channeling the ki that flows within you.</p>

				<h4>Learning Elemental Arts</h4>
				<p>At 3rd-level, you know three arts of your choice from the elementalist spell list. The spell level of your elemental arts must be lower than or equal to your maximum spell level.</p>
				<p>You learn additional arts of your choice at higher levels, as shown in the <i>Arts Known</i> column of the Class Features (Elementalist) table.</p>
				<p><strong>Replacing Known Arts:</strong> When you finish a long rest, you may replace one of your known elemental arts with another option from the elementalist spell list.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Arts</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Monk</li>
							<li>Elementalist</li>
						</ul>
					</header>
					<section class="panel__body">
						<table class="table table--elementalist-features">
							<thead>
								<tr>
									<th>Level</th>
									<th>Arts Known</th>
									<th>Max. Spell Level</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>3rd</td>
									<td>3</td>
									<td>1st</td>
								</tr>
								<tr>
									<td>4th</td>
									<td>4</td>
									<td>1st</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>5</td>
									<td>1st</td>
								</tr>
								<tr>
									<td>6th</td>
									<td>6</td>
									<td>2nd</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>7</td>
									<td>2nd</td>
								</tr>
								<tr>
									<td>8th</td>
									<td>8</td>
									<td>2nd</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>9</td>
									<td>2nd</td>
								</tr>
								<tr>
									<td>10th</td>
									<td>10</td>
									<td>3rd</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Casting Elemental Arts</h4>
				<p>To cast an elemental art of 1st-level or higher, you must spend a number of ki points as shown in the <i>Elementalist Spellcasting</i> table. You must use the spell's casting time and other rules—but you don't need to provide material components for it.</p>
				<p><strong>Upcasting Spells:</strong> When casting an elemental art at a higher spell level, you can't exceed your <i>Maximum Spell Level</i>—even if you have enough ki points.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Elementalist Spellcasting</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--elementalist-spellcasting">
							<table class="table">
								<thead>
									<tr>
										<th>Spell Level</th>
										<th>Ki Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>2</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>3</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Spell Level</th>
										<th>Ki Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3rd</td>
										<td>5</td>
									</tr>
									<tr class="empty">
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Spellcasting Ability</h4>
				<p>Wisdom is your spellcasting ability for your elemental art spells. Use your Wisdom modifier to determine the saving throw DC or attack modifier for spells that you cast.</p>
			</page>
			<page class="page page--generic page--monk-subclasses">
				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell Save DC:</strong> 8 + your proficiency bonus + your Wisdom modifier</p>
						<p><strong>Spell Attack Modifier:</strong> your proficiency bonus + your Wisdom modifier</p>
					</section>
				</mechanic>

				<h3><span class="h3__highlight">3</span>Spear of Elements</h3>
				<p>When you spend an action to cast an elemental art, you can make one unarmed strike as a bonus action. The range of this unarmed attack is increased by +10 ft.</p>
				<p><strong>Elemental Flurry of Blows:</strong> Immediately after you spend an action to cast an elemental art, you can spend 1 ki point to make two unarmed strikes as a bonus action. The range of these unarmed attacks is increased by +10 ft.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Variable Arts</h3>
				<p>When you learn a <i>variable</i> elemental art, you can choose what type of damage that elemental art deals—fire, cold, bludgeoning, lightning, or thunder. You may learn a variable elemental art multiple times, choosing a new damage type each time.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Elemental Avatar</h3>
				<p>At 10th-level, you have become deeply attuned to the elements of nature. When you finish a long rest, choose one of the following masteries:</p>
				<ul>
					<li><strong>Avatar of Air</strong> (Investiture of Wind)</li>
					<li><strong>Avatar of Earth</strong> (Investiture of Stone)</li>
					<li><strong>Avatar of Fire</strong> (Investiture of Flame)</li>
					<li><strong>Avatar of Water</strong> (Investiture of Ice)</li>
				</ul>

				<p>You can spend an action to freely invoke your chosen avatar. You may use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<list class="panel panel--list panel--list-spells">
					<header class="panel__header">
						<h4 class="panel__title">Elementalist Spell List</h4>
					</header>
					<section class="panel__body">
						<div class="layout">
							<div>
								<h5>Cantrip</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Blade Ward</li>
									<li class='xgte'>Control Flames</li>
									<li class='phb'>Fire Bolt</li>
									<li class='xgte'>Gust</li>
									<li class='xgte'>Mold Earth</li>
									<li class='phb'>Ray of Frost</li>
									<li class='ee'>Shape Water</li>
									<li class='phb'>Shocking Grasp</li>
									<li class='xgte'>Thunderclap</li>
								</ul>

								<h5>1st-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='xgte'>Absorb Elements</li>
									<li class='phb variable'>Burning Hands</li>
									<li class='phb'>Create or Destroy Water</li>
									<li class='xgte'>Earth Tremor</li>
									<li class='phb'>Expeditious Retreat</li>
									<li class='phb'>Feather Fall</li>
									<li class='phb'>Fog Cloud</li>
									<li class='xgte variable'>Ice Knife</li>
									<li class='phb'>Jump</li>
									<li class='phb'>Longstrider</li>
									<li class='phb'>Thunderwave</li>
									<li class='xgte'>Zephyr Strike</li>
								</ul>

								<h5>2nd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='xgte variable'>Aganazzar's Scorcher</li>
									<li class='phb'>Barkskin</li>
									<li class='xgte variable'>Dragon's Breath</li>
									<li class='phb variable'>Flame Blade</li>
									<li class='phb variable'>Flaming Sphere</li>
									<li class='phb'>Gust of Wind</li>
									<li class='phb'>Hold Person</li>
									<li class='phb'>Levitate</li>
									<li class='xgte'>Maximilian's Earthen Grasp</li>
									<li class='phb variable'>Scorching Ray</li>
									<li class='phb'>Shatter</li>
									<li class='xgte variable'>Snilloc's Snowball Swarm</li>
									<li class='phb'>Spider Climb</li>
									<li class='xgte'>Warding Wind</li>
								</ul>

								<h5>3rd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb variable'>Call Lightning</li>
									<li class='xgte'>Erupting Earth</li>
									<li class='phb variable'>Fireball</li>
									<li class='phb'>Fly</li>
									<li class='phb'>Gaseous Form</li>
									<li class='phb variable'>Lightning Bolt</li>
									<li class='xgte'>Melf's Minute Meteors</li>
									<li class='xgte'>Thunder Step</li>
									<li class='xgte'>Tidal Wave</li>
									<li class='xgte'>Wall of Sand</li>
									<li class='xgte'>Wall of Water</li>
									<li class='phb'>Water Breathing</li>
									<li class='phb'>Water Walk</li>
									<li class='phb'>Wind Wall</li>
								</ul>
							</div>
						</div>
					</section>
				</list>
			</page>
		</book>
	</body>
</html>
