<html>
	<body>
		<book>
			<page class="page page--generic page--monk-subclasses" data-header-icon="shuriken">
				<h1 id="monk-subclasses">Monastic Traditions</h1>
				<p>You are a monk, a master of martial combat and spiritual ki. You can channel the mystical energy that flows through your body—but how do you wield it?</p>
				<p>Do you leap into the heart of battle, a blur of fists and fury? Do you bend the elements of nature to your will, striking at your enemies with fire, water, earth, and air? Or do you move silently through shadows, waiting for your enemies to make a lethal mistake?</p>
				<p>Choose a <i>Monastic Tradition</i> to help harness your mystical ki as you master inner peace.</p>

				<h2>Choose Your Tradition</h2>
				<p>Choose your monastic tradition from one of the following options:</p>
				<ul>
					<li><strong>Way of the Elementalist:</strong> You can harness the raw power of the elements—earth, water, air, and fire—and bend them to your will.</li>
					<li><strong>Way of the Open Hand:</strong> You are a master of the martial arts, using special techniques to push, trip, and daze your opponents.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Traditions Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Masterful Monk</i> is a work-in-progress with a limited number of traditions. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Way of the Shadow:</strong> With deception and theatrics, you sneak unseen through the shadows and silently hunt your enemies.</li>
						</ul>
						<p>Got ideas for monastic traditions you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating a Tradition</h3>
				<p>To create your own <i>Monastic Tradition</i> (or to convert an existing tradition from other sources), follow these steps:</p>

				<ol>
					<li><strong>Add 4 Mantras:</strong> At 1st-level, monastic traditions expand the monk mantra list with 4 unique mantras. Create interesting ways to act in battle that are thematic to your tradition—be flavorsome.</li>
					<li><strong>Create 3rd and 6th-level Features:</strong> Monastic traditions grant features at 3rd and 6th-level.</li>
					<li><strong>Create a 10th-level Capstone:</strong> At 10th-level, monastic traditions grant a unique capstone feature—this is the pinnacle of your tradition's theming.</li>
				</ol>

				<p>And that's it, your tradition is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
