<html>
	<body>
		<book>
			<page class="page page--generic page--monk" data-header-icon="magic-hand">
				<h1 id="the-monk">The Monk</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=30>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Monk</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--monk">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency Bonus</th>
										<th>Dragon's Claw</th>
										<th>Ki Points</th>
										<th>Mantras Mastered</th>
										<th>Unarmored Movement</th>
										<th>Features</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>1d4</td>
										<td>3</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td>Martial Arts, Unarmored Defense, Ki, Flurry of Blows, Mantras, Monastic Tradition</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>1d4</td>
										<td>6</td>
										<td>3</td>
										<td>+10 ft</td>
										<td>Unarmored Movement</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>1d4</td>
										<td>9</td>
										<td>4</td>
										<td>+10 ft</td>
										<td>Deflect Missiles, Monastic Tradition Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>1d4</td>
										<td>12</td>
										<td>4</td>
										<td>+10 ft</td>
										<td>Ability Score Improvement, Slow Fall</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>1d6</td>
										<td>15</td>
										<td>4</td>
										<td>+10 ft</td>
										<td>Extra Attack, Meditation, Greater Mantras</td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>1d6</td>
										<td>18</td>
										<td>5</td>
										<td>+15 ft</td>
										<td>Ki-Empowered Strikes, Monastic Tradition Features</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>1d6</td>
										<td>21</td>
										<td>5</td>
										<td>+15 ft</td>
										<td>Evasion, Inner Peace</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>1d6</td>
										<td>24</td>
										<td>5</td>
										<td>+15 ft</td>
										<td>Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>1d8</td>
										<td>27</td>
										<td>5</td>
										<td>+15 ft</td>
										<td>Sky Walk, Superior Mantras</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>1d8</td>
										<td>30</td>
										<td>6</td>
										<td>+20 ft</td>
										<td>Lightning Flurry, Greater Inner Peace, Monastic Tradition Features</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d8 per monk level.</li>
					<li><strong>Hit Points (1st-level):</strong> 8 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d8 (or 5) + your Constitution modifier per monk level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> None.</li>
					<li><strong>Weapons:</strong> Simple weapons, shortswords.</li>
					<li><strong>Tools:</strong> Choose one type of artisan's tools or one musical instrument.</li>
					<li><strong>Saving Throws:</strong> Strength, Dexterity.</li>
					<li><strong>Skills:</strong> Choose two from Acrobatics, Athletics, History, Insight, Religion, and Stealth.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li><i>(a)</i> a shortsword or <i>(b)</i> any simple weapon.</li>
					<li><i>(a)</i> a dungeoneer's pack or <i>(b)</i> an explorer's pack.</li>
					<li>10 darts.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 5d4 gold pieces (or 12 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--monk">
				<h2 data-icon="magic-hand">Class Features</h2>
				<p>As a monk, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Martial Arts</h3>
				<p>Your training in the martial arts gives you mastery of unarmed strikes and monk weapons. You gain the following benefits while you are (a) unarmed or wielding only monk weapons and (b) you aren't wearing armor or wielding a shield:</p>

				<ul>
					<li><strong>Scorpion Sting:</strong> You can use Dexterity instead of Strength for the attack and damage rolls of your unarmed strikes and monk weapons.</li>
					<li><strong>Dragon's Claw:</strong> You can roll 1d4 in place of the normal damage of your unarmed strike or monk weapon. This die changes as you gain levels, as shown in the <i>Dragon's Claw</i> column of the Class Features (Monk) table.</li>
					<li><strong>Tiger Swipe:</strong> When you (a) use the Attack action with an unarmed strike or a monk weapon or (b) spend any number of ki points as part of your action, you can make one unarmed strike as a bonus action.</li>
				</ul>

				<h4>Monk Weapons</h4>
				<p>You can choose a number of weapons to be your monk weapons equal to 5 + your Wisdom modifier (minimum of five weapons). The chosen weapons must each meet the following criteria:</p>

				<ul>
					<li>The weapon must be a simple or martial weapon.</li>
					<li>You must be proficient with the weapon.</li>
					<li>The weapon must lack these properties: heavy, special, or two-handed.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Unarmored Defense</h3>
				<p>While you are wearing no armor and not wielding a shield, your armor class equals 10 + your Dexterity modifier + your Wisdom modifier.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Unarmored Defense</h4>
					</header>
					<section class="panel__body">
						<p><strong>Armor Class (AC):</strong> 10 + your Dexterity modifier + your Wisdom modifier</p>
					</section>
				</mechanic>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Ki</h3>
				<p>You have a number of ki points as shown in the <i>Ki Points</i> column of the Class Features (Monk) table. You can spend ki to overcome danger with mantras—and you may learn other applications from your Monastic Tradition.</p>
				<p>You recover all expended ki points when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Flurry of Blows</h3>
				<p>Immediately after you take the Attack action on your turn, you can spend 1 ki point to make two unarmed strikes as a bonus action.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Mantras</h3>
				<p>You master three mantras of your choice from your list of mantra options. To use a mastered mantra, you must spend one ki point.</span></p>
				<p><strong>Mastering New Mantras:</strong> You master additional mantras as you gain monk levels, as show in the <i>Mantras Mastered</i> column of the Class Features (Monk) table.</p>
				<p><strong>Replacing a Mantra:</strong> When you finish a long rest, you may choose one of your mastered mantras and replace it with a different option.</p>
				<p><strong>Saving Throws:</strong> Some of your mantras require your target to make a saving throw. The saving throw DC is calculated as follows:</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Mantra Save DC</h4>
					</header>
					<section class="panel__body">
						<p><strong>Mantra Save DC:</strong> 8 + your proficiency bonus + your Wisdom modifier</p>
					</section>
				</mechanic>

				<h4 class="h4--option">Crashing Thunder</h4>
				<p>Once per turn, when you hit a Large or smaller creature with a melee weapon attack, you can attempt to push the creature away from you. The creature must make a Strength saving throw. On a failed save, you push the creature back up to 10 ft.</p>
				<p><strong>Greater Crashing Thunder:</strong> (5th-level) You can use this mantra on Huge creatures.</p>
				<p><strong>Superior Crashing Thunder:</strong> (9th-level) You can use this mantra on Gargantuan creatures.</p>
			</page>
			<page class="page page--generic page--monk">
				<h4 class="h4--option">Fell the Forest</h4>
				<p>Once per turn, when you hit a Large or smaller creature with a weapon attack, you can spend a bonus action to attempt to knock the creature down. The creature must make a Strength saving throw. On a failed save, you knock the creature prone.</p>
				<p><strong>Greater Fell the Forest:</strong> (5th-level) You can use this mantra on Huge creatures.</p>
				<p><strong>Superior Fell the Forest:</strong> (9th-level) You can use this mantra on Gargantuan creatures.</p>

				<h4 class="h4--option">Hawk Slash</h4>
				<p>When you would miss with an attack roll against a creature, you can roll 1d6 and add it to your attack roll.</p>
				<p><strong>Greater Hawk Slash:</strong> (5th-level) You can roll 1d8 and add it to your attack roll.</p>
				<p><strong>Superior Hawk Slash:</strong> (9th-level) You can roll 1d10 and add it to your attack roll.</p>

				<h4 class="h4--option">Leaping Dragon</h4>
				<p>When you hit a creature with a melee weapon attack, you can leap up to 10 ft in a direction of your choice. This movement doesn't provoke opportunity attacks from the creature you hit. You must have enough speed to leap this distance.</p>
				<p><strong>Greater Leaping Dragon:</strong> (5th-level) The distance you can leap increases from 10 ft to 15 ft.</p>
				<p><strong>Superior Leaping Dragon:</strong> (9th-level) The distance you can leap increases from 15 ft to 20 ft.</p>

				<h4 class="h4--option">Move the Mountain</h4>
				<p>Once per turn, when you hit a Large or smaller creature with a melee weapon attack, you can attempt to move the creature. The creature must make a Strength saving throw. On a failed save, you can move the target up to 5 ft in a direction of your choice. In addition, you may move up to 5 ft in a direction of your choice. Neither movement triggers an attack of opportunity.</p>
				<p><strong>Greater Move the Mountain:</strong> (5th-level) You can use this mantra on Huge creatures.</p>
				<p><strong>Superior Move the Mountain:</strong> (9th-level) You can use this mantra on Gargantuan creatures.</p>

				<h4 class="h4--option">Tempest Spear</h4>
				<p>During your turn, you can extend the reach of one unarmed attack you make before the end of your turn. The reach is increased by +5 ft.</p>
				<p><strong>Greater Tempest Spear:</strong> (5th-level) You can extend the reach of two unarmed attacks you make before the end of your turn.</p>
				<p><strong>Superior Tempest Spear:</strong> (9th-level) You can extend the reach of three unarmed attacks you make before the end of your turn.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Monastic Tradition</h3>
				<p>Choose a Monastic Tradition. You gain features from your Monastic Tradition at 1st, 3rd, 6th, and 10th-level.</p>

				<h4>Monastic Mantras</h4>
				<p>You gain access to four unique mantras from your Monastic Tradition. Add these to your list of mantra options.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">2</span>Unarmored Movement</h3>
				<p>Your speed increases by 10 feet while you are both (a) not wearing armor and (b) not wielding a shield. This bonus increases when you reach certain monk levels, as shown in the Class Features (Monk) table.</p>
				<p>In addition, while you are not wearing armor and not wielding a shield, you can use the <i>Patient Turtle</i> and <i>Step of the Wind</i> abilities.</p>

				<h4 class="h4--option">Patient Turtle</h4>
				<p>You can spend one ki point to take the Dodge action as a bonus action.</p>

				<h4 class="h4--option">Step of the Wind</h4>
				<p>You can spend one ki point to take the Disengage or Dash action as a bonus action. In addition, your jump distance is doubled until the end of your turn.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Deflect Missiles</h3>
				<p>When you are hit by a ranged weapon attack, you can spend your reaction to deflect the missile. When you do so, the damage you take from the attack is reduced by 1d10 + your Dexterity modifier + your monk level.</p>
				<p><strong>Catching Butterflies:</strong> If you reduce the damage to 0 when deflecting a missile, you can catch it. The missile must be small enough for you to hold in one hand and you must have at least one hand free.</p>
				<p><strong>Spitting Wasp:</strong> When you catch a missile in this way, you can spend 1 ki point to (as part of the same reaction) make a ranged attack with the weapon or piece of ammunition you just caught.</p>
				<p>You make this attack with proficiency, regardless of your weapon proficiencies. For the attack, the missile counts as a monk weapon with a normal range of 20 feet and a long range of 60 feet.</p>
			</page>
			<page class="page page--generic page--monk">
				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">4</span>Slow Fall</h3>
				<p>When you fall, you can spend your reaction to reduce any falling damage you take by an amount equal to five times your monk level.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">5</span>Extra Attack</h3>
				<p>You can attack twice, instead of once, whenever you take the Attack action on your turn.</p>

				<h3><span class="h3__highlight">5</span>Meditation</h3>
				<p>When you finish a short rest, you can meditate to regain 1d6 expended ki points. You can use this feature once, and you regain expended uses when you finish a long rest.</p>
				<p><strong>Greater Meditation:</strong> Starting at 9th-level, the amount of ki you regain increases from 1d6 to 2d6.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Ki-Empowered Strikes</h3>
				<p>Your unarmed strikes count as magical for the purpose of overcoming resistance and immunity to nonmagical attacks and damage.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">7</span>Evasion</h3>
				<p>When you are subjected to an effect that allows you to make a Dexterity saving throw to take only half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">7</span>Inner Peace</h3>
				<p>You can spend an action to end one effect on yourself that is causing you to be charmed or frightened.</p>
				<p><strong>Greater Inner Peace:</strong> Starting at 10th-level, you are immune to disease and poison.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">9</span>Sky Walk</h3>
				<p>While you are (a) not wearing armor and (b) not wielding a shield, you can move along vertical surfaces and across liquids on your turn without falling during the move.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Lightning Flurry</h3>
				<p>During your turn, you can flare your ki to activate a burst of focused power. For the next minute, you can use your <i>Flurry of Blows</i> feature without needing to spend a ki point. Your lightning flurry ends early if you are knocked unconscious or you choose to end it as a free action.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
