<html>
	<body>
		<book>
			<page class="page page--generic page--paladin-subclasses">
				<h2 data-icon="dragon-shield">Oath of Devotion</h2>
				<p>In swearing an oath of devotion, you hold yourself to the highest ideals of justice, virtue, and order.</p>

				<h3><span class="h3__highlight">1</span>Tenets of Devotion</h3>
				<p>You have sworn a vow to uphold these sacred tenets:</p>

				<ul>
					<li><strong>I will protect those who can't protect themselves:</strong> Protect the weak and punish those who threaten them.</li>
					<li><strong>I will never be cruel or cowardly:</strong> Treat others with fairness. Do as much good as possible while causing the least amount of harm. Show mercy to your foes, but temper it with wisdom.</li>
					<li><strong>I will take responsibility for my words and actions:</strong> Own the things you say and do. Honor your promises, put order before chaos, and obey those who have just authority over you.</li>
				</ul>

				<h3><span class="h3__highlight">1</span>Lay on Hands</h3>
				<p>You gain the following Lay on Hands ability:</p>

				<h4 class="h4--option">Healing Touch</h4>
				<p>When you touch a creature, you may cast <i>Cure Wounds</i> as a 1st-level spell without first needing to prepare the spell or spend any conviction points.</p>
				<p>You may use this feature once, and you regain expended uses when you finish a long rest.</p>
				<p><strong>Greater Healing Touch:</strong> Starting at 5th-level, you may use this feature twice. Each time, you cast <i>Cure Wounds</i> as a 2nd-level spell.</p>
				<p><strong>Superior Healing Touch:</strong> Starting at 9th-level, you may use this feature three times. Each time, you cast <i>Cure Wounds</i> as a 3rd-level spell.</p>

				<h3><span class="h3__highlight">1</span>Oath Smite and Aura</h3>
				<p>Add the following to your list of smite and aura options.</p>

				<h4 class="h4--option">Protection</h4>
				<p>When you hit a creature with a melee weapon attack, you can spend two conviction points to deal an additional 1d8 radiant damage. In addition, a creature of your choice that is within 30 ft gains a number of temporary hit points equal to 2d4 + your Charisma modifier.</p>
				<p><strong>Greater Protection:</strong> (5th-level, +1 conviction) The base damage increases to 2d8 and the temporary hit points gained increases to 2d6 + your Charisma modifier.</p>
				<p><strong>Superior Protection:</strong> (9th-level, +3 conviction) The base damage increases to 3d8 and the temporary hit points gained increases to 2d8 + your Charisma modifier.</p>

				<h4 class="h4--option">Aura of Clarity</h4>
				<p>You and friendly creatures within 10 ft of you can't be charmed.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Oath Spells</h3>
				<p>You gain the following oath spells.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Oath of Devotion Spells</h4>
					</header>
					<section class="panel__body">
						<table class="table table--devotion-spells">
							<thead>
								<tr>
									<th>Paladin Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>3rd</td>
									<td>Protection from Evil and Good, Sanctuary</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Lesser Restoration, Zone of Truth</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Beacon of Hope, Dispel Magic</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3><span class="h3__highlight">3</span>Protect the Fallen</h3>
				<p>When an ally within 15 feet of you would be reduced to 0 hit points from a weapon attack, you spend your reaction to move up to half your speed adjacent to your ally—that ally then drops to 1 hit point instead.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<h3><span class="h3__highlight">3</span>Judge the Wicked</h3>
				<p>As an action, you can imbue one weapon that you are holding with positive energy. For 1 minute, you add your Charisma modifier to attack rolls made with that weapon (with a minimum bonus of +1). The weapon also emits bright light in a 20-foot radius and dim light 20 feet beyond that. If the weapon is not already magical, it becomes magical for the duration.</p>
				<p>This effect lasts for up to one minute. You can end this effect on your turn as part of any other action. If you are no longer holding or carrying this weapon, or if you fall unconscious, this effect ends.</p>
				<p>You can use this feature a number of times equal to your Charisma modifier, and you regain expended uses when you finish a long rest.</p>

				<h3><span class="h3__highlight">7</span>Constancy</h3>
				<p>Choose one of your skill proficiencies. Your proficiency bonus is doubled for any ability check you make that uses the chosen proficiency.</p>

				<h3><span class="h3__highlight">9</span>Sacred Vow</h3>
				<p>When a creature within 60 ft of you makes an explicit promise to you, you can spend a reaction to turn that promise into a sacred vow. You and the creature must both be able to hear and understand each other.</p>
				<p>The creature must make a Wisdom saving throw. If it fails, the creature is magically bound to honor the spirit of its promise to you. The creature takes 5d10 psychic damage each time it acts in a manner which contradicts its promise—but no more than once per day. A creature reduced to 0 hit points by this effect dies immediately, and you regain 1d8 expended conviction points.</p>
				<p>This effect ends when (a) the creature fulfills its promise, (b) the promise is rendered impossible to achieve, or (c) you finish a long rest.</p>
				<p>You can use this feature once and you regain expended uses when you finish a long rest.</p>
			</page>
		</book>
	</body>
</html>
