<html>
	<body>
		<book>
			<page class="page page--generic page--columns-1 page--paladin-spells">
				<h2 class="layout--hidden" data-toc-ignore-book="true">Paladin Spells</h2>

				<list class="panel panel--list panel--list-spells">
					<header class="panel__header">
						<h4 class="panel__title">Spell List</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Paladin</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<div>
								<h5>1st-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Bless</li>
									<li class='xgte'>Ceremony</li>
									<li class='phb'>Command</li>
									<li class='phb'>Compelled Duel</li>
									<li class='phb'>Cure Wounds</li>
									<li class='phb'>Detect Evil and Good</li>
									<li class='phb'>Detect Magic</li>
									<li class='phb'>Detect Poison and Disease</li>
									<li class='phb'>Divine Favor</li>
									<li class='phb'>Heroism</li>
									<li class='phb'>Protection from Evil and Good</li>
									<li class='phb'>Purify Food and Drink</li>
									<li class='phb'>Shield of Faith</li>
								</ul>
							</div>
							<div>
								<h5>2nd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Aid</li>
									<li class='phb'>Find Steed</li>
									<li class='phb'>Gentle Repose</li>
									<li class='phb'>Lesser Restoration</li>
									<li class='phb'>Locate Object</li>
									<li class='phb'>Magic Weapon</li>
									<li class='phb'>Prayer of Healing</li>
									<li class='phb'>Protection from Poison</li>
									<li class='phb'>Warding Bond</li>
									<li class='phb'>Zone of Truth</li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
								</ul>
							</div>
							<div>
								<h5>3rd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Aura of Vitality</li>
									<li class='phb'>Create Food and Water</li>
									<li class='phb'>Crusader's Mantle</li>
									<li class='phb'>Daylight</li>
									<li class='phb'>Dispel Magic</li>
									<li class='phb'>Elemental Weapon</li>
									<li class='xgte'>Life Transference</li>
									<li class='phb'>Magic Circle</li>
									<li class='phb'>Remove Curse</li>
									<li class='phb'>Revivify</li>
									<li class='phb'>Spirit Guardians</li>
									<li class="empty"></li>
									<li class="empty"></li>
								</ul>
							</div>
						</div>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
