<html>
	<body>
		<book>
			<page class="page page--generic page--paladin-subclasses" data-header-icon="dragon-shield">
				<h1 id="paladin-subclasses">Sacred Oaths</h1>
				<p>Words have real power, and the paladin understands this better than anyone. By swearing a sacred oath, you are able to channel your conviction into strength. But what kind of oath have you made? Do you seek to protect the weak and heal the sick? Do you judge the guilty and punish the wicked? Or do you destroy your enemies without mercy and salt their land?</p>
				<p>Choose a <i>Sacred Oath</i> to describe the change you want to create in the world.</p>

				<h2>Choose Your Oath</h2>
				<p>Choose your oath from one of the following options:</p>
				<ul>
					<li><strong>Devotion:</strong> You have sworn to protect those who can't protect themselves. You fight those who would prey on the weak, and with conviction you heal the sick.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Oaths Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Pious Paladin</i> is a work-in-progress with a limited number of oaths. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Law:</strong> You believe that law and order are essential for culture to flourish. It is your solemn duty to act as judge, jury, and—when necessary—executioner.</li>
							<li><strong>Conquest:</strong> You believe that power belongs to those who have the strength to sieze it. Might makes right—and woe betide those who step out of line.</li>
							<li><strong>Ruin:</strong> You believe that the end times are approaching, and that you are their harbinger.</li>
						</ul>
						<p>Got ideas for sacred oaths you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating an Oath</h3>
				<p>To create your own <i>Sacred Oath</i> (or to convert an existing oath from other sources), follow these steps:</p>

				<ol>
					<li><strong>Add 3 Tenets:</strong> Add 3 tenets from your sacred oath. Tenets should be relatively open-ended and act as a guide for players when roleplaying.</li>
					<li><strong>Create a Lay on Hands Ability:</strong> At 1st-level, a paladin gains a unique ability that activates by touch. This ability increases in power at 5th and 9th-level.</li>
					<li><strong>Add 1 Smite:</strong> At 1st-level, a sacred oath expands the list of paladin smite options with a unique smite.</li>
					<li><strong>Add Oath Spells:</strong> Sacred oaths expand the paladin spell list with 6 unique spell options. Add 2 spell options to be gained at 3rd, 5th, and 9th-levels.</li>
					<li><strong>Add 1 Aura:</strong> At 6th-level, sacred oaths expand the list of sacred auras with 1 unique aura choice.</li>
					<li><strong>Create 3rd and 7th-level Features:</strong> Sacred oaths grant features at 3rd and 7th-level.</li>
					<li><strong>Create a 9th-level Capstone:</strong> At 9th-level, sacred oaths grant a unique capstone feature that is the pinnacle of your oath's theming.</li>
				</ol>

				<p>And that's it, your oath is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
