<html>
	<body>
		<book>
			<page class="page page--generic page--paladin" data-header-icon="thor-hammer">
				<h1 id="the-paladin">The Paladin</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=60>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Paladin</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--paladin">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency Bonus</th>
										<th>Conviction Points</th>
										<th>Smites Mastered</th>
										<th>Max. Spell Level</th>
										<th>Features</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>4</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td>Sacred Oath, Conviction, Smite, Fighting Style</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>6</td>
										<td>2</td>
										<td>1st</td>
										<td>Spellcasting</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>8</td>
										<td>3</td>
										<td>1st</td>
										<td>Divine Health, Sacred Oath Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>10</td>
										<td>3</td>
										<td>1st</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>13</td>
										<td>3</td>
										<td>2nd</td>
										<td>Extra Attack</td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>16</td>
										<td>3</td>
										<td>2nd</td>
										<td>Sacred Aura</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>19</td>
										<td>4</td>
										<td>2nd</td>
										<td>Sacred Oath Features</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>22</td>
										<td>4</td>
										<td>2nd</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>26</td>
										<td>4</td>
										<td>3rd</td>
										<td>Sacred Oath Features</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>30</td>
										<td>4</td>
										<td>3rd</td>
										<td>Voice of the Crusader, Greater Sacred Aura</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d10 per paladin level.</li>
					<li><strong>Hit Points (1st-level):</strong> 10 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d10 (or 6) + your Constitution modifier per paladin level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> All armor, shields.</li>
					<li><strong>Weapons:</strong> Simple weapons, martial weapons.</li>
					<li><strong>Tools:</strong> None.</li>
					<li><strong>Saving Throws:</strong> Wisdom, Charisma.</li>
					<li><strong>Skills:</strong> Choose two from Athletics, Insight, Intimidation, Medicine, Persuasion and Religion.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li><i>(a)</i> a martial weapon and a shield or <i>(b)</i> two martial weapons.</li>
					<li><i>(a)</i> five javelins or <i>(b)</i> any simple melee weapon.</li>
					<li><i>(a)</i> a priest's pack or <i>(b)</i> an explorer's pack.</li>
					<li>Chain mail and a holy symbol.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 5d4 x 10 gold pieces (or 120 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--paladin">
				<h2 id="paladin-class-features" data-icon="thor-hammer">Class Features</h2>
				<p>As a paladin, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Sacred Oath</h3>
				<p>Choose a Sacred Oath. You gain features from your Sacred Oath at 1st, 3rd, 7th, and 9th-level.</p>

				<h4>Tenets</h4>
				<p>Each oath has a set of three guiding principles—its <i>tenets</i>—that help to direct you in the service of your oath. These are sacred vows that you have sworn. Honor these tenets to gain—and maintain—your conviction.</p>
				<p><strong>Sacred Favor:</strong> If you make a notable effort to honor a tenet, you may be blessed with <i>sacred favor</i>. You can hold a maximum number of sacred favors at one time equal to your Charisma modifier (minimum 1).</p>
				<p>On your turn, as a free action, you may spend one sacred favor to do one of the following:</p>
				<ul>
					<li><strong>Gain Stamina:</strong> Regain 1 expended hit die.</li>
					<li><strong>Gain Power:</strong> Regain 1 expended 1st-level spell slot.</li>
					<li><strong>Twist Fate:</strong> Reroll 1 ability check, attack roll, or saving throw. You must accept the second result.</li>
					<li><strong>Cause Pain:</strong> Reroll all damage dice of an attack you have just made. You may accept either result.</li>
					<li><strong>Forgiveness:</strong> Forgive one transgression you have made.</li>
				</ul>
				<p><strong>Transgression:</strong> If you break or reject one of the tenets of your oath, some of your sacred power may be stripped away for a time.</p>
				<p>Roll a d6 and check the <i>Transgression</i> table below to find out which class feature you lose access to. Reroll any result that doesn't fully apply to you.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Transgression</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--transgression">
							<table class="table">
								<thead>
									<tr>
										<th>d6</th>
										<th>Feature Lost</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Oath Spells</td>
									</tr>
									<tr>
										<td>2</td>
										<td>1d4 Conviction Points</td>
									</tr>
									<tr>
										<td>3</td>
										<td>Lay on Hands</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>d6</th>
										<th>Feature Lost</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>4</td>
										<td>Divine Health</td>
									</tr>
									<tr>
										<td>5</td>
										<td>Voice of the Crusader</td>
									</tr>
									<tr>
										<td>6</td>
										<td>Another Feature</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<p><strong>Penance:</strong> If you have transgressed, you will have to perform a penance to regain your conviction. The scale of this penance may vary depending on the severity of your transgression, but some common forms include:</p>

				<ul>
					<li><strong>Donate:</strong> You make a charitable donation of goods, coin, or time to a worthy cause.</li>
					<li><strong>Confess:</strong> You confess your transgression to a higher-ranking agent of your oath and are forgiven.</li>
					<li><strong>Contemplate:</strong> You spend a period of time in dedicated contemplation of your oath.</li>
					<li><strong>Quest:</strong> You complete a sacred quest in the service of your oath.</li>
					<li><strong>Sacrifice:</strong> You give up something of significant personal value.</li>
				</ul>

				<p>If your penance is accepted, you regain one lost feature.</p>

				<col-break></col-break>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Lay on Hands</h4>
				<p>You are able to share the power of your conviction through a simple touch. You gain access to one <i>Lay on Hands</i> ability from your oath.</p>

				<h4>Oath Smite</h4>
				<p>You gain access to one unique smite from your Sacred Oath. Add this to your list of smite options.</p>

				<h4>Oath Spells</h4>
				<p>Each oath has a list of spells—its oath spells—that you gain at the paladin levels noted in the oath description. Once you gain an oath spell, you always have it prepared, and it doesn't count against the number of spells you can prepare each day.</p>
				<p>If you have an oath spell that doesn't appear on the paladin spell list, the spell is nonetheless a paladin spell for you.</p>

				<h4>Oath Aura</h4>
				<p>Starting at 6th-level, you gain access to one unique aura from your Sacred Oath. Add this to your list of aura options.</p>

				<h3><span class="h3__highlight">1</span>Conviction</h3>
				<p>Your conviction in your oath gives you strength. You have a number of conviction points, as shown in the <i>Conviction Points</i> column of the Class Features (Paladin) table. You can spend conviction to smite your enemies—and you may learn other applications from your Sacred Oath.</p>
				<p>You recover all expended conviction points when you finish a long rest.</span></p>

				<h3><span class="h3__highlight">1</span>Smite</h3>
				<p>You master two smites of your choice from your list of smite options. Once per turn, when you hit a creature with a melee weapon attack, you may spend one or more conviction points to use one of your mastered smites.</p>
				<p><strong>Mastering New Smites:</strong> You master additional smites as you gain more paladin levels, as show in the <i>Smites Mastered</i> column of the Class Features (Paladin) table.</p>
				<p><strong>Replacing a Mastered Smite:</strong> When you finish a long rest, you may replace one of your mastered smites with a different one.</p>
				<p><strong>Saving Throws:</strong> Some of your smites require your target to make a saving throw. The saving throw DC is calculated as follows:</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Smite Save DC</h4>
					</header>
					<section class="panel__body">
						<p><strong>Save DC:</strong> 8 + your proficiency bonus + your Charisma modifier</p>
					</section>
				</mechanic>
			</page>
			<page class="page page--generic page--paladin">
				<h4 class="h4--option">Branding</h4>
				<p>When you hit a creature with a melee weapon attack, you can spend two conviction points to deal an additional 1d8 radiant damage. In addition, until the smite ends, the creature sheds dim light in a 5 ft radius and can't benefit from the <i>Invisible</i> condition.</p>
				<p><strong>Smite Duration:</strong> Concentration, up to 1 minute.</p>
				<p><strong>Greater Branding:</strong> (5th-level, +1 conviction) The base damage increases to 2d8.</p>
				<p><strong>Superior Branding:</strong> (9th-level, +3 conviction) The base damage increases to 3d8.</p>

				<h4 class="h4--option">Blinding</h4>
				<p>When you hit a creature with a melee weapon attack, you can spend two conviction points to deal an additional 1d8 radiant damage. In addition, the creature must make a Constitution saving throw. If it fails, the creature is blinded until the end of its next turn.</p>
				<p><strong>Greater Blinding:</strong> (5th-level, +1 conviction) The base damage increases to 2d8.</p>
				<p><strong>Superior Blinding:</strong> (9th-level, +3 conviction) The base damage increases to 3d8.</p>

				<h4 class="h4--option">Divine</h4>
				<p>When you hit a creature with a melee weapon attack, you can spend two conviction points to deal an additional 1d8 radiant damage. If the creature is undead or a fiend, the damage increases by 1d8.</p>
				<p><strong>Greater Divine:</strong> (5th-level, +1 conviction) The base damage increases to 2d8.</p>
				<p><strong>Superior Divine:</strong> (9th-level, +3 conviction) The base damage increases to 3d8.</p>

				<h4 class="h4--option">Searing</h4>
				<p>When you hit a creature with a melee weapon attack, you can spend two conviction points to deal an additional 1d8 fire damage. In addition, the creature ignites in flame.</p>
				<p>At the start of each of its turns until the smite ends, the target must make a Constitution saving throw. On a failed save, it takes 1d8 fire damage. On a successful save, the smite ends. If the creature—or another creature within 5 feet of it—uses an action to put out the flames (or if some other effect douses the flames), the smite ends.</p>
				<p><strong>Smite Duration:</strong> Concentration, up to 1 minute.</p>
				<p><strong>Greater Searing:</strong> (5th-level, +1 conviction) The base damage increases to 2d8 and the ongoing damage increases to 1d10.</p>
				<p><strong>Superior Searing:</strong> (9th-level, +3 conviction) The base damage increases to 3d8 and the ongoing damage increases to 1d12.</p>

				<h4 class="h4--option">Thunderous</h4>
				<p>When you hit a creature with a melee weapon attack, you can spend two conviction points to deal an additional 1d8 thunder damage. The creature must make a Strength saving throw or be pushed back 10 ft and knocked prone.</p>
				<p><strong>Greater Thunderous:</strong> (5th-level, +1 conviction) The base damage increases to 2d8 and the creature is pushed back up to 15 ft.</p>
				<p><strong>Superior Thunderous:</strong> (9th-level, +3 conviction) The base damage increases to 3d8 and the creature is pushed back up to 20 ft.</p>

				<col-break></col-break>

				<h4 class="h4--option">Wrathful</h4>
				<p>When you hit a creature with a melee weapon attack, you can spend two conviction points to deal an additional 1d8 psychic damage. In addition, the creature must make a Wisdom saving throw. If it fails, the creature is fightened of you until the effect ends.</p>
				<p>As an action, the creature can make a Wisdom check against your smite save DC to end this effect.</p>
				<p><strong>Smite Duration:</strong> Concentration, up to 1 minute.</p>
				<p><strong>Greater Wrathful:</strong> (5th-level, +1 conviction) The base damage increases to 2d8.</p>
				<p><strong>Superior Wrathful:</strong> (9th-level, +3 conviction) The base damage increases to 3d8.</p>

				<h3><span class="h3__highlight">1</span>Fighting Style</h3>
				<p>Choose one of the following Fighting Styles. You can't take a Fighting Style option more than once, even if you later get to choose again.</p>
				<p><strong>Changing Your Fighting Style:</strong> When you finish a long rest, you can choose one of the fighting styles you know and replace it with a different fighting style.</p>

				<h4 class="h4--option">Defense</h4>
				<p>While you are wearing armor, you gain a +1 bonus to AC.</p>

				<h4 class="h4--option">Dueling</h4>
				<p>When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.</p>
				<p>

				<h4 class="h4--option">Great Weapon Fighting</h4>
				<p>When you roll a 1 or 2 on a damage die for an attack you make with a melee weapon that you are wielding with two hands, you can reroll the die and must use the new roll, even if the new roll is a 1 or a 2.</p>
				<p>The weapon must have the two-handed or versatile property for you to gain this benefit.</p>

				<h4 class="h4--option">Protection</h4>
				<p>When a creature you can see attacks a target other than you that is within 5 feet of you, you can use your reaction to impose disadvantage on the attack roll. You must be wielding a shield.</p>

				<h3><span class="h3__highlight">2</span>Spellcasting</h3>
				<p>You gain the ability to cast paladin spells by channeling your conviction.</p>

				<h4>Preparing Spells</h4>
				<p>You prepare the list of paladin spells that are available for you to cast, choosing from the paladin spell list.</p>
				<p><strong>Preparing Your Spell List:</strong> Choose a number of paladin spells equal to your Charisma modifier + your paladin level (minimum of one spell). The spells must be of a level lower than or equal to your <i>Maximum Spell Level</i>. Casting a spell doesn't remove it from your list of prepared spells.</p>
				<p><strong>Changing Your Prepared Spells:</strong> You can change your list of prepared spells when you finish a long rest. Preparing a new list of paladin spells requires time: at least 1 minute per spell level for each spell on your list.</p>
			</page>
			<page class="page page--generic page--paladin">
				<h4>Casting Spells</h4>
				<p>To cast a paladin spell of 1st-level or higher, you must spend a number of conviction points as shown in the <i>Paladin Spellcasting</i> table below. You recover all expended conviction points when you finish a long rest.</p>
				<p><strong>Upcasting Spells:</strong> When you cast a paladin spell at a higher spell level, you can't exceed your <i>Maximum Spell Level</i>—even if you have enough conviction points.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Paladin Spellcasting</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--spellcasting">
							<table class="table">
								<thead>
									<tr>
										<th>Spell<br/>Level</th>
										<th>Conviction<br/>Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>2</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>3</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Spell<br/>Level</th>
										<th>Conviction<br/>Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>3rd</td>
										<td>5</td>
									</tr>
									<tr>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<h4>Spellcasting Ability</h4>
				<p>Charisma is your spellcasting ability for your paladin spells. Use your Charisma modifier to determine the saving throw DC or attack modifier for a paladin spell you cast.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell Save DC:</strong> 8 + your proficiency bonus + your Charisma modifier</p>
						<p><strong>Spell Attack Modifier:</strong> your proficiency bonus + your Charisma modifier</p>
					</section>
				</mechanic>

				<h4>Spellcasting Focus</h4>
				<p>You can use a holy symbol as a spellcasting focus for your paladin spells.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Divine Health</h3>
				<p>You are immune to disease.</p>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">5</span>Extra Attack</h3>
				<p>You can attack twice, instead of once, whenever you take the Attack action on your turn.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">6</span>Sacred Aura</h3>
				<p>You master one sacred aura of your choice. You can spend a bonus action to radiate your sacred aura lasting for up to 10 minutes (or until you are rendered unconcious).</p>
				<p>You can use this feature a number of times equal to your Charisma modifier (minimum of 1), and you regain expended uses when you finish a long rest.</p>
				<p><strong>Replacing a Sacred Aura:</strong> When you finish a long rest, you may choose one of your sacred auras and replace it with a different option.</p>
				<p><strong>Unique Effect:</strong> A creature can't benefit from the same sacred aura from multiple sources.</p>
				<p><strong>Greater Sacred Aura:</strong> At 10th-level, choose one additional sacred aura. Your aura now radiates both effects at the same time.</p>

				<h4 class="h4--option">Aura of Courage</h4>
				<p>You and friendly creatures within 10 feet of you can't be frightened.</p>

				<h4 class="h4--option">Aura of Protection</h4>
				<p>Whenever you or a friendly creature within 10 feet of you must make a saving throw, the creature gains a bonus to the saving throw equal to your Charisma modifier (with a minimum bonus of +1).</p>

				<h4 class="h4--option">Aura of Radiance</h4>
				<p>You and friendly creatures within 10 feet of you gain resistance to necrotic damage. In addition, your melee weapon attacks deal +1 radiant damage.</p>

				<h4 class="h4--option">Aura of Wrath</h4>
				<p>You and friendly creatures within 10 feet of you gain a +1 damage bonus when making weapon attacks.</p>

				<h3><span class="h3__highlight">10</span>Voice of the Crusader</h3>
				<p>With conviction, you are able to instill the tenets of your oath in even the most dangerous of enemies. As an action, you may choose one of your oath's tenets and proclaim it. Up to twelve creatures of your choice that you can see within 60 ft must make a Charisma saving throw. On a failed save, the creature is inspired—or bound—by your tenet for up to 1 hour.</p>
				<p>A creature affected in this way is compelled to honor the <i>spirit</i> of the tenet you have proclaimed. The creature retains its own will and may choose how it achieves this.</p>
				<p><strong>Immunities:</strong> Creatures must be able to hear and understand you. Creatures that can't be charmed are immune to this effect.</p>
				<p><strong>Conviction:</strong> You may spend a number of conviction points as you proclaim your tenet. For every point of conviction, you may influence 1 additional person.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<!-- <h3><span class="h3__highlight">6</span>Sacred Aura</h3>
				<p>

				Aura of Protection
				Starting at 6th-level, whenever you or a friendly creature within 10 feet of you must make a saving throw, the creature gains a bonus to the saving throw equal to your Charisma modifier (with a minimum bonus of +1). You must be conscious to grant this bonus.
				At 18th-level, the range of this aura increases to 30 feet.

				Aura of Courage
				Starting at 10th-level, you and friendly creatures within 10 feet of you can't be frightened while you are conscious.
				At 18th-level, the range of this aura increases to 30 feet. -->
			</page>
		</book>
	</body>
</html>
