<html>
	<body>
		<book>
			<page class="page page--generic page--paladin-variants" data-header-icon="cog">
				<h1 id="paladin-variants">Variant Dials</h1>
				<p>If you want to adjust the paladin class to better suit your own campaign and playstyle, then consider these variant dials.</p>

				<h2>Multiclassing</h2>
				<p>If your campaign supports multiclassing, then apply these modifiers when taking the paladin as a multiclass option:</p>

				<ul>
					<li><strong>Minimum Requirement:</strong> Strength 13 and Charisma 13.</li>
					<li><strong>Proficiencies:</strong> Light armor, medium armor, shields, simple weapons, martial weapons.</li>
					<li><strong>Conviction:</strong> You can't smite until you are 3rd-level.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>No Sacred Favor</h2>
				<p>If you don't want tenets to have a mechanical influence over your player's roleplaying choices, you may remove transgressions and sacred favor.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h2>Restricted Retraining</h2>
				<p>If you want to make retraining a little more significant or costly for the fighter, try using these options.</p>

				<h4 class="h4--option">Sanctuary</h4>
				<p>To change your fighting styles or smites, you must be in a safe sanctuary—such as a village, town, or city—where you are able to concentrate on your training.</p>

				<h4 class="h4--option">Facilities</h4>
				<p>To change your fighting styles or smites, you must have access to appropriate facilities—training grounds, practice weapons, sparring partners and mentors, etc.</p>

				<h2>Short Rest Recovery</h2>
				<p>This supplement emphasizes taking <i>long rests</i> as a primary recovery mechanic. To put a focus on taking short rests for the paladin, however, use this alternative class table.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Class Features</h4>
						<ul class="panel__tags">
							<li>Paladin</li>
							<li>Short Rest Recovery</li>
						</ul>
					</header>
					<section class="panel__body">
						<tables class="tables tables--variant-features">
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Conviction Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>2</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>2</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>2</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>4</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>4</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Conviction Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>6th</td>
										<td>5</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>6</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>7</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>9</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>10</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<p>You recover all expended conviction points when you finish a short or long rest.</p>
			</page>
		</book>
	</body>
</html>
