<html>
	<body>
		<book>
			<page class="page page--generic page--ranger-instincts">
				<h2 id="ranger-survival-instincts" data-icon="pocket-bow">Survival Instincts</h2>
				<p>As a ranger, you able to hone the following survival instincts. You can't choose the same instinct multiple times unless that instinct specifies otherwise.</p>

				<h4 class="h4--option">A Forest Friend</h4>
				<p>You gain the trust of a tiny animal friend. You both share a basic, wordless understanding of each other—though the animal is still subject to its natural instincts. Your animal must be a tiny CR 0 beast, and—when relevant—it shares your pool of actions.</p>
				<p>If your animal friend is reduced to 0 hit points, you can spend one hit die or suffer a level of exhaustion to reduce it to 1 hit point instead. If your animal friend leaves or dies, you can spend time during a long rest to bond with another creature from the surrounding environment.</p>
				<p><strong>Many Friends:</strong> You may take this instinct multiple times, gaining an additional animal friend each time.</p>

				<h4 class="h4--option">A Light in the Dark</h4>
				<p>You know how to craft well-made candles and torches using natural materials. When you attempt to craft basic lighting equipment, you roll with advantage. In addition, your crafted lights burn for twice as long as normal.</p>
				<p><strong>Scrap Lights:</strong> You can spend 1 action and 1 scrap to make an improvised torch that lasts for up to 1 hour.</p>

				<h4 class="h4--option">Always Prepared</h4>
				<p>You like to have at least one trap prepared. When you finish a long rest, you may prepare one trap worth up to 2 scrap without needing to spend your own scrap.</p>
				<p><strong>Greater Preparation:</strong> Starting at 5th-level, your trap can be worth up to 3 scrap.</p>
				<p><strong>Superior Preparation:</strong> Starting at 9th-level, your trap can be worth up to 4 scrap.</p>

				<h4 class="h4--option">Expert Tracker</h4>
				<p>You know how to study tracks left behind by a creature. When you study a set of tracks, you roll with advantage and—if successful—gain an answer to one of the following questions (your choice):</p>
				<ul>
					<li>How many creatures made these tracks?</li>
					<li>What type of creature made these tracks?</li>
					<li>How old are these tracks?</li>
					<li>Where are these tracks heading?</li>
				</ul>

				<p>If you critically succeed on your tracking, you gain answers to two questions of your choice instead of one.</p>

				<h4 class="h4--option">Favored Enemy</h4>
				<p>Choose one common or three uncommon favored enemies. When you mark a favored enemy as your quarry, your quarry damage increases from 1d4 to 1d6.</p>
				<p><strong>Greater Favored Enemy:</strong> Starting at 5th-level, the additional damage you deal increases from 1d6 to 1d8.</p>
				<p><strong>Superior Favored Enemy:</strong> Starting at 9th-level, the additional damage you deal increases from 1d8 to 1d10.</p>
				<p><strong>Many Enemies:</strong> You may take this instinct multiple times, selecting new enemies each time.</p>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Favored Enemy</h4>
					</header>
					<section class="panel__body">
						<table class="table table--instincts-favored">
							<thead>
								<tr>
									<th>Rarity</th>
									<th>Types</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Common</td>
									<td>Beasts, Fey, Humanoids (choose two races), Monstrosities, Undead</td>
								</tr>
								<tr>
									<td>Uncommon</td>
									<td>Aberrations, Celestials, Constructs, Dragons, Elementals, Fiends, Giants, Oozes, Plants</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4 class="h4--option">Focused Hunter</h4>
				<p>You can use your <i>Hunter's Focus</i> feature one additional time, regaining expended uses when you finish a long rest.</p>
				<p><strong>Extreme Focus:</strong> You may take this instinct multiple times, gaining an additional +1 use each time.</p>

				<h4 class="h4--option">I Can Sleep Anywhere</h4>
				<p>You know how camp comfortably in the wild. When trying to locate a good site for camp, or when setting up camp equipment—tents, campfires, etc—you roll with advantage.</p>
				<p><strong>Scrap Fire:</strong> You can spend 1 action and 1 scrap to light a basic campfire that lasts for up to 1 hours.</p>
				<p><strong>Scrap Tent:</strong> You can spend 10 minutes and 6 scrap to make an improvised tent that lasts for up to 8 hours.</p>

				<h4 class="h4--option">Light Sleeper</h4>
				<p>While you are asleep, you remain half-aware of what's happening around you. You can sense movement and may make Wisdom (Perception) checks while you sleep—though you have disadvantage.</p>

				<h4 class="h4--option">Natural Sense of Direction</h4>
				<p>When travelling outside, you may navigate as if you had a map and compass. In addition, difficult terrain doesn't slow you or your group's travel during long journeys.</p>
				<p><strong>Scrap Compass:</strong> You can spend 1 action and 1 scrap to make an improvised compass that lasts for up to 1 hour.</p>

				<h4 class="h4--option">Ranger's Expertise</h4>
				<p>Choose one skill: Animal Handling, Athletics, History, Insight, Investigation, Medicine, Nature, Perception, Stealth, or Survival.</p>
				<p>You gain proficiency in this skill if you don’t already have it, and you can add double your proficiency bonus to ability checks using it.</p>

				<h4 class="h4--option">Scavenger</h4>
				<p>Once per long rest, you may scavenge a location for suitable scrap material. You regain 1d4 expended scrap from your location.</p>
				<p><strong>Greater Scavenger:</strong> Starting at 5th-level, the amount of scrap you recover increases from 1d4 to 1d6.</p>
				<p><strong>Superior Scavenger:</strong> Starting at 9th-level, the amount of scrap you recover increases from 1d6 to 1d8.</p>

				<h4 class="h4--option">Shortcut to Mushrooms</h4>
				<p>When you forage, you find twice as much food or water as you normally would.</p>

				<h4 class="h4--option">Walk a Mile in my Shoes</h4>
				<p>Your base walking speed increases by 5 ft. In addition, you gain a climbing and swimming speed equal to your base walking speed.</p>
			</page>
		</book>
	</body>
</html>
