<html>
	<body>
		<book>
			<page class="page page--generic page--ranger" data-header-icon="pocket-bow">
				<h1 id="the-ranger">The Ranger</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=60>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Ranger</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--ranger">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Survival Instincts</th>
										<th>Scrap<br/>Points</th>
										<th>Features</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>2</td>
										<td>3</td>
										<td>Survival Instincts, Hunter's Focus, Scrap, Traps, Ranger Archetype</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>2</td>
										<td>4</td>
										<td>Fighting Style</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>3</td>
										<td>5</td>
										<td>Ranger's Prey, Ranger Archetype Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>3</td>
										<td>6</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>4</td>
										<td>7</td>
										<td>Extra Attack</td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>4</td>
										<td>8</td>
										<td>Ranger Archetype Features</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>5</td>
										<td>9</td>
										<td>Defensive Tactics</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>5</td>
										<td>10</td>
										<td>Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>6</td>
										<td>11</td>
										<td>Ranger Archetype Features</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>6</td>
										<td>12</td>
										<td>Ranger's Strike</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d10 per ranger level.</li>
					<li><strong>Hit Points (1st-level):</strong> 10 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d10 (or 6) + your Constitution modifier per ranger level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> Light armor, medium armor, shields.</li>
					<li><strong>Weapons:</strong> Simple weapons, martial weapons.</li>
					<li><strong>Tools:</strong> None.</li>
					<li><strong>Saving Throws:</strong> Strength, Dexterity.</li>
					<li><strong>Skills:</strong> Choose three from Animal Handling, Athletics, Insight, Investigation, Nature, Perception, Stealth, and Survival.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li>(a) scale mail or (b) leather armor.</li>
					<li>(a) two shortswords or (b) two simple melee weapons.</li>
					<li>(a) a dungeoneer's pack or (b) an explorer's pack.</li>
					<li>A longbow and a quiver of 20 arrows.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 5d4 x 10 gold pieces (or 120 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--ranger">
				<h2 data-icon="pocket-bow">Class Features</h2>
				<p>As a ranger, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Survival Instincts</h3>
				<p>You gain two <i>survival instincts</i> (see <span class="page-detail--page-number" data-target="ranger-survival-instincts"></span>) of your choice. When you gain certain ranger levels, you gain additional survival instincts of your choice—as shown in the <i>Survival Instincts</i> column of the Class Features (Ranger) table.</p>
				<p><strong>Replacing Instincts:</strong> When you gain a level in this class, you can choose one of the instincts you have and replace it with another instinct that you could learn at that level.</p>

				<h3><span class="h3__highlight">1</span>Hunter's Focus</h3>
				<p>You can spend a bonus action to enter a hunter's focus that lasts for up to 10 minutes. While you are focused, you gain the following benefits:</p>

				<ul>
					<li>
						<p><strong>Quarry:</strong> As a free action, you can mark one creature that you can see as your quarry. Once per turn, when you hit your quarry with a weapon attack, you may deal an extra 1d4 damage.</p>
						<p>If your quarry is reduced to 0 hit points, you can spend a bonus action to mark a different creature as your quarry.</p>
					</li>
					<li><strong>Tracker:</strong> You have advantage on any Wisdom (Perception) and Wisdom (Survival) checks you make to track, spot, or locate any creatures.</li>
					<li><strong>Alert:</strong> You can't be surprised.</li>
				</ul>

				<p>Your focus ends early if you are reduced to 0 hit points or otherwise rendered unconscious.</p>
				<p>You can use this feature a number of times equal to your Wisdom modifier, and you regain expended uses when you finish a long rest.</p>
				<p><strong>Greater Hunter's Focus:</strong> Starting at 5th-level, the additional damage you deal increases from 1d4 to 1d6.</p>
				<p><strong>Superior Hunter's Focus:</strong> Starting at 9th-level, the additional damage you deal increases from 1d6 to 1d8.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Scrap</h3>
				<p>You have an amount of salvaged scrap, as shown in the <i>Scrap Points</i> column of the Class Features (Ranger) table. You can spend scrap to create traps—and you may learn other ways to use scrap from your Survival Instincts and your Ranger Archetype.</p>
				<p>You recover all expended scrap points when you finish a long rest.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Traps</h3>
				<p>You are able to construct ranger traps (see <span class="page-detail--page-number" data-target="ranger-traps"></span>) that can bait, capture, and control your prey.</p>
				<p><strong>Preparing your Traps:</strong> When you finish a short or long rest, you can spend any amount of your remaining scrap to prepare a number of traps of your choice.</p>
				<p>At any one time, you can have a maximum number of prepared traps equal to your Wisdom modifier. Prepared traps that have not been activated by the time you finish a long rest expire automatically.</p>
				<p><strong>Activating a Trap:</strong> Once per turn, you may activate one of your prepared traps if it's condition has been met. When you activate a trap, it is expended. Some traps may require your target to make a saving throw—the DC is calculated as follows:</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Traps</h4>
					</header>
					<section class="panel__body">
						<p><strong>Trap save DC:</strong> 8 + your proficiency bonus + your Wisdom modifier</p>
					</section>
				</mechanic>

				<h4>Salvaging Traps</h4>
				<p>If you activate one of your ranger traps and it doesn't work—or you want to change one of your prepared traps—you can spend 1 minute to salvage it. You recover up to half of the scrap that was used to prepare the trap (rounded up).</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Ranger Archetype</h3>
				<p>Choose a Ranger Archetype. You gain features from your Ranger Archetype at 1st, 3rd, 6th, and 9th-level.</p>

				<h4>Specialist Traps</h4>
				<p>You gain access to one unique trap from your Ranger Archetype. Add this to your list of trap options.</p>
			</page>
			<page class="page page--generic page--ranger">
				<h3><span class="h3__highlight">2</span>Fighting Style</h3>
				<p>Choose one of the following Fighting Styles. You can't take a Fighting Style option more than once, even if you later get to choose again.</p>
				<p><strong>Changing Your Fighting Style:</strong> When you finish a long rest, you can choose one of the fighting styles you know and replace it with a different fighting style.</p>

				<h4 class="h4--option">Archery</h4>
				<p>You gain a +2 bonus to attack rolls you make with ranged weapons.</p>

				<h4 class="h4--option">Defense</h4>
				<p>While you are wearing armor, you gain a +1 bonus to AC.</p>

				<h4 class="h4--option">Dueling</h4>
				<p>When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.</p>
				<p>

				<h4 class="h4--option">Two-Weapon Fighting</h4>
				<p>When you engage in two-weapon fighting, you can add your ability modifier.</p>

				<h3><span class="h3__highlight">3</span>Ranger's Prey</h3>
				<p>Choose one of the following options.</p>

				<h4 class="h4--option">Colossus Slayer</h4>
				<p>Once per turn, when you hit a creature with a weapon attack, the creature takes an extra 1d8 damage if it's below its hit point maximum.</p>

				<h4 class="h4--option">Giant Killer</h4>
				<p>When a Large or larger creature within 5 feet of you hits or misses you with an attack, you can use your reaction to attack that creature immediately after its attack, provided that you can see the creature.</p>

				<h4 class="h4--option">Horde Breaker</h4>
				<p>Once during your turn, when you make a weapon attack, you can make another attack with the same weapon against a different creature that is within 5 feet of the original target and within range of your weapon.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">5</span>Extra Attack</h3>
				<p>You can attack twice, instead of once, whenever you take the Attack action on your turn.</p>

				<h3><span class="h3__highlight">7</span>Defensive Tactics</h3>
				<p>Choose one of the following options.</p>

				<h4 class="h4--option">Escape the Horde</h4>
				<p>Opportunity attacks against you are made with disadvantage.</p>

				<h4 class="h4--option">Multiattack Defense</h4>
				<p>When a creature hits you with an attack, you gain a +4 bonus to AC against all subsequent attacks made by that creature for the rest of the turn.</p>

				<h4 class="h4--option">Steel Will</h4>
				<p>You have advantage on saving throws against being frightened.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Ranger's Strike</h3>
				<p>Choose one of the following options. You may use your chosen strike a number of times equal to your wisdom modifier, and you regain expended uses when you finish a long rest.</p>

				<h4 class="h4--option">Volley</h4>
				<p>You can use your action to make a ranged attack against any number of creatures within 10 feet of a point you can see within your weapon's range. You must have ammunition for each target, and you make a separate attack roll for each target.</p>

				<h4 class="h4--option">Whirlwind Attack</h4>
				<p>You can use your action to make a melee attack against any number of creatures within 5 feet of you, with a separate attack roll for each target.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
