<html>
	<body>
		<book>
			<page class="page page--generic page--ranger-subclasses">
				<h2 data-icon="crossed-swords">Fey Walker</h2>
				<p>You can speak the primal language of nature. Perhaps you have always been drawn to the natural world, or you received some guidance from a druidic mentor? Perhaps the blood of the fey flows in your veins?</p>
				<p>Whatever your background, you have an innate and magical connection with the primal powers of nature.</p>

				<h3><span class="h3__highlight">1</span>Spellcasting</h3>
				<p>You gain the ability to cast spells by harnessing the primal essence of nature.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting</h4>
					</header>
					<section class="panel__body">
						<table class="table table--primal-spellcasting">
							<thead>
								<tr>
									<th>Level</th>
									<th>Spells Known</th>
									<th colspan="5"><div class="spacer">Spell Slots</div></th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th>1st</th>
									<th>2nd</th>
									<th>3rd</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>2</td>
									<td>2</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>2nd</td>
									<td>2</td>
									<td>2</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>3</td>
									<td>3</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>4th</td>
									<td>3</td>
									<td>3</td>
									<td><span class="empty">—</span></td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>5th</td>
									<td>4</td>
									<td>4</td>
									<td>2</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>6th</td>
									<td>4</td>
									<td>4</td>
									<td>2</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>7th</td>
									<td>5</td>
									<td>4</td>
									<td>3</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>8th</td>
									<td>5</td>
									<td>4</td>
									<td>3</td>
									<td><span class="empty">—</span></td>
								</tr>
								<tr>
									<td>9th</td>
									<td>6</td>
									<td>4</td>
									<td>3</td>
									<td>2</td>
								</tr>
								<tr>
									<td>10th</td>
									<td>6</td>
									<td>4</td>
									<td>3</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Spell Slots</h4>
				<p>The Spellcasting (Primal) table shows how many spell slots you have to cast your spells of 1st-level and higher. To cast one of your spells, you must spend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>

				<h4>Spells Known of 1st-level and Higher</h4>
				<p>At 1st-level, you know two 1st-level spells of your choice from the ranger spell list. The <i>Spells Known</i> column of the Spellcasting (Primal) table shows when you learn more ranger spells of your choice. Each of these spells must be of a level for which you have spell slots.</p>
				<p><strong>Replacing Known Spells:</strong> When you gain a ranger level, you may choose one of the ranger spells you know and replace it with another spell from the ranger spell list. This new spell must be of a level for which you have spell slots.</p>

				<h4>Spellcasting Ability</h4>
				<p>Wisdom is your spellcasting ability for your ranger spells. Use your Wisdom modifier to determine the saving throw DC or attack modifier for a ranger spell you cast.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell Save DC:</strong> 8 + your proficiency bonus + your Wisdom modifier</p>
						<p><strong>Spell Attack Modifier:</strong> your proficiency bonus + your Wisdom modifier</p>
					</section>
				</mechanic>

				<col-break></col-break>

				<h4>Spellcasting Focus</h4>
				<p>You use a druidic focus as a spellcasting focus for your ranger spells.</p>

				<h4>Primal Versatility</h4>
				<p>When you finish a long rest, you can replace one of your known ranger spells with another spell from the ranger spell list.</p>

				<h3><span class="h3__highlight">1</span>Primal Trap</h3>
				<p>Spend 1 scrap to prepare a primal trap. When a creature that you can see moves within 30 ft of you, you can activate a primal trap. The creature must make a Wisdom saving throw. On a failed save, magical plant roots erupt from the ground in a 15 ft radius circle centered on the creature. The ground is considered as difficult terrain. This effect lasts for up to 10 minutes.</p>
				<ul>
					<li><strong>Stumble:</strong> <i>(+1 scrap)</i> On a failed save, the creature is knocked prone.</li>
					<li><strong>Distracting:</strong> <i>(+2 scrap)</i> Concentration saving throws made within the primal area have disadvantage.</li>
					<li><strong>Thorns:</strong> <i>(+1 scrap)</i> On a failed save, the creature takes 2d4 piercing damage.</li>
				</ul>

				<h3><span class="h3__highlight">3</span>Primal Awareness</h3>
				<p>You are able to focus your natural awareness. You can cast each of the spells listed below once without expending a spell slot, even if they are not on your known spell list.</p>
				<p>Once you cast a spell in this way, you can’t do so again until you finish a long rest.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Primal Awareness</h4>
					</header>
					<section class="panel__body">
						<table class="table table--primal-awareness">
							<thead>
								<tr>
									<th>Minimum Level</th>
									<th>Spell</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>3rd</td>
									<td>Detect Magic, Speak with Animals</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Beast Sense, Locate Animals or Plants</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Speak with Plants</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3><span class="h3__highlight">6</span>Fey Stride</h3>
				<p>Moving through nonmagical difficult terrain—including that caused by your primal trap—costs you no extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.</p>
				<p>In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement—such those created by the <i>Entangle</i> spell.</p>

				<h3><span class="h3__highlight">9</span>Vanish</h3>
				<p>You can spend a bonus action to magically become invisible—along with any equipment you are wearing or carrying—until the start of your next turn.</p>
				<p>You can use this feature a number of times equal to your Wisdom modifier, and you regain expended uses when you finish a long rest.</p>
			</page>
			<page class="page page--generic page--columns-1 page--ranger-subclasses">
				<list class="panel panel--list panel--list-spells">
					<header class="panel__header">
						<h4 class="panel__title">Spell List</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Ranger</li>
							<li>Feywalker</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<div>
								<h5>1st-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='xgte'>Absorb Elements</li>
									<li class='phb'>Alarm</li>
									<li class='phb'>Animal Friendship</li>
									<li class='xgte'>Beast Bond</li>
									<li class='phb'>Cure Wounds</li>
									<li class='phb'>Detect Magic</li>
									<li class='phb'>Detect Poison and Disease</li>
									<li class='phb'>Ensnaring Strike</li>
									<li class='phb'>Entangle</li>
									<li class='phb'>Fog Cloud</li>
									<li class='phb'>Goodberry</li>
									<li class='phb'>Hail of Thorns</li>
									<li class='phb'>Jump</li>
									<li class='phb'>Longstrider</li>
									<li class='xgte'>Snare</li>
									<li class='phb'>Speak with Animals</li>
									<li class='xgte'>Zephyr Strike</li>
									<li class="empty"></li>
									<li class="empty"></li>
								</ul>
							</div>
							<div>
								<h5>2nd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Aid</li>
									<li class='phb'>Animal Messenger</li>
									<li class='phb'>Barkskin</li>
									<li class='phb'>Beast Sense</li>
									<li class='phb'>Cordon of Arrows</li>
									<li class='phb'>Darkvision</li>
									<li class='phb'>Enhance Ability</li>
									<li class='phb'>Find Traps</li>
									<li class='phb'>Gust of Wind</li>
									<li class='xgte'>Healing Spirit</li>
									<li class='phb'>Lesser Restoration</li>
									<li class='phb'>Locate Animals or Plants</li>
									<li class='phb'>Locate Object</li>
									<li class='phb'>Magic Weapon</li>
									<li class='phb'>Pass without Trace</li>
									<li class='phb'>Protection from Poison</li>
									<li class='phb'>Silence</li>
									<li class='phb'>Spike Growth</li>
									<li class='phb'>Warding Bond</li>
								</ul>
							</div>
							<div>
								<h5>3rd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Conjure Animals</li>
									<li class='phb'>Conjure Barrage</li>
									<li class='phb'>Daylight</li>
									<li class='xgte'>Flame Arrows</li>
									<li class='phb'>Lightning Arrow</li>
									<li class='phb'>Meld into Stone</li>
									<li class='phb'>Nondetection</li>
									<li class='phb'>Plant Growth</li>
									<li class='phb'>Protection from Energy</li>
									<li class='phb'>Revivify</li>
									<li class='phb'>Speak with Plants</li>
									<li class='phb'>Tongues</li>
									<li class='phb'>Water Breathing</li>
									<li class='phb'>Water Walk</li>
									<li class='phb'>Wind Wall</li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
								</ul>
							</div>
						</div>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
