<html>
	<body>
		<book>
			<page class="page page--generic page--ranger-subclasses" data-header-icon="crossed-swords">
				<h1 id="ranger-subclasses">Ranger Archetypes</h1>
				<p>Rangers are skilled trackers, hunters, and trappers. But no two rangers hunt the same—your personal tastes define your hunting style. Are you a lone wolf or a pack leader? Do you favor weapons, spells, or traps? Where do you hunt, and what's your prey?</p>
				<p>Choose a <i>Ranger Archetype</i> to help perfect your own, unique hunting style.</p>

				<h2>Choose Your Archetype</h2>
				<p>Choose your archetype from one of the following options:</p>
				<ul>
					<li><strong>Fey Walker:</strong> You have a primal connection with the natural world, granting you magical power and an innate awareness of your surroundings.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Archetypes Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Roving Ranger</i> is a work-in-progress with a limited number of archetypes. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Beastmaster:</strong> You have formed a deep, lasting bond with an animal companion. Together, you hunt as one soul.</li>
							<li><strong>Bounty Hunter:</strong> Forget the wild forests—you are most at home in the big cities. With criminal bounties  aplenty, you track the wildest prey of all—people.</li>
							<li><strong>Monster Hunter:</strong> Monstrosities roam the land, spreading terror with their wild appetites and strange powers. You hunt the hunters.</li>
							<li><strong>Planeswalker:</strong> You hunt prey across the planes of reality itself, slipping between realms with strange portals.</li>
						</ul>
						<p>Got ideas for ranger archetypes you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating an Archetype</h3>
				<p>To create your own <i>Ranger Archetype</i> (or to convert an existing archetype from other sources), follow these steps:</p>

				<ol>
					<li><strong>Add 1 Trap:</strong> At 1st-level, ranger archetypes expand the ranger trap list with 1 unique trap. Create interesting ways to bait, capture, and control prey in ways that are thematic to your archetype—be flavorsome.</li>
					<li><strong>Create 1st, 3rd, and 6th-level Features:</strong> Ranger archetypes grant features at 1st, 3rd, and 6th-level.</li>
					<li><strong>Create a 9th-level Capstone:</strong> At 9th-level, ranger archetypes grant a unique capstone feature that is the pinnacle of your archetype's theming.</li>
				</ol>

				<p>And that's it, your archetype is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
