<html>
	<body>
		<book>
			<page class="page page--generic page--ranger-traps">
				<h2 id="ranger-traps" data-icon="pocket-bow">Ranger Traps</h2>
				<p>As a ranger, you know how to prepare the following traps using your scrap.</p>

				<h3><span class="h3__highlight">A</span>Bait Trap</h3>
				<p>Spend 1 scrap to prepare a bait trap. When a creature moves adjacent to you or your allies, you can activate a bait trap. The creature must make a Wisdom saving throw. On a failed save, the creature is distracted by your bait and another creature of your choice (that is adjacent to the baited creature) can spend their reaction to move up to 10 ft without provoking an attack of opportunity from it.</p>
				<ul>
					<li><strong>Extra-Strong:</strong> <i>(+1 scrap)</i> Up to two creatures of your choice can move away from your baited prey.</li>
					<li><strong>Distracting:</strong> <i>(+1 scrap)</i> The maximum distance increases from 10 ft to 15 ft.</li>
					<li><strong>Interrupt:</strong> <i>(+1 scrap)</i> Instead of moving, your chosen creature can spend their reaction to make a melee attack against the baited creature.</li>
				</ul>

				<h3><span class="h3__highlight">B</span>Marking Trap</h3>
				<p>Spend 1 scrap to prepare a marking trap. When a creature moves within 15 ft of your or your allies, you can activate a marking trap. The creature must make a Wisdom saving throw. On a failed save, the creature is marked with brightly-colored dye for up to 1 minute. While marked, the creature can't benefit from the <i>invisible</i> condition.</p>
				<ul>
					<li><strong>Easy Target:</strong> <i>(+1 scrap)</i> While marked, the creature can't benefit from half or three-quarters cover.</li>
					<li><strong>Trail:</strong> <i>(+1 scrap)</i> The dye leaves a clear trail. While marked, you know exactly where the creature has moved.</li>
					<li><strong>Blinding:</strong> <i>(+2 scrap)</i> On a failed save, the creature is <i>blinded</i> until the end of its next turn.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">C</span>Pit Trap</h3>
				<p>Spend 1 scrap to prepare a pit trap. When a creature that you can see ends its turn without moving, you can activate a pit trap. The creature must make a Wisdom saving throw. On a failed save, the creature falls into a 5 ft by 5 ft pit that is 10 ft deep.</p>
					<p>The creature must be on the ground, and the ground must be sufficiently deep and soft/fragile for your pit without causing a bottomless hole.</p>
				<ul>
					<li><strong>Slippery:</strong> <i>(+1 scrap)</i> Attempts to climb out of this trap are made with disadvantage.</li>
					<li><strong>Spiked:</strong> <i>(+1 scrap)</i> On a failed save, spikes at the bottom of the pit deal 2d4 piercing damage.</li>
					<li><strong>Scaled:</strong> <i>(+1 scrap)</i> You can increase the diameter of your pit by 5 ft, or the depth by 5 ft.</li>
				</ul>

				<col-break></col-break>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">D</span>Rockslide Trap</h3>
				<p>Spend 1 scrap to prepare a rockslide trap. When a creature that you can see moves adjacent to a wall of equal or greater height, you can activate a rockslide trap. The creature must make a Wisdom saving throw. On a failed save, the creature is knocked prone.</p>
				<ul>
					<li><strong>Bludgeoning:</strong> <i>(+1 scrap)</i> On a failed save, the creature takes 2d4 bludgeoning damage.</li>
					<li><strong>Dusty:</strong> <i>(+1 scrap)</i> On a failed save, the creature is blinded until the end of its next turn.</li>
					<li><strong>Stunning:</strong> <i>(+3 scrap)</i> On a failed save, the creature is stunned until the end of its next turn.</li>
				</ul>

				<h3><span class="h3__highlight">E</span>Snare Trap</h3>
				<p>Spend 1 scrap to prepare a snare trap. When a creature that you can see moves within 15 ft of you or one of your allies, you can activate a snare trap. The creature must make a Wisdom saving throw. On a failed save, the creature is grappled until the end of its next turn.</p>
				<p>A grappled creature can attempt to break free early using force—it may spend an action to make an Athletics check against your Trap DC.</p>
				<ul>
					<li><strong>Durable:</strong> <i>(+1 scrap)</i> Attempts to break free of this trap are made with disadvantage.</li>
					<li><strong>Piercing:</strong> <i>(+1 scrap)</i> On a failed save, the creature takes 2d4 piercing damage.</li>
					<li><strong>Tenacious:</strong> <i>(+1 scrap)</i> On a failed save, the creature is grappled for one additional turn.</li>
				</ul>

				<h3><span class="h3__highlight">F</span>Stench Trap</h3>
				<p>Spend 1 scrap to prepare a stench trap. When a creature that you can see makes a weapon attack against you or your allies, you can activate a stench trap. The creature must make a Wisdom saving throw. On a failed save, the creature is marked with a disgusting scent until the end of its turn and must make its attack with disadvantage.</p>
				<ul>
					<li><strong>Sneezing:</strong> <i>(+1 scrap)</i> On a failed save, after the attack is resolved, the creature drops one item of your choice.</li>
					<li><strong>Spores:</strong> <i>(+2 scrap)</i> On a failed save, the creature is <i>poisoned</i> until the start of its next turn.</li>
					<li><strong>Toxic:</strong> <i>(+1 scrap)</i> On a failed save, the creature takes 2d4 poison damage.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
