<html>
	<body>
		<book>
			<page class="page page--generic page--rogue-subclasses" data-header-icon="crossbow">
				<h1 id="rogue-subclasses">Roguish Archetypes</h1>
				<p>Rogues share many features—quick reflexes, expertise in a wide range of skills, and a deadly precision-based approach to combat. But different rogues steer those talents in different directions. Do you like to steal, stealth, or cheat your marks? Do you fight from the shadows, or dance in the center of battle? Do you favor the weight of a loaded crossbow, or the cold metal of a freshly-sharpened dagger?</p>
				<p>Choose a <i>Roguish Archetype</i> to reflect your own focus and preferred techniques.</p>

				<h2>Choose Your Archetype</h2>
				<p>Choose your archetype from one of the following options:</p>
				<ul>
					<li><strong>Thief:</strong> You have sticky fingers and a somewhat <i>flexible</i> attitude towards personal property—what belongs to other people, belongs to you.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Archetypes Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Rakish Rogue</i> is a work-in-progress with a limited number of archetypes. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Assassin:</strong> Life is fleeting, and nobody knows this better than you. Death is your trade, and you trade it well.</li>
							<li><strong>Swashbuckler:</strong> You wield charm and guile as effectively as a sword, fighting with words as well as weapons. Dazzle, distract, and defeat your enemies.</li>
							<li><strong>Trickster:</strong> Never tell the truth when a lie will suffice. You mask your true intent with arcane tricks and illusions.</li>
						</ul>
						<p>Got ideas for roguish archetypes you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating an Archetype</h3>
				<p>To create your own <i>Roguish Archetype</i> (or to convert an existing archetype from other sources), follow these steps:</p>

				<ol>
					<li><strong>Add 4 Exploits:</strong> At 1st-level, roguish archetypes expand the rogue exploit list with 4 unique exploits. Create interesting ways to act in battle that are thematic to your archetype—be flavorsome.</li>
					<li><strong>Create 3rd and 7th-level Features:</strong> Rogue archetypes grant features at 3rd and 7th-level.</li>
					<li><strong>Create a 9th-level Capstone:</strong> At 9th-level, rogue archetypes grant a unique capstone feature that is the pinnacle of your archetype's theming.</li>
				</ol>

				<p>And that's it, your archetype is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
