<html>
	<body>
		<book>
			<page class="page page--generic page--rogue" data-header-icon="plain-dagger">
				<h1 id="the-rogue">The Rogue</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=15>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Rogue</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--rogue">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency Bonus</th>
										<th>Sneak Attack</th>
										<th>Focus Points</th>
										<th>Exploits Mastered</th>
										<th>Features</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>1d6</td>
										<td>3</td>
										<td>2</td>
										<td>Expertise, Sneak Attack, Thieves' Cant, Focus, Exploits, Roguish Archetype</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>1d6</td>
										<td>4</td>
										<td>2</td>
										<td>Cunning Action</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>2d6</td>
										<td>5</td>
										<td>3</td>
										<td>Roguish Archetype Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>2d6</td>
										<td>6</td>
										<td>3</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>3d6</td>
										<td>7</td>
										<td>3</td>
										<td>Uncanny Dodge, Greater Exploits</td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>3d6</td>
										<td>8</td>
										<td>4</td>
										<td>Greater Expertise, Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>4d6</td>
										<td>9</td>
										<td>4</td>
										<td>Evasion, Roguish Archetype Features</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>4d6</td>
										<td>10</td>
										<td>4</td>
										<td>Superior Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>5d6</td>
										<td>11</td>
										<td>4</td>
										<td>Roguish Archetype Features, Superior Exploits</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>5d6</td>
										<td>12</td>
										<td>5</td>
										<td>Roguish Fortune</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d8 per rogue level.</li>
					<li><strong>Hit Points (1st-level):</strong> 8 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d8 (or 5) + your Constitution modifier per rogue level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> Light armor.</li>
					<li><strong>Weapons:</strong> Simple weapons, hand crossbows, longswords, rapiers, shortswords.</li>
					<li><strong>Tools:</strong> Thieves' Tools.</li>
					<li><strong>Saving Throws:</strong> Dexterity, Intelligence.</li>
					<li><strong>Skills:</strong> Choose four skills from Acrobatics, Athletics, Deception, Insight, Intimidation, Investigation, Perception, Performance. Persuasion, Sleight of Hand, and Stealth.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li>(a) a Rapier or (b) a Shortsword.</li>
					<li>(a) a Shortbow and Quiver of 20 Arrows or (b) a Shortsword.</li>
					<li>(a) a Burglar's Pack, (b) a Dungeoneer's Pack, or (c) an Explorer's Pack.</li>
					<li>Leather Armor, two daggers, and Thieves' Tools.</li>
				</ul>
				<h4>B. Custom Equipment</h4>
				<p>You gain 4d4 x 10 gold pieces (or 100 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--rogue">
				<h2 data-icon="plain-dagger">Class Features</h2>
				<p>As a rogue, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Expertise</h3>
				<p>Choose either (a) two of your skill proficiencies or (b) one of your skill proficiencies and your proficiency with thieves' tools.</p>
				<p>Your proficiency bonus is doubled for any ability check you make that uses either of the chosen proficiencies.</p>
				<p><strong>Greater Expertise:</strong> At 6th-level, you can choose two more of your proficiencies (in skills or with thieves' tools) to gain this benefit.</p>

				<h3><span class="h3__highlight">1</span>Sneak Attack</h3>
				<p>Once per turn, when you hit a creature with a finesse or ranged weapon attack, you can deal an extra 1d6 damage to that creature. One of the following must also apply:</p>

				<ol type="a">
					<li>You have advantage on your attack roll.</li>
					<li>Your target is within 5 ft of a creature hostile to it (not including yourself) that is not incapacitated. In addition, you don't have disadvantage on your attack roll.</li>
				</ol>

				<p>The amount of the extra damage you deal increases as you gain rogue levels, as shown in the <i>Sneak Attack</i> column of the Class Features (Rogue) table.</p>

				<h3><span class="h3__highlight">1</span>Thieves' Cant</h3>
				<p>You can speak in thieves' cant—a secret mix of dialect, jargon, and code that allows you to hide messages in seemingly normal conversation. Only another creature that knows thieves' cant is able to understand such messages. It takes four times longer to convey such a message than it does to speak the same idea plainly.</p>
				<p>In addition, you understand a set of secret signs and symbols used to convey short, simple messages.</p>

				<h4 class="h4--option">Trusted Crew</h4>
				<p>You can teach your allies a few basic phrases and symbols of thieves' cant to enable them to understand your own coded dialect and secret messages.</p>
				<p>Whenever you finish a long rest, you may choose a number of creatures equal to your Intelligence modifier (minimum of 1). If you were able to teach these creatures some basic phrases during your rest, they gain the <i>Trusted Crew</i> status and can understand you whenever you speak, write, or sign in thieves' cant.</p>
				<p>Your trusted crew can't speak or understand thieves' cant as a general practice—only the unique dialect spoken by you and the rest of your crew.</p>
				<p><strong>Change Dialect:</strong> When you finish a long rest, you can change your specific dialect of thieves' cant. Any creature that had your <i>Trusted Crew</i> status now loses it.</p>
				<p><strong>Greater Trusted Crew:</strong> Starting at 5th-level, creatures that benefit from your <i>Trusted Crew</i> status can now speak and sign in thieves' cant with you or any other creature that has your <i>Trusted Crew</i> status.</p>

				<col-break></col-break>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4 class="h4--option">Secret Message</h4>
				<p>You can spend a bonus action to pass a secret message in thieves' cant to a creature that can see or hear you clearly. Your message can be conveyed vocally or with sign language, and can be up to two words long.</p>

				<h3><span class="h3__highlight">1</span>Focus</h3>
				<p>You have a number of focus points, as shown in the <i>Focus Points</i> column of the Class Features (Rogue) table. You can spend focus to outwit your foes with cunning exploits—and you may learn other applications from your Roguish Archetype.</p>
				<p>You recover all expended focus points when you finish a long rest.</p>

				<h3><span class="h3__highlight">1</span>Exploits</h3>
				<p>You master two exploits of your choice from your list of exploit options. Once per turn, you may spend a focus point to use one of your mastered exploits.</span></p>
				<p><strong>Mastering New Exploits:</strong> You master additional exploits as you gain more rogue levels, as show in the <i>Exploits Known</i> column of the Class Features (Rogue) table.</p>
				<p><strong>Replacing a Mastered Exploit:</strong> When you finish a long rest, you may replace one of your mastered exploits with a different one.</p>
				<p><strong>Saving Throws:</strong> Some of your exploits require your target to make a saving throw. The saving throw DC is calculated as follows:</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Exploit Save DC</h4>
					</header>
					<section class="panel__body">
						<p><strong>Save DC:</strong> 8 + your proficiency bonus + your Dexterity or Intelligence modifier (your choice)</p>
					</section>
				</mechanic>

				<h4 class="h4--option">Blind</h4>
				<p>When a Larger or smaller creature makes a weapon attack against you, you can spend your reaction to attempt to blind the creature before it makes the attack roll. The creature must make a Constitution saving throw. On a failed save, the creature is <i>Blinded</i> until the start of your next turn.</p>
				<p><strong>Greater Blind:</strong> (5th-level) You can use this exploit against Huge creatures.</p>
				<p><strong>Superior Blind:</strong> (9th-level) You can use this exploit against Gargantuan creatures.</p>
			</page>
			<page class="page page--generic page--rogue">
				<h4 class="h4--option">Distract</h4>
				<p>When you hit a creature with a weapon attack, you can distract it to expose a weak point. Until the start of your next turn, the next attack roll made against the creature has advantage.</p>
				<p><strong>Greater Distract:</strong> (5th-level) The creature grants advantage to the next two attack rolls made against it before the start of your next turn.</p>
				<p><strong>Superior Distract:</strong> (9th-level) The creature grants advantage to the next three attack rolls made against it before the start of your next turn.</p>

				<h4 class="h4--option">Parkour</h4>
				<p>When you make an ability check and use Acrobatics or Stealth, you can roll 1d6 and add it to the result. You can wait until after you roll your check before deciding to use this exploit, but you must decide before the GM says whether your check succeeds or fails.</p>
				<p><strong>Greater Parkour:</strong> (5th-level) Your bonus increases from 1d6 to 1d8.</p>
				<p><strong>Superior Parkour:</strong> (9th-level) Your bonus increases from 1d8 to 1d10.</p>

				<h4 class="h4--option">Riposte</h4>
				<p>When a creature misses you with a melee weapon attack, you can spend your reaction to make one weapon attack against that same creature. If your attack hits, you deal 1d6 extra damage.</p>
				<p><strong>Greater Riposte:</strong> (5th-level) The damage increases from 1d6 to 1d8.</p>
				<p><strong>Superior Riposte:</strong> (9th-level) The damage increases from 1d8 to 1d10.</p>

				<h4 class="h4--option">Slip</h4>
				<p>When you hit a Large or smaller creature with a melee weapon attack, you can use a bonus action to attempt to make the creature fall over. The creature must make a Dexterity saving throw. On a failed save, you knock the target prone.</p>
				<p><strong>Greater Slip:</strong> (5th-level) You can use this exploit against Huge creatures.</p>
				<p><strong>Superior Slip:</strong> (9th-level) You can use this exploit against Gargantuan creatures.</p>

				<h4 class="h4--option">Stagger</h4>
				<p>When you hit a Large or smaller creature with a ranged weapon attack on which you have advantage, you can stagger it. The creature's base speed is reduced by half until the end of its next turn.</p>
				<p><strong>Greater Stagger:</strong> (5th-level) You can use this exploit against Huge creatures.</p>
				<p><strong>Superior Stagger:</strong> (9th-level) You can use this exploit against Gargantuan creatures.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Roguish Archetype</h3>
				<p>Choose a Roguish Archetype. You gain features from your Roguish Archetype at 1st, 3rd, 7th, and 9th-level.</p>

				<h4>Roguish Exploits</h4>
				<p>You gain access to four unique exploits from your Roguish Archetype. Add these to your list of exploit options.</p>

				<h3><span class="h3__highlight">2</span>Cunning Action</h3>
				<p>You can spend a bonus action to take one of the following actions: <i>Aim</i>, <i>Dash</i>, <i>Disengage</i>, or <i>Hide</i>.</p>

				<h4 class="h4--option">Aim</h4>
				<p>If you haven't moved since the start of your turn, you have advantage on the next attack roll you make before the end of your turn. In addition, your speed is reduced to 0 until the end of your turn.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 6th-level, you gain another ability score improvement.</p>
				<p><strong>Superior Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">5</span>Uncanny Dodge</h3>
				<p>When an attacker that you can see hits you with an attack, you can spend your reaction to halve the attack's damage against you.</p>

				<h3><span class="h3__highlight">7</span>Evasion</h3>
				<p>When you are subjected to an effect that allows you to make a Dexterity saving throw to take only half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail.</p>

				<h3><span class="h3__highlight">10</span>Roguish Fortune</h3>
				<p>If your attack misses a target within range, you can turn the miss into a hit. Alternatively, if you fail an ability check, you can treat the d20 roll as a 20.</p>
				<p>You can use this feature up to three times, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
