<html>
	<body>
		<book>
			<page class="page page--generic page--sorcerer-subclasses" data-header-icon="spiky-eclipse">
				<h1 id="sorcerer-subclasses">Sorcerous Origins</h1>
				<p>Different sorcerers claim different origins for their innate magical power. Some are born with arcane power surging through them, marked from birth as wild fonts of sorcery. Others gain their sorcery through a sudden, life-changing event that forces great power—and great responsibility—upon them.</p>
				<p>Whatever your background, this chapter introduces a variety of origins for you to choose from. Define your sorcerous heritage and harness your arcane magic.</p>

				<h2>Choose Your Origin</h2>
				<p>Choose your origin from one of the following options:</p>
				<ul>
					<li><strong>Draconic Bloodline:</strong> Dragonsblood runs through your veins, granting you powerful magic and draconic gifts.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Origins Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Supreme Sorcerer</i> is a work-in-progress with a limited number of origins. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Chaos Incarnate:</strong> The chaotic energies of the universe flow through you—whether you want them to or not.</li>
							<li><strong>Returned:</strong> A near-death experience has left death's dark mark on you, binding you to the undead.</li>
							<li><strong>Hellspawn:</strong> Infernal blood compels you to perform dark and terrible acts—will you defy your heritage, or will you give in to hellish temptation?</li>
							<li><strong>Time Streamer:</strong> You can sense the ebb and flow of time itself. Reshape the path of events to your liking.</li>
						</ul>
						<p>Got ideas for sorcerous origins you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating an Origin</h3>
				<p>To create your own <i>Sorcerous Origin</i> (or to convert an existing origin from other sources), follow these steps:</p>

				<ol>
					<li><strong>Add Origin Spells:</strong> Sorcerous origins expand the sorcerer spell list with 10 unique spell options. Add 2 unique spell options to be gained at 1st, 3rd, 5th, 7th, and 9th-levels.</li>
					<li><strong>Create 4 Metamagics:</strong> At 1st-level, sorcerous origins expand the sorcerer metamagic list with 4 unique metamagics. Create new ways to modify spells that are thematic to your subclass—be flavorsome.</li>
					<li><strong>Create a 1st-level Feature:</strong> Sorcerous origins grant an introductory feature at 1st-level.</li>
					<li><strong>Create 3rd and 6th-level Features:</strong> Sorcerous origins grant features at 3rd and 6th-level.</li>
					<li>
						<p><strong>Choose 2 Metamorphosis Forms:</strong> At 10th-level, sorcerous origins grant 2 metamorphosis forms as their capstone feature. You may choose to either (a) grant 1 common form and 1 unique form, or (b) grant 2 common forms.</p>
						<p>A new metamorphosis form should last for up to one minute and aim to feature the following:</p>
						<ol>
							<li>(a) One damage immunity and one damage vulnerability, or (b) one damage resistance.</li>
							<li>(a) A movement option, or (b) a flavor ability.</li>
							<li>An attack option.</li>
						</ol>
					</li>
				</ol>

				<p>And that's it, your origin is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
