<html>
	<body>
		<book>
			<page class="page page--generic page--sorcerer" data-header-icon="flame">
				<h1 id="the-sorcerer">The Sorcerer</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=60>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Sorcerer</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--sorcerer">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Sorcery<br/>Points</th>
										<th>Cantrips<br/>Known</th>
										<th>Spells<br/>Known</th>
										<th>Max. Spell<br/>Level</th>
										<th>Metamagics<br/>Known</th>
										<th>Features</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>4</td>
										<td>4</td>
										<td>2</td>
										<td>1st</td>
										<td>2</td>
										<td>Sorcery, Metamagic, Sorcerous Origin</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>8</td>
										<td>4</td>
										<td>3</td>
										<td>1st</td>
										<td>2</td>
										<td>Sorcerous Recovery</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>17</td>
										<td>4</td>
										<td>4</td>
										<td>2nd</td>
										<td>3</td>
										<td>Sorcerous Origin Feature</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>21</td>
										<td>5</td>
										<td>5</td>
										<td>2nd</td>
										<td>3</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>32</td>
										<td>5</td>
										<td>6</td>
										<td>3rd</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>38</td>
										<td>5</td>
										<td>7</td>
										<td>3rd</td>
										<td>4</td>
										<td>Sorcerous Origin Feature</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>45</td>
										<td>5</td>
										<td>8</td>
										<td>4th</td>
										<td>4</td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>52</td>
										<td>5</td>
										<td>9</td>
										<td>4th</td>
										<td>4</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>66</td>
										<td>5</td>
										<td>10</td>
										<td>5th</td>
										<td>4</td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>74</td>
										<td>6</td>
										<td>11</td>
										<td>5th</td>
										<td>5</td>
										<td>Metamorphosis</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d6 per sorcerer level.</li>
					<li><strong>Hit Points (1st-level):</strong> 6 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d6 (or 4) + your Constitution modifier per sorcerer level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> None.</li>
					<li><strong>Weapons:</strong> Daggers, darts, slings, quarterstaffs, light crossbows.</li>
					<li><strong>Tools:</strong> None.</li>
					<li><strong>Saving Throws:</strong> Constitution, Charisma.</li>
					<li><strong>Skills:</strong> Choose two from Arcana, Deception, Insight, Intimidation, Persuasion, and Religion.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li><i>(a)</i> a light crossbow and 20 bolts or <i>(b)</i> any simple weapon.</li>
					<li><i>(a)</i> a dungeoneer's pack or <i>(b)</i> an explorer's pack.</li>
					<li>Two daggers.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 3d4 x 10 gold pieces (or 70 gp). You may spend some or all of this gold to purchase your own set of starting equipment.</p>
			</page>
			<page class="page page--generic page--sorcerer">
				<h2 data-icon="flame">Class Features</h2>
				<p>As a sorcerer, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Sorcery</h3>
				<p>You gain the ability to cast sorcerer spells by channeling the raw, sorcerous power that burns within you.</p>

				<h4>Cantrips</h4>
				<p>At 1st-level, you know four cantrips of your choice from the sorcerer spell list. You learn additional cantrips of your choice from the sorcerer spell list at higher levels, as shown in the <i>Cantrips Known</i> column of the Class Features (Sorcerer) table.</p>
				<p><strong>Replacing Known Cantrips:</strong> When you gain a sorcerer level, you may choose one of the sorcerer cantrips you know and replace it with another cantrip from the sorcerer spell list.</p>

				<h4>Sorcery Points</h4>
				<p>You have a pool of sorcery points as shown in the <i>Sorcery Points</i> column of the Class Features (Sorcerer) table. To cast a sorcerer spell of 1st-level or higher, you must spend a number of sorcery points as shown in the <i>Sorcerous Spellcasting</i> table below.</p>
				<p>You recover all expended sorcery points when you finish a long rest.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Sorcerous Spellcasting</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--spellcasting">
							<table class="table">
								<thead>
									<tr>
										<th>Spell<br/>Level</th>
										<th>Sorcery<br/>Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>2</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>3</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>5</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Spell<br/>Level</th>
										<th>Sorcery<br/>Points</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>4th</td>
										<td>6</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>7</td>
									</tr>
									<tr class="empty">
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<!-- <example>
					<section class="panel__body">
						<p>Clanda wants to cast a 2nd-level spell—<i>Scorching Ray</i>—at her enemies. To do so, she must spend 3 sorcery points as fuel for her spellcasting.</p>
					</section>
				</example> -->

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Spells Known of 1st-level and Higher</h4>
				<p>At 1st-level, you know two 1st-level spells of your choice from the sorcerer spell list. You learn additional spells of your choice from the sorcerer spell list at higher levels, as shown in the <i>Spells Known</i> column of the Class Features (Sorcerer) table. Any spell that you learn must be of a level lower than or equal to your <i>Maximum Spell Level</i>.</p>
				<p><strong>Replacing Known Spells:</strong> When you gain a sorcerer level, you may choose one of the sorcerer spells you know and replace it with another spell from the sorcerer spell list. The new spell can be of any level that is lower than or equal to your <i>Maximum Spell Level</i>.</p>
				<p><strong>Upcasting Spells:</strong> When casting a sorcerer spell at a higher spell level, you can't exceed your <i>Maximum Spell Level</i>—even if you have enough sorcery points.</p>

				<col-break></col-break>

				<h4>Spellcasting Ability</h4>
				<p>Charisma is your spellcasting ability for your sorcerer spells. Use your Charisma to determine the saving throw DC or attack modifier for a sorcerer spell you cast.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell save DC:</strong> 8 + your proficiency bonus + your Charisma modifier</p>
						<p><strong>Spell attack modifier:</strong> your proficiency bonus + your Charisma modifier</p>
					</section>
				</mechanic>

				<h4>Spellcasting Focus</h4>
				<p>You don't need an arcane focus to cast sorcery—you are your own spellcasting focus for your sorcerer spells.</p>

				<h4>Sorcerous Versatility</h4>
				<p>When you finish a long rest, you may replace one of your known sorcerer spells (including cantrips) with another spell from the sorcerer spell list. The new spell must be of the same spell level as the spell you replace.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Metamagic</h3>
				<p>The rules of magic are your plaything as you twist and shape spells into your own sorcerous design.</p>
				<p>You master two metamagics of your choice. When you cast a spell, you may declare which metamagics (if any) you are applying to it—you can apply only one metamagic to a spell that you are casting, unless otherwise noted.</p>
				<p><strong>Mastering New Metamagics:</strong> You master additional metamagics as you gain more sorcerer levels, as shown in the <i>Metamagics Known</i> column of the Class Features (Sorcerer) table.</p>
				<p><strong>Replacing a Mastered Metamagic:</strong> Each time you gain a sorcerer level, you may replace any or all of your mastered metamagics with a different choice.</p>
				<p>In addition, you may use your <i>Sorcerous Versatility</i> class feature to change one mastered metamagic instead of a known spell selection.</p>

				<h4 class="h4--option">Careful Spell</h4>
				<p>When you cast a spell that forces other creatures to make a saving throw, you can protect some of those creatures from the spell's full force.</p>
				<p>Spend 1 sorcery point and choose a number of those creatures up to your Charisma modifier (minimum of one creature). A chosen creature automatically succeeds on its saving throw.</p>

				<h4 class="h4--option">Heightened Spell</h4>
				<p>When you cast a spell that forces a creature to make a saving throw to resist its effects, you can spend 3 sorcery points to give one target of the spell disadvantage on its first saving throw made against the spell.</p>
			</page>
			<page class="page page--generic page--sorcerer">
				<h4 class="h4--option">Inverted Spell</h4>
				<p>When you roll damage for a spell with an elemental effect, you can spend 1 sorcery point to invert the type of that damage. There are five known elemental pairings:</p>

				<mechanic class="panel panel--mechanic panel--mechanic--align-left">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Pairs</h4>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--2">
							<ul>
								<li>Fire / Cold</li>
								<li>Radiant / Necrotic</li>
								<li>Lightning / Thunder</li>
							</ul>
							<ul>
								<li>Poison / Acid</li>
								<li>Psychic / Force</li>
							</ul>
						</div>
					</section>
				</mechanic>

				<p><strong>Compound:</strong> You can combine <i>inverted spell</i> with other metamagics during the casting of a spell.</p>

				<h4 class="h4--option">Quickened Spell</h4>
				<p>When you cast a spell that has a casting time of 1 action, you can spend 2 sorcery points to change the casting time to 1 bonus action for this casting.</p>

				<h4 class="h4--option">Subtle Spell</h4>
				<p>When you cast a spell, you can spend 1 sorcery point to cast it without any somatic or verbal components.</p>

				<h4 class="h4--option">Twinned Spell</h4>
				<p>When you cast a spell that (a) targets only one creature and (b) doesn't have a range of self, you can spend a number of sorcery points equal to the spell level to target a second creature in range with the same spell (1 sorcery point if the spell is a cantrip).</p>
				<p><strong>Single-target Only:</strong> A spell can be twinned only if it is incapable of targeting more than one creature at the spell's casting level.</p>
				<p>For example, <i>Magic Missile</i> and <i>Scorching Ray</i> aren't eligible, but <i>Ray of Frost</i> and <i>Chromatic Orb</i> are.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Sorcerous Origin</h3>
				<p>Choose a Sorcerous Origin. You gain features from your Sorcerous Origin at 1st, 3rd, 6th, and 10th-level.</p>

				<h4>Origin Spells</h4>
				<p>Your Sorcerous Origin grants you a unique list of spells—its <i>origin spells</i>. At 1st, 3rd, 5th, 7th, and 9th-level, you may choose one spell from that respective tier and add it to your list of known sorcerer spells as an <i>extra</i> spell.</p>
				<p>If you have an origin spell that doesn't normally appear on the sorcerer spell list, that spell is nonetheless a sorcerer spell for you.</p>
				<p><strong>Permanent Choice:</strong> Once you choose an origin spell, that selection is permanent—you can't change it later using your <i>Sorcerous Versatility</i>.</p>

				<h4>Origin Metamagics</h4>
				<p>You gain access to four unique metamagics from your Sorcerous Origin. Add these to your list of metamagic options.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">2</span>Sorcerous Recovery</h3>
				<p>Your sorcerous body feeds on magic, turning the raw energies of the world into powerful sorcery.</p>
				<p>When you take damage from a spell cast by another creature or object, you can spend your reaction to regain a number of expended sorcery points equal to the level of the spell that hurt you.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>
				<p><strong>Greater Sorcerous Recover:</strong> Starting at 5th-level, you can use this feature twice.</p>
				<p><strong>Superior Sorcerous Recover:</strong> Starting at 9th-level, you can use this feature three times.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">10</span>Metamorphosis</h3>
				<p>You infuse your physical form with sorcery, transforming yourself—temporarily—into a sorcerous avatar of magic.</p>
				<p>You gain two <i>metamorphosis forms</i> as determined by your sorcerous origin. You may spend an action to cast <i>Metamorphosis</i> and transform into one of these forms—you may choose which form each time you cast the spell.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>
				<p><strong>Innate Power:</strong> As a sorcerer, you can cast <i>Metamorphosis</i> without spending any sorcery points.</p>
				<p><strong>Interrupts:</strong> As a spell, Metamorphosis can be interrupted by normal means (such as <i>Counterspell</i>). In these cases, Metamorphosis counts as a 6th-level spell.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Metamorphosis</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Sorcerer</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> 1 action</li>
							<li><strong>Range:</strong> Self</li>
							<li><strong>Components:</strong> V, S</li>
							<li><strong>Duration:</strong> Up to 1 minute</li>
						</ul>
						<div class="description">
							<p>You transmute your physical form into raw, sorcerous power. Choose a metamorphosis form as permitted by your sorcerous origin—until the spell ends, you gain all the features of that form.</p>
							<p>Your metamorphosis lasts until either (a) 1 minute has passed, (b) you end it as a bonus action, (c) you fall unconscious, or (d) you are shapeshifted into another form by some other effect.</p>
						</div>
					</section>
				</spell>
			</page>
			<page class="page page--generic page--sorcerer">
				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4 class="h4--option">Acid</h4>
				<p>Your flesh transforms into gelatinous, corrosive ooze.</p>
				<p><strong>Corrosive Blood:</strong> You are immune to acid damage and have vulnerability to slashing damage.</p>
				<p><strong>Amorphous:</strong> You can move through a space as narrow as 1 inch wide without squeezing (items you are carrying might not fit, however).</p>
				<p><strong>Acid Rain:</strong> You can spend your action to create a 10 ft radius sphere of acid rain centered on yourself. Each creature in that area (excluding yourself) must make a Constitution saving throw. A creature takes 4d8 acid damage on a failed save, or half as much damage on a successful one.</p>

				<h4 class="h4--option">Bludgeoning</h4>
				<p>You are surrounded by a powerful, ceaseless wind.</p>
				<p><strong>Wind Shield:</strong> You gain resistance to bludgeoning, piercing, and slashing damage from non-magical attacks.</p>
				<p><strong>Moon Step:</strong> You gain a flying speed equal to your movement speed. If you are still flying when the spell ends, you fall unless you can somehow prevent it.</p>
				<p><strong>Gust:</strong> You can spend your action to create a 10 ft radius sphere of swirling wind centered on yourself. Each creature in that area (excluding yourself) must make a Constitution saving throw. A creature takes 2d10 bludgeoning damage on a failed save, or half as much damage on a successful one. If a large or smaller creature fails the save, that creature is pushed up to 10 ft away from the center of the sphere.</p>

				<h4 class="h4--option">Cold</h4>
				<p>Your body is covered with glistening ice crystals.</p>
				<p><strong>Cold-blooded:</strong> You are immune to cold damage and have vulnerability to fire damage.</p>
				<p><strong>White Walker:</strong> You can walk across water as if it were solid ground. In addition, you can move across difficult terrain created by ice or snow without spending extra movement.</p>
				<p><strong>Ice Age:</strong> You can spend your action to create a 15 ft cone of ice extending from you in a direction of your choice. Each creature in range must make a Constitution saving throw. A creature takes 4d6 cold damage on a failed save, or half as much damage on a successful one. A creature that fails its save against this effect has its speed halved until the start of your next turn.</p>

				<col-break></col-break>

				<h4 class="h4--option">Fire</h4>
				<p>Glowing red veins of searing power cover your body.</p>
				<p><strong>Hot-blooded:</strong> You are immune to fire damage and have vulnerability to cold damage.</p>
				<p><strong>Living Torch:</strong> You emit bright light in a 30 ft radius and dim light for an additional 30 ft.</p>
				<p><strong>Scorched Partizan:</strong> You can spend your action to create a line of fire 15 feet long and 5 feet wide extending from you in a direction you choose. Each creature in the line must make a Dexterity saving throw. A creature takes 4d8 fire damage on a failed save, or half as much damage on a successful one</p>

				<h4 class="h4--option">Force</h4>
				<p>Your body glimmers with sparkling, arcane force.</p>
				<p><strong>Arcane Flesh:</strong> You are immune to force damage and have vulnerability to psychic damage.</p>
				<p><strong>Unstoppable:</strong> You can move through and occupy a hostile creature's space. If you end your turn in a hostile creature's space, that creature is pushed to the nearest unoccupied space (the creature may choose which space).</p>
				<p><strong>Force Push:</strong> You can spend your action to create a 10 ft radius sphere of arcane force centered on yourself. Each creature in that area (excluding yourself) must make a Constitution saving throw. A creature takes 2d10 force damage on a failed save, or half as much damage on a successful one. If a large or smaller creature fails the save, that creature is pushed up to 10 ft away from you.</p>

				<h4 class="h4--option">Lightning</h4>
				<p>Your body crackles with sparks of arcane lightning.</p>
				<p><strong>Sparkster:</strong> You are immune to lightning damage and have vulnerability to cold damage.</p>
				<p><strong>Static Charge:</strong> You can climb and cling to difficult surfaces, including upside down on ceilings, without needing to make an ability check. </p>
				<p><strong>Lightning Lance:</strong> You can spend your action to create a line of lightning 15 feet long and 5 feet wide extending from you in a direction you choose. Each creature in the line must make a Dexterity saving throw. A creature takes 4d8 lightning damage on a failed save, or half as much damage on a successful one.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Customizing your Appearance</h4>
					</header>
					<section class="panel__body">
						<p>The physical descriptions assigned to each metamorphosis are examples of how your new form may manifest.</p>
						<p>However, you can decide exactly how your sorcerous power transforms your physical body—discuss with your GM if you have a particular aspect you wish to highlight.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--sorcerer">
				<h4 class="h4--option">Necrotic</h4>
				<p>Black, pulsating veins of decay cover your body.</p>
				<p><strong>Shadowheart:</strong> You are immune to necrotic damage and have vulnerability to radiant damage.</p>
				<p><strong>Dark Aura:</strong> The area in a 10 ft radius around you is (a) in dim light and (b) is difficult terrain for creatures other than you. The radius moves with you.</p>
				<p><strong>Decay:</strong> You can spend your action to touch a creature within 5 ft of you. That creature must make a Constitution saving throw. It takes 2d10 necrotic damage on a failed save, or half as much damage on a successful one. A creature that fails its save against this effect is <i>Poisoned</i> until the start of your next turn.</p>

				<h4 class="h4--option">Piercing</h4>
				<p>Sharp spikes of earth and rock cover your body.</p>
				<p><strong>Quill Armor:</strong> You gain resistance to bludgeoning, piercing, and slashing damage from non-magical attacks.</p>
				<p><strong>Stonestepper:</strong> You can move across difficult terrain made of earth or stone without spending extra movement. You can move through solid earth or stone as if it was air and without destabilizing it, but you can’t end your movement there. If you do so, you are ejected to the nearest unoccupied space, your metamorphosis ends, and you are stunned until the end of your next turn.</p>
				<p><strong>Obsidian Spear:</strong> You can spend your action to fling piercing spikes in a line 15 feet long and 5 feet wide extending from you in a direction you choose. Each creature in the line must make a Dexterity saving throw. A creature takes 4d8 piercing damage on a failed save, or half as much damage on a successful one.</p>

				<h4 class="h4--option">Poison</h4>
				<p>You grow pointed fangs, sharp claws, and a poisonous, barbed tail.</p>
				<p><strong>Toxic Blood:</strong> You are immune to poison damage and have vulnerability to fire damage.</p>
				<p><strong>Spider Climb:</strong> You can climb and cling to difficult surfaces, including upside down on ceilings, without needing to make an ability check. </p>
				<p><strong>Scorpion Sting:</strong> You can spend your action to bite or sting a creature within 5 ft of you. That creature must make a Constitution saving throw. It takes 2d10 poison damage on a failed save, or half as much damage on a successful one. A creature that fails its save against this effect is <i>Poisoned</i> until the start of your next turn.</p>

				<h4 class="h4--option">Psychic</h4>
				<p>Your eyes turn white as a third, glowing eye opens on your forehead.</p>
				<p><strong>Iron Mind:</strong> You are immune to psychic damage and have vulnerability to force damage.</p>
				<p><strong>Maddening Whispers:</strong> Any creature that makes a concentration check within 10 ft of you has disadvantage on the roll.</p>
				<p><strong>Psychic Scream:</strong> You can spend your action to create a 15 ft cone of psychic energy extending from you in a direction of your choice. Each creature in range must make a Wisdom saving throw. A creature takes 4d6 psychic damage on a failed save, or half as much damage on a successful one. A creature that fails its save against this effect falls prone.</p>

				<col-break></col-break>

				<h4 class="h4--option">Radiant</h4>
				<p>Your skin glows with a shimmering, yellow-white light.</p>
				<p><strong>Blessed Body:</strong> You are immune to radiant damage and have vulnerability to necrotic damage.</p>
				<p><strong>Light Incarnate:</strong> You emit bright light in a 30 ft radius and dim light for an additional 30 ft.</p>
				<p><strong>Solar Flare:</strong> You can spend your action to create a 15 ft cone of radiant light extending from you in a direction you choose. Each creature in range must make a Constitution saving throw. A creature takes 4d6 radiant damage on a failed save, or half as much damage on a successful one. A creature that fails its save against this effect is <i>Blinded</i> until the start of your next turn.</p>

				<h4 class="h4--option">Slashing</h4>
				<p>Sharp, metallic blades cover your body.</p>
				<p><strong>Sparking Daisy:</strong> You gain resistance to bludgeoning, piercing, and slashing damage from non-magical attacks.</p>
				<p><strong>Knifeblade:</strong> You can climb and cling to difficult surfaces, including upside down on ceilings, without needing to make an ability check. </p>
				<p><strong>Spiral Hollow:</strong> You can spend your action to spin in a whirlwind of blades. Each creature within 10 ft of you must make a Dexterity saving throw. A creature takes 4d8 slashing damage on a failed save, or half as much damage on a successful one.</p>

				<h4 class="h4--option">Thunder</h4>
				<p>Your voice is booming and sound becomes heavily distorted around you.</p>
				<p><strong>Bass Blood:</strong> You are immune to thunder damage and have vulnerability to force damage.</p>
				<p><strong>Deafening Aura:</strong> Any creature that ends its turn within 10 ft of you is <i>Deafened</i> until the end of its next turn.</p>
				<p><strong>Sonic Boom:</strong> You can spend your action to create a 10 ft radius sphere of sound centered on yourself. Each creature in that area (excluding yourself) must make a Constitution saving throw. A creature takes 4d8 thunder damage on a failed save, or half as much damage on a successful one.</p>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Creating a Metamorphosis</h4>
					</header>
					<section class="panel__body">
						<p>If you want to customize an existing metamorphosis—or create your own unique metamorphosis form—follow these four basic steps:</p>
						<ol>
							<li><strong>Immunity:</strong> Choose one damage type immunity and one vulnerability.</li>
							<li><strong>Movement:</strong> Choose a passive movement or aura-focused benefit.</li>
							<li>
								<p><strong>Attack:</strong> Choose one full action attack effect, such as one of the following templates:</p>
								<ol type="a" style="margin-top: 0; padding-top: 8px; padding-bottom: 7px">
									<li>A 15 ft cone / 5 ft by 15 ft line dealing (a) 4d8 damage or (b) 4d6 damage and a status effect.</li>
									<li>5 ft touch dealing 2d10 damage and a status effect.</li>
									<li>A 10 ft radius sphere, dealing 2d10 damage and a status effect.</li>
								</ol>
							</li>
							<li><strong>Appearance:</strong> Finish up with an appropriate appearance modifier for your metamorphosis.</li>
						</ol>
					</section>
				</aside>
			</page>
		</book>
	</body>
</html>
