<html>
	<body>
		<book>
			<page class="page page--generic page--sorcerer-subclasses">
				<h2 data-icon="spiky-eclipse">Draconic Bloodline</h2>
				<p>Your blood carries with it the ancient power of draconic magic. Your lineage may include half-dragon, a sorcerer who made a blood bargain with a dragon, or perhaps even a dragon parent.</p>
				<p>Those who carry this bloodline bear unmistakable traits of their dragon ancestors—physically and mentally.</p>

				<h3><span class="h3__highlight">1</span>Origin Spells</h3>
				<p>Your bloodline offers you the following origin spells.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Draconic Bloodline Spells</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Sorcerer</li>
							<li>Draconic Bloodline</li>
						</ul>
					</header>
					<section class="panel__body">
						<table class="table table--draconic-spells">
							<thead>
								<tr>
									<th>Sorcerer Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Command, Absorb Elements</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Dragon's Breath, Hold Person</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Fear, Fly</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Dominate Beast, Elemental Bane</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Dominate Person, Hold Monster</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3><span class="h3__highlight">1</span>Metamagic</h3>
				<p>Add the following four metamagics to your list of metamagic options: chromatic, empowered, extended, and seeking.</p>

				<h4 class="h4--option">Chromatic Spell</h4>
				<p>When you roll damage for a spell, you can spend 1 sorcery point to change the damage type of that spell to that of your draconic ancestry.</p>

				<h4 class="h4--option">Empowered Spell</h4>
				<p>When you roll damage for a spell, you can spend 1 sorcery point to reroll a number of the damage dice up to your Charisma modifier (minimum of one). You must use the new rolls.</p>
				<p><strong>Compound:</strong> You can combine <i>empowered spell</i> with other metamagics during the casting of a spell.</p>

				<h4 class="h4--option">Extended Spell</h4>
				<p>When you cast a spell, you can extend either its range or duration with <i>extended spell</i>.</p>
				<p><strong>Distance:</strong> When you cast a spell that has a range of 5 feet or greater, you can spend 1 sorcery point to double the range of the spell. Alternatively, if the spell has a range of touch, you can spend 1 sorcery point to make the range of the spell 30 feet.</p>
				<p><strong>Duration:</strong> When you cast a spell that has a duration of 1 minute or longer, you can spend 1 sorcery point to double its duration, to a maximum duration of 24 hours.</p>

				<h4 class="h4--option">Seeking Spell</h4>
				<p>When you cast a spell that attacks a creature, you can spend 2 sorcery points to add +2 to the first attack roll you make as part of that spell.</p>
				<p><strong>Compound:</strong> You can combine <i>seeking spell</i> with other metamagics during the casting of a spell.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">1</span>Dragon Ancestor</h3>
				<p>Choose one type of dragon as your ancestor. You can speak, read, and write Draconic. Whenever you make a Charisma check to interact with dragons, your proficiency bonus (if applicable) is doubled.</p>

				<h3><span class="h3__highlight">1</span>Draconic Resilience</h3>
				<p>At 1st-level, your hit point maximum increases by +1. It increases by +1 again whenever you gain a sorcerer level.</p>
				<p>Additionally, parts of your skin are covered by a thin sheen of dragon-like scales. When you aren't wearing armor, your AC equals 13 + your Dexterity modifier.</p>

				<h3><span class="h3__highlight">3</span>Dragonbreath</h3>
				<p>You can spend your action to exhale destructive energy. Your <i>draconic ancestry</i> determines the size, shape, and damage type of your breath.</p>
				<p>Each creature in the area of your dragonbreath must make a saving throw—a creature takes 3d6 damage on a failed save, and half as much damage on a successful one.
				<p>You may use this feature once. You regain expended uses when you finish a long rest.</p>
				<p><strong>Greater Dragonbreath:</strong> At 6th-level, the damage dealt by your dragonbreath increases from 3d6 to 4d6. In addition, you may use this feature twice.</p>

				<h3><span class="h3__highlight">6</span>Elemental Affinity</h3>
				<p>When you cast a spell that deals damage of the type associated with your draconic ancestry, you can add your Charisma modifier to one damage roll of that spell.</p>
				<p>At the same time, you can spend 1 sorcery point to gain resistance to that damage type for 1 hour.</p>

				<h3><span class="h3__highlight">10</span> Metamorphosis</h3>
				<p>You gain two metamorphosis forms: <i>draconic</i> (as shown below) and one other form as based on your draconic ancestry damage type.</p>

				<h4 class="h4--option">Draconic</h4>
				<p>Draconic scales cover your body as large, leathery wings burst from your back. Those who look upon you face the might—and the terror—of dragonkind.</p>
				<p><strong>Dragonscale:</strong> You have resistance to bludgeoning, piercing, and slashing damage from nonmagical attacks.</p>
				<p><strong>Dragonflight:</strong> You gain a flying speed equal to your current speed. If you are still flying when your metamorphosis ends, you fall unless you can somehow prevent it.</p>
				<p><strong>Terrifying Presence:</strong> You can spend an action to terrify those around you. Each creature that is (a) within 30 ft. of you and (b) aware of you must succeed on a Wisdom saving throw or become <i>Frightened</i> for 1 minute. A creature can repeat the saving throw at the end of each of its turns, ending the effect on itself on a success.</p>
				<p>If a creature's saving throw is successful or the effect ends for it, the creature is immune to your <i>Terrifying Presence</i> until the end of its next long rest.</p>
			</page>
			<page class="page page--generic page--sorcerer-subclasses">
				<div class="layout--col-wide">
					<list class="panel panel--list">
						<header class="panel__header">
							<h4 class="panel__title">Dragon Ancestors</h4>
							<ul class="panel__tags">
								<li>Class Feature</li>
								<li>Sorcerer</li>
								<li>Draconic Bloodline</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--draconic-ancestor">
								<thead>
									<tr>
										<th>d100</th>
										<th>Dragon</th>
										<th>Damage Type</th>
										<th>Dragonbreath</th>
										<th>Saving Throw</th>
										<th>Common Traits</th>
									</tr>
								</thead>
								<tbody>
									<tr class="header">
										<td colspan="6"><span>Cataclysmic</span></td>
									</tr>
									<tr>
										<td>01-02</td>
										<td>Blizzard</td>
										<td>Cold</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Sociable, Tyrannical, Cold, Tactical</td>
									</tr>
									<tr>
										<td>03-04</td>
										<td>Earthquake</td>
										<td>Bludgeoning</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Lazy, Slow, Intense, Destructive</td>
									</tr>
									<tr>
										<td>05-06</td>
										<td>Tornado</td>
										<td>Bludgeoning</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Roaming, Whimsical, Docile, Wrathful</td>
									</tr>
									<tr>
										<td>07-08</td>
										<td>Typhoon</td>
										<td>Lightning</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Chaotic, Mercurial, Curious, Impatient</td>
									</tr>
									<tr>
										<td>09-10</td>
										<td>Volcanic</td>
										<td>Fire</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Cruel, Hateful, Ambitious, Toxic</td>
									</tr>
									<tr>
										<td>11-12</td>
										<td>Wildfire</td>
										<td>Fire</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Territorial, Determined, Zealous, Solitary</td>
									</tr>
									<tr class="header">
										<td colspan="6"><span>Chromatic</span></td>
									</tr>
									<tr>
										<td>13-14</td>
										<td>Black</td>
										<td>Acid</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Solitary, Short-tempered, Territorial, Cruel</td>
									</tr>
									<tr>
										<td>15-16</td>
										<td>Blue</td>
										<td>Lightning</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Manipulative, Organized, Opportunistic, Nurturing</td>
									</tr>
									<tr>
										<td>17-18</td>
										<td>Green</td>
										<td>Poison</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Petty, Cunning, Possessive, Combative</td>
									</tr>
									<tr>
										<td>19-20</td>
										<td>Purple</td>
										<td>Force</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Restless, Controlling, Deceptive, Selfish</td>
									</tr>
									<tr>
										<td>21-22</td>
										<td>Red</td>
										<td>Fire</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Greedy, Arrogant, Ferocious, Anarchist</td>
									</tr>
									<tr>
										<td>23-24</td>
										<td>White</td>
										<td>Cold</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Oppressive, Vengeful, Great Memory, Savage</td>
									</tr>
									<tr class="header">
										<td colspan="6"><span>Ferrous</span></td>
									</tr>
									<tr>
										<td>25-26</td>
										<td>Chromium</td>
										<td>Cold</td>
										<td>5 ft by 30 ft line</td>
										<td>Constitution</td>
										<td>Malevolent, Avaricious, Calculating, Sadistic</td>
									</tr>
									<tr>
										<td>27-28</td>
										<td>Cobalt</td>
										<td>Force</td>
										<td>5 ft by 30 ft line</td>
										<td>Constitution</td>
										<td>Controlling, Creative, Solitary, Arrogant</td>
									</tr>
									<tr>
										<td>29-30</td>
										<td>Iron</td>
										<td>Lightning</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Driven, Stubborn, Attentive, Dreamer</td>
									</tr>
									<tr>
										<td>31-32</td>
										<td>Nickel</td>
										<td>Acid</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Tenacious, Unpredictable, Deceitful, Vicious</td>
									</tr>
									<tr>
										<td>33-34</td>
										<td>Steel</td>
										<td>Acid</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Amiable, Curious, Witty, Individualist</td>
									</tr>
									<tr>
										<td>35-36</td>
										<td>Tungsten</td>
										<td>Fire</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Utilitarian, Punishing, Insightful, Judgmental </td>
									</tr>
									<tr class="header">
										<td colspan="6"><span>Gemstone</span></td>
									</tr>
									<tr>
										<td>37-38</td>
										<td>Amethyst</td>
										<td>Force</td>
										<td>5 ft by 30 ft line</td>
										<td>Constitution</td>
										<td>Aloof, Sovereign, Diplomatic, Noble.</td>
									</tr>
									<tr>
										<td>39-40</td>
										<td>Crystal</td>
										<td>Radiant</td>
										<td>5ft by 30 ft line</td>
										<td>Constitution</td>
										<td>Sentimental, Mischievous, Irresponsible, Benevolent.</td>
									</tr>
									<tr>
										<td>41-42</td>
										<td>Emerald</td>
										<td>Bludgeoning</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Patient, Secretive, Curious, Suspicious</td>
									</tr>
									<tr>
										<td>43-44</td>
										<td>Obsidian</td>
										<td>Fire</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Haughty, Calculating, Explosive, Vicious</td>
									</tr>
									<tr>
										<td>45-46</td>
										<td>Sapphire</td>
										<td>Thunder</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Militaristic, Distrustful, Protective, Strategic</td>
									</tr>
									<tr>
										<td>47-48</td>
										<td>Topaz</td>
										<td>Fire</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Self-absorbed, Indifferent, Sour, Dependable</td>
									</tr>
									<tr class="header">
										<td colspan="6"><span>Metallic</span></td>
									</tr>
									<tr>
										<td>49-50</td>
										<td>Brass</td>
										<td>Fire</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Talkative, Social, Entertaining, Mercenary</td>
									</tr>
									<tr>
										<td>51-52</td>
										<td>Bronze</td>
										<td>Lightning</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Self-righteous, Loyal, Responsible, Pacifist</td>
									</tr>
									<tr>
										<td>53-54</td>
										<td>Copper</td>
										<td>Acid</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Prankster, Witty, Devious, Polite</td>
									</tr>
									<tr>
										<td>55-56</td>
										<td>Gold</td>
										<td>Fire</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Wise, Lawful, Relentless, Reclusive</td>
									</tr>
									<tr>
										<td>57-58</td>
										<td>Mercury</td>
										<td>Radiant</td>
										<td>5 ft by 30 ft line</td>
										<td>Constitution</td>
										<td>Whimsical, Unpredictable, Creative, Distracted</td>
									</tr>
									<tr>
										<td>59-60</td>
										<td>Silver</td>
										<td>Cold</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Regal, Friendly, Perfectionist, Detached</td>
									</tr>
									<tr class="header">
										<td colspan="6"><span>Planar</span></td>
									</tr>
									<tr>
										<td>61-62</td>
										<td>Abyssal</td>
										<td>Fire</td>
										<td>15 ft cone</td>
										<td>Dexterity</td>
										<td>Immoral, Determined, Conniving, Vengeful</td>
									</tr>
									<tr>
										<td>63-64</td>
										<td>Astral</td>
										<td>Thunder</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Daydreamer, Idealist, Empathetic, Daring</td>
									</tr>
									<tr>
										<td>65-66</td>
										<td>Celestial</td>
										<td>Radiant</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Noble, Helpful, Pacifist, Wrathful</td>
									</tr>
									<tr>
										<td>67-68</td>
										<td>Ethereal</td>
										<td>Force</td>
										<td>5 ft by 30 ft line</td>
										<td>Constitution</td>
										<td>Distracted, Thoughtful, Clumsy, Prophesier</td>
									</tr>
									<tr>
										<td>69-70</td>
										<td>Fey</td>
										<td>Bludgeoning</td>
										<td>5 ft by 30 ft line</td>
										<td>Dexterity</td>
										<td>Curious, Wild, Fickle, Reactive</td>
									</tr>
									<tr>
										<td>71-72</td>
										<td>Shadow</td>
										<td>Necrotic</td>
										<td>15 ft cone</td>
										<td>Constitution</td>
										<td>Fatalistic, Frightening, Sneaky, Bold</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Ancestor Availability</h4>
					</header>
					<section class="panel__body">
						<p>The <i>Dragon Ancestor</i> table featured here contains a wide variety of dragon families—some, however, might not be appropriate for every game or campaign setting.</p>
						<p>Before you pick an ancestor, check with your GM to see which draconic families are available in your setting.</p>
					</section>
				</aside>
			</page>
		</book>
	</body>
</html>
