<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-boons">
				<h2 data-icon="intricate-necklace">Pact of the Blade</h2>
				<p>You ask your patron for physical power, and you are rewarded with an eldritch weapon.</p>

				<h3><span class="h3__highlight">1</span>Pact Weapon</h3>
				<p>You gain a unique, eldritch weapon from your patron. This weapon is honed and shaped by your own mind—the stronger your intellect, the sharper your blade.</p>
				<p>In addition, you gain proficiency with medium armor, shields, and martial weapons.</p>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Pact Weapon</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
							<li>Pact of the Blade</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>You can spend one action to summon your pact weapon into your empty hand. You can choose the form that this weapon takes each time you summon it—a dagger, a sword, a bow, etc—though it must be a form of weapon that you are proficient with.</p>
							<p>Your weapon bears the unmistakable mark of your eldritch patron—fiendish red veins, fey vines and flowers, aberrant runes and etchings, etc.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Eldritch Strike</strong> When you attack with this weapon, you can use your Intelligence modifier (instead of Strength or Dexterity) for the attack and damage rolls.</li>
							<li><strong class="feature__title">Magical Origin</strong> This weapon counts as magical for the purpose of overcoming resistance and immunity to nonmagical attacks and damage.</li>
							<li><strong class="feature__title">Ephemeral</strong> This weapon disappears if you use this feature again, if you dismiss the weapon (no action required), or if you die.</li>
							<li><strong class="feature__title">Greater Pact Weapon</strong> Starting at 5th-level, you can attack with your pact weapon twice—instead of once—whenever you take the Attack action on your turn.</li>
						</ul>
					</section>
				</item>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Assimilate</h3>
				<p>You can transform a magic weapon into your pact weapon by performing a special, eldritch ritual.</p>
				<p>The ritual takes 1 hour, during which you must be holding the weapon. You can then dismiss the weapon, shunting it into an extradimensional space—the weapon appears whenever you summon your pact weapon thereafter. You can't affect an artifact or a sentient weapon in this way.</p>
				<p><strong>Breaking the Bond:</strong> The weapon ceases to be your pact weapon if either (a) you die, (b) you assimilate a different weapon, or (c) you use a 1-hour ritual to break your bond to it. The weapon appears at your feet if it is in the extradimensional space when the bond breaks.</p>

				<col-break></col-break>

				<h3><span class="h3__highlight">5</span>Eldritch Brand</h3>
				<p>You are able to mark a creature with your <i>Eldritch Brand</i>.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Eldritch Brand</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
							<li>Pact of the Blade</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> No action</li>
							<li><strong>Range:</strong> Self</li>
							<li><strong>Components:</strong> V</li>
							<li><strong>Duration:</strong> Concentration, up to 1 minute</li>
						</ul>
						<div class="description">
							<p>When you hit a creature with your pact weapon, you may choose to brand the creature and deal an extra 1d6 force damage per your spell slot level.</p>
							<p>While the creature is branded, attacks with your pact weapon deal extra force damage to that creature equal to your Intelligence modifier (minimum of 1). The creature also can't benefit from the <i>Invisible</i> condition until the mark expires.</p>
							<p>You may use this feature a number of times equal to your intelligence modifier, and you recover expended uses when you finish a long rest.</p>
						</div>
					</section>
				</spell>

				<h3><span class="h3__highlight">7</span>Translocate</h3>
				<p>If your pact weapon is within 300 feet of you, you can spend a bonus action to teleport to its location—or to the nearest unoccupied space if that location is occupied.</p>
				<p>You can use this feature a number of times equal to your Intelligence modifier (minimum of 1), and you regain expended uses when you finish a long rest.</p>

				<!-- <example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
					</section>
				</example> -->

				<h3><span class="h3__highlight">9</span>Banish</h3>
				<p>You are able to <i>Banish</i> a creature to the realm of your patron. You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Banish</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
							<li>Pact of the Blade</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> No action</li>
							<li><strong>Range:</strong> Self</li>
							<li><strong>Components:</strong> V</li>
							<li><strong>Duration:</strong> Concentration, up to 1 minute</li>
						</ul>
						<div class="description">
							<p>When you hit a creature with your pact weapon, you deal an extra 5d10 force damage to the creature. If the creature is reduced to 50 hit points or fewer, it is banished to a demiplane controlled by your patron.</p>
							<p>While it is banished, the creature must make a Charisma saving throw at the end of each of its turns. If it succeeds—or the duration expires—the creature reappears in the space it left (or in the nearest unoccupied space if that space is occupied). If it fails, the creature instead suffers 1d10 force damage.</p>
							<p>If the creature is reduced to 0 hit points while it is banished, it does not return and you regain 1 expended spell slot.</p>
						</div>
					</section>
				</spell>
			</page>
		</book>
	</body>
</html>
