<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-boons">
				<h2 data-icon="intricate-necklace">Pact of the Wand</h2>
				<p>You ask your patron for the power to destroy, and are rewarded with an eldritch wand of devastation.</p>

				<h3><span class="h3__highlight">1</span>Wand of Devastation</h3>
				<p>You gain a sinister wand from your patron through which you can harness their limitless, destructive power.</p>
				<p>While you are holding your pact wand, you can cast the <i>Eldritch Blast</i> cantrip at will.</p>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Wand of Devastation</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
							<li>Pact of the Wand</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>A wand of eldritch power. This wand crackles with strange energy and is unmistakably <i>otherworldly</i> in origin, bearing all the hallmarks of your patron—fiendish red veins, fey vines and flowers, aberrant runes and etchings, etc.</p>
						</div>
					</section>
				</item>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Eldritch Blast</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
							<li>Pact of the Wand</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> 1 action</li>
							<li><strong>Range:</strong> 120 feet</li>
							<li><strong>Components:</strong> V, S</li>
							<li><strong>Duration:</strong> Instantaneous</li>
						</ul>
						<div class="description">
							<p>A beam of crackling energy streaks toward a creature within range. Make a ranged spell attack against the target. On a hit, the target takes 1d10 force damage.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Greater Eldritch Blast</strong> Starting at 3rd-level, once per turn when you hit a creature with eldritch blast, you can add your Intelligence modifier to the damage.</li>
							<li><strong class="feature__title">Superior Eldritch Blast</strong> (5th-level) You can choose to attack two separate targets. Make a separate attack roll for each target.</li>
						</ul>
					</section>
				</spell>

				<h3><span class="h3__highlight">3</span>Wand Powers</h3>
				<p>Choose one of the following wand powers. Whenever you finish a long rest, you may change your wand powers.</p>

				<h4 class="h4--option">Chilling Blast</h4>
				<p>Once per turn, when you hit a creature with eldritch blast, you can chill it. That creature's speed is reduced by 10 feet (to a minimum of 5 feet) until the end of its next turn.</p>

				<h4 class="h4--option">Decaying Blast</h4>
				<p>Once per turn, when you hit a creature with eldritch blast, you can leave a lingering decay. That creature can't regain hit points until the end of your next turn.</p>

				<h4 class="h4--option">Grasping Blast</h4>
				<p>Once per turn, when you hit a creature with eldritch blast, you can pull the creature 10 feet towards you in a straight line.</p>

				<col-break></col-break>

				<h4 class="h4--option">Marking Blast</h4>
				<p>Once per turn, when you hit a creature with eldritch blast, you can mark it with glowing energy. Until the end of your next turn, that creature can't benefit from the <i>invisible</i> condition.</p>

				<h4 class="h4--option">Repelling Blast</h4>
				<p>Once per turn, when you hit a creature with eldritch blast, you can push the creature up to 10 feet away from you in a straight line.</p>

				<h4 class="h4--option">Seeking Blast</h4>
				<p>Once per turn, when you attack a creature with eldritch blast, you can ignore the effects of half and three-quarters cover.</p>

				<h4 class="h4--option">Shocking Blast</h4>
				<p>Once per turn, when you hit a creature with eldritch blast, you can shock it. That creature can't take reactions until the end of its next turn.</p>

				<h3><span class="h3__highlight">5</span>Greater Devastation</h3>
				<p>Choose one additional wand power.</p>

				<h3><span class="h3__highlight">7</span>Destruction</h3>
				<p>While you are holding the wand, you can spend an action to cast <i>Destruction</i> as a 5th-level spell.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Destruction</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
							<li>Pact of the Wand</li>
						</ul>
					</header>
					<section class="panel__body">
						<ul class="spell__details">
							<li><strong>Casting Time:</strong> 1 action</li>
							<li><strong>Range:</strong> Self</li>
							<li><strong>Components:</strong> V, S</li>
							<li><strong>Duration:</strong> Instantaneous</li>
						</ul>
						<div class="description">
							<p>Scattering beams of destructive force erupt from your wand. Each creature in a 60 foot cone must make a Dexterity saving throw. A creature takes 8d6 force damage on a failed save, or half as much damage on a successful one.</p>
							<p>Any creature that is reduced to 0 hit points by this spell is disintegrated.</p>
						</div>
					</section>
				</spell>

				<h3><span class="h3__highlight">9</span>Disintegration</h3>
				<p>While you are holding the wand, you can spend an action to cast <i>Disintegrate</i> as a 6th-level spell.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
