<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-subclasses" data-header-icon="hood">
				<h1 id="warlock-subclasses">Otherworldly Patrons</h1>
				<p>You have made a pact with an otherworldly patron, a mighty inhabitant of another plane of existence—not a god, but almost <i>godlike</i> in its power.</p>
				<p>Patrons grant you access to eldritch powers and invocations, but they expect significant favors in return—woe betide the warlock who dares to turn their back on their patron's demands.</p>
				<p>Whatever your craving, this chapter introduces a variety of patrons for you to strike a bargain with. Make your pact and gain eldritch power.</p>

				<h2>Choose Your Patron</h2>
				<p>Choose your patron from one of the following options:</p>
				<ul>
					<li><strong>The Fiend:</strong> A powerful fiend from the hellish planes of existence offers you dark power in exchange for corruption, domination, and destruction.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Patrons Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Wicked Warlock</i> is a work-in-progress with a limited number of patrons. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>The Archfey:</strong> A capricious being who wishes to be entertained, with a temper as changeable as the seasons.</li>
							<li><strong>The Great Old One:</strong> A malignant being from another dimension. To seek out a Great Old One is to invite madness and terror into your very soul.</li>
							<li><strong>The Greater Dead:</strong> An undying creature who—in exchange for souls—grants you power over death itself.</li>
						</ul>
						<p>Got ideas for otherworldy patrons you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating a Patron</h3>
				<p>To create your own <i>Otherworldly Patron</i> (or to convert an existing patron from other sources), follow these steps:</p>

				<ol>
					<li><strong>Add 3 Demands:</strong> Add 3 demands from your patron. Demands should be relatively open-ended and act as a guide for players when roleplaying.</li>
					<li><strong>Add Patron Spells:</strong> Otherworldly patrons expand the warlock spell list with 10 unique spell options. Add 2 spell options to be gained at 1st, 3rd, 5th, 7th, and 9th-levels.</li>
					<li><strong>Create a 1st-level Feature:</strong> Otherworldly patrons grant an introductory feature at 1st-level.</li>
					<li><strong>Add 6 Patron Invocations:</strong> At 2nd-level, otherworldly patrons expand the warlock's eldritch invocation list with 6 unique invocation options. Use these to highlight the unique—and sometimes contradictory—demands of your patron.</li>
					<li><strong>Create 6th and 10th-level Features:</strong> Otherworldly patrons grant additional features at 6th and 10th-level.</li>
				</ol>

				<p>And that's it, your patron is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
