<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-invocations" data-header-icon="warlock-eye">
				<h1 id="warlock-invocations">Eldritch Invocations</h1>
				<p>As your connection with your patron grows stronger, you are shaped—and reshaped—by eldritch power. With eldritch invocations, you can master unique spells and new, passive abilities.</p>

				<h2>Choose Invocations</h2>
				<p>When you gain certain warlock levels, you are rewarded with eldritch invocations of your choice—as shown in the <i>Invocations Known</i> column of the Class Features (Warlock) table.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3>Creating an Invocation</h3>
				<p>If you need to create a custom invocation—for example, to better suit a specific character trait, story arc, or otherworldly patron—consider the following guidelines:</p>

				<col-break></col-break>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Invocation Guidelines</h4>
					</header>
					<section class="panel__body">
						<table class="table table--invocation-guidelines">
							<thead>
								<tr>
									<th>Min. Level</th>
									<th>Guidelines</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2nd</td>
									<td>
										<ul>
											<li>Cast a 1st-level spell at will (as a 1st-level spell), without expending a spell slot or material components.</li>
											<li>Gain proficiency in two skills.</li>
											<li>Gain a unique, character-changing passive feature.</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>
										<ul>
											<li>Cast a 3rd-level spell once per long rest without expending a spell slot or material components.</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>
										<ul>
											<li>Cast a 2nd-level spell at will (as a 2nd-level spell), without expending a spell slot or material components.</li>
											<li>Cast a 4th-level spell once per long rest without expending a spell slot or material components.</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>
										<ul>
											<li>Cast a 3rd-level spell at will (as a 3rd-level spell), without expending a spell slot or material components.</li>
											<li>Cast a 5th-level spell once per long rest without expending a spell slot or material components.</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Guidelines</h4>
					</header>
					<section class="panel__body">
						<p>Spells are not always equal in power or utility. When using the above guidelines, make sure to compare your new invocation with other invocations within the same tier—adjust your new invocation accordingly.</p>
					</section>
				</aside>
			</page>
			<page class="page page--generic page--warlock-invocations">
				<h2 data-icon="warlock-eye">Common Invocations</h2>
				<p>These invocations are available to all warlocks, regardless of patron (unless your patron would specify otherwise).</p>

				<h3><span class="h3__highlight">2</span>2nd-level Invocations</h3>
				<p>Starting at 2nd-level, you can master these invocations.</p>

				<h4 class="h4--option">Armor of Shadows</h4>
				<p>You can cast <i>Mage Armor</i> on yourself at will, without expending a spell slot or material components.</p>

				<h4 class="h4--option">Beast Speech</h4>
				<p>You can cast <i>Speak with Animals</i> at will, without expending a spell slot.</p>

				<h4 class="h4--option">Beguiling Influence</h4>
				<p>You gain proficiency in the Deception and Persuasion skills.</p>

				<h4 class="h4--option">Devil's Sight</h4>
				<p>You can see normally in darkness, both magical and nonmagical, to a distance of 120 feet.</p>

				<h4 class="h4--option">Eldritch Sight</h4>
				<p>You can cast <i>Detect Magic</i> at will, without expending a spell slot.</p>

				<h4 class="h4--option">Eyes of the Rune Keeper</h4>
				<p>You can read all writing.</p>

				<h4 class="h4--option">Fiendish Vigor</h4>
				<p>You can cast <i>False Life</i> on yourself at will as a 1st-level spell, without expending a spell slot or material components.</p>

				<h4 class="h4--option">Gaze of Two Minds</h4>
				<p>You can use your action to touch a willing humanoid and perceive through that creature's senses until the end of your next turn.</p>
				<p>As long as the creature is on the same plane of existence as you, you can use your action on subsequent turns to maintain this connection, extending the duration until the end of your next turn.</p>
				<p>While perceiving through the other creature's senses, you benefit from any special senses possessed by that creature, and you are blinded and deafened to your own surroundings.</p>

				<h4 class="h4--option">Mask of Many Faces</h4>
				<p>You can cast <i>Disguise Self</i> at will, without expending a spell slot.</p>

				<h4 class="h4--option">Misty Visions</h4>
				<p>You can cast <i>Silent Image</i> at will, without expending a spell slot or material components.</p>

				<h4 class="h4--option">Otherworldly Leap</h4>
				<p>You can cast <i>Jump</i> on yourself at will, without expending a spell slot or material components.</p>

				<col-break></col-break>

				<h4 class="h4--option">Thief of Five Fates</h4>
				<p>You can cast <i>Bane</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h3><span class="h3__highlight">5</span>5th-level Invocations</h3>
				<p>Starting at 5th-level, you can master these invocations.</p>

				<h4 class="h4--option">Mire the Mind</h4>
				<p>You can cast <i>Slow</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h4 class="h4--option">One with Shadows</h4>
				<p>When you are in an area of dim light or darkness, you can use your action to become invisible until you move or take an action or a reaction.</p>

				<h4 class="h4--option">Sign of Ill Omen</h4>
				<p>You can cast <i>Bestow Curse</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h3><span class="h3__highlight">7</span>7th-level Invocations</h3>
				<p>Starting at 7th-level, you can master these invocations.</p>

				<h4 class="h4--option">Bewitching Whispers</h4>
				<p>You can cast <i>Compulsion</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h4 class="h4--option">Dreadful Word</h4>
				<p>You can cast <i>Confusion</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h4 class="h4--option">Sculptor of Flesh</h4>
				<p>You can cast <i>Polymorph</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h3><span class="h3__highlight">9</span>9th-level Invocations</h3>
				<p>Starting at 9th-level, you can master these invocations.</p>

				<h4 class="h4--option">Ascendant Step</h4>
				<p>You can cast <i>Levitate</i> on yourself at will, without expending a spell slot or material components.</p>

				<h4 class="h4--option">Minions of Chaos</h4>
				<p>You can cast <i>Conjure Elemental</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h4 class="h4--option">Whispers of the Grave</h4>
				<p>You can cast <i>Speak with Dead</i> at will, without expending a spell slot.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
