<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-boons" data-header-icon="intricate-necklace">
				<h1 id="warlock-boons">Pact Boons</h1>
				<p>When you make a pact with a patron, you are rewarded with a boon—a special artifact that symbolizes the eldritch bargain that has been struck.</p>
				<p>This chapter introduces four pact boons for you to choose from—blade, chain, tome, and wand.</p>

				<h2>Choosing Your Pact</h2>
				<p>Choose your pact from one of the following options:</p>
				<ul>
					<li><strong>Pact of the Blade:</strong> You want physical power, and you are rewarded with an eldritch weapon.</li>
					<li><strong>Pact of the Chain:</strong> You want to control others, and you are rewarded with a familiar-summoning trinket.</li>
					<li><strong>Pact of the Tome:</strong> You want forbidden knowledge, and you are rewarded with an eldritch spellbook.</li>
					<li><strong>Pact of the Wand:</strong> You want to destroy your enemies, and you are rewarded with a wand of destruction.</li>
				</ul>

				<p>Your pact boon artifact bears the unmistakable mark of your patron—fiendish red veins, fey vines and flowers, aberrant runes and etchings, etc. You may decide how your artifact is branded by your patron.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3>Sealing your Pact</h3>
				<p>You gain your pact boon artifact once you <i>seal</i> your pact—traditionally by means of making a promise or sacrifice to your patron. Choose one of the following, or define your own sealing ritual:</p>

				<ul>
					<li>
						<p><strong>I made a promise:</strong> You have sworn to perform a particular service in the name of your patron. Your promise should be (a) achievable and (b) narrow enough in scope so that it can be reasonably addressed during gameplay.</p>
					</li>
					<li>
						<p><strong>I made a sacrifice:</strong> You sacrificed something of great value to your patron.</p>
						<p>
					</li>
				</ul>

				<p>Describe how you sealed your pact with your patron, or pick a random suggestion (if appropriate) from the <i>Promises</i> and <i>Sacrifices</i> tables.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3>Renewing your Pact</h3>
				<p>If you lose your pact boon artifact, you can spend one point of eldritch favor and perform a 1-hour ceremony to receive a replacement artifact from your patron.</p>
				<p>This ceremony can be performed during a short or long rest, and it destroys the previous boon item.</p>

				<h4>A New Seal</h4>
				<p>Depending on the circumstances in which you lost your artifact, your patron may demand that you renew your pact with a fresh seal. This may require you to make a new promise or sacrifice.</p>
			</page>
			<page class="page page--generic page--warlock-boons">
				<ul class="list-autorange" data-table-css="table--pact-promises" data-title="Promises" data-column="I will...">
					<li>Kill an ancient silver dragon and eat its heart.</li>
					<li>Convert the high priest of Emerset to betray his deity and serve you.</li>
					<li>Visit the realm of Nazirun and burn the sacred Book of Ascension.</li>
					<li>Obey every demand and serve you without question for the next 10 years.</li>
					<li>Serve you forever in death.</li>
					<li>Capture the souls of 1,000 people.</li>
					<li>Get the Queen of Rendeburg to pose for a portrait that I paint.</li>
					<li>Make 1,000 people all sing your name during the Winter Festival.</li>
					<li>Free the Dream Stalker from the depths of the Feywitch Prison.</li>
					<li>Build a temple to you in the capital city.</li>
					<li>Find a way to summon you into this world.</li>
					<li>Let you take possession of my body during the night of the full moon.</li>
					<li>Find and complete the secret puzzle box of Lamenchard's Lament.</li>
					<li>Kill the archon of the cult that opposes you.</li>
					<li>Recruit 1,000 new people into your service.</li>
					<li>Create a new festival in your name that is celebrated in all Seven Kingdoms of Thendrae.</li>
				</ul>

				<ul class="list-autorange" data-table-css="table--pact-sacrifices" data-title="Sacrifices" data-column="I give you...">
					<li>My family's vast wealth.</li>
					<li>The memories of my childhood.</li>
					<li>20 years of my remaining lifespan.</li>
					<li>One of my eyes.</li>
					<li>The life of my precious pet.</li>
					<li>The life of an innocent.</li>
					<li>My ability to paint.</li>
					<li>My ability to laugh.</li>
					<li>Two of my fingers.</li>
					<li>My soul.</li>
					<li>My sanity.</li>
					<li>My sense of taste.</li>
					<li>My sense of aesthetics.</li>
					<li>This last copy of a rare, precious book.</li>
					<li>The beating heart of a unicorn.</li>
					<li>My fingernails.</li>
					<li>My ability to write.</li>
					<li>My ability to feel strong emotions.</li>
					<li>My blood (1 pint per day).</li>
					<li>My sense of smell.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3>Creating a new Pact Boon</h3>
				<p>To create your own <i>Pact Boon</i> (or to convert an existing boon from other sources), follow these steps:</p>
				<ol>
					<li>
						<p><strong>Pick a Clear Theme:</strong> Summarize your pact request in one word (if possible). For example: curse, destroy, protect, infiltrate, corrupt, control, art, music, immortality, passion, anger, pain, fear, aggression, watercolors, etc.</p>
						<p>Use the examples listed in the <i>Boon Requests</i> table below as a guide.</p>
					</li>
					<li>
						<p><strong>Create a Pact Artifact:</strong> Every pact has one significant item attributed with it—a weapon, a necklace, a book, etc. Choose something that is (a) flavorful and (b) hard to keep concealed all the time.</p>
					</li>
					<li><strong>Create your Pact Features:</strong> Pact boons grant features at 1st, 3rd, 5th, 7th, and 9th-level.</li>
				</ol>

				<p>And that's it, your new pact boon is complete!</p>

				<ul class="list-autorange" data-table-css="table--pact-requests" data-title="Boon Requests" data-column="I want...">
					<li>To be immortal.</li>
					<li>To be a musical genius.</li>
					<li>To be a renowned artist.</li>
					<li>To my enemies to suffer.</li>
					<li>To obliterate my enemies.</li>
					<li>To protect my friends.</li>
					<li>To be remembered forever.</li>
					<li>Vengeance against those who wronged me.</li>
					<li>To inspire passion.</li>
					<li>To spread terror and fear.</li>
					<li>To hurt people.</li>
					<li>To make the world a better place.</li>
					<li>To know everything there is to know.</li>
					<li>To tell when people are lying.</li>
					<li>To sow chaos and watch the world burn.</li>
					<li>To speak all languages.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
