<html>
	<body>
		<book>
			<page class="page page--generic page--warlock" data-header-icon="burning-eye">
				<h1 id="the-warlock">The Warlock</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=75>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Warlock</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--warlock">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Cantrips<br/>Known</th>
										<th>Spells<br/>Known</th>
										<th>Spell<br/>Slots</th>
										<th>Slot<br/>Level</th>
										<th>Invocations<br/>Known</th>
										<th>Features</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>2</td>
										<td>2</td>
										<td>2</td>
										<td>1st</td>
										<td><span class="empty">—</span></td>
										<td>Otherworldly Patron, Pact Boon, Pact Magic</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>2</td>
										<td>3</td>
										<td>3</td>
										<td>1st</td>
										<td>2</td>
										<td>Eldritch Invocations, Sacrificial Bargain</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>2</td>
										<td>4</td>
										<td>4</td>
										<td>2nd</td>
										<td>2</td>
										<td>Pact Boon Features</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>3</td>
										<td>5</td>
										<td>5</td>
										<td>2nd</td>
										<td>2</td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>3</td>
										<td>6</td>
										<td>5</td>
										<td>3rd</td>
										<td>3</td>
										<td>Pact Boon Features</td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>3</td>
										<td>7</td>
										<td>6</td>
										<td>3rd</td>
										<td>3</td>
										<td>Otherworldly Patron Features</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>3</td>
										<td>8</td>
										<td>6</td>
										<td>4th</td>
										<td>4</td>
										<td>Pact Boon Features</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>3</td>
										<td>9</td>
										<td>7</td>
										<td>4th</td>
										<td>4</td>
										<td>Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>3</td>
										<td>10</td>
										<td>7</td>
										<td>5th</td>
										<td>5</td>
										<td>Pact Boon Features</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>4</td>
										<td>10</td>
										<td>8</td>
										<td>5th</td>
										<td>5</td>
										<td>Mystic Arcanum, Otherworldly Patron Features</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>

				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d8 per warlock level.</li>
					<li><strong>Hit Points (1st-level):</strong> 8 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d8 (or 5) + your Constitution modifier per warlock level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> Light armor.</li>
					<li><strong>Weapons:</strong> Simple weapons.</li>
					<li><strong>Tools:</strong> None.</li>
					<li><strong>Saving Throws:</strong> Wisdom, Intelligence.</li>
					<li><strong>Skills:</strong> Choose two from Arcana, Deception, History, Intimidation, Investigation, Nature, and Religion.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li>(a) a light crossbow and 20 bolts or (b) a simple weapon.</li>
					<li>(a) a component pouch or (b) an arcane focus.</li>
					<li>(a) a scholar's pack or (b) a dungeoneer's pack.</li>
					<li>Leather armor, any simple weapon, and two daggers.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain 4d4 x 10 gold pieces (or 100 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--warlock">
				<h2 data-icon="burning-eye">Class Features</h2>
				<p>As a warlock, you gain the following class features.</p>

				<h3><span class="h3__highlight">1</span>Otherworldly Patron</h3>
				<p>Choose an Otherworldly Patron. You gain features from your Otherworldly Patron at 1st, 2nd, 6th, and 10th-level.</p>

				<h4>Demands</h4>
				<p>Each patron has a set of three guiding agendas—its demands—that help to direct you in the service of your patron. Honor these demands to gain—and maintain—the favor of your patron.</p>
				<p><strong>Eldritch Favor:</strong> If you make a notable sacrifice in the service of a demand, your patron may bless you with eldritch favor. You can hold a maximum number of eldritch favors at one time equal to your Intelligence modifier (minimum 1). On your turn, as a free action, you may spend one eldritch favor to do one of the following:</p>
				<ul>
					<li><strong>Gain Stamina:</strong> Regain 1 expended hit die.</li>
					<li><strong>Gain Power:</strong> Regain 1 expended 1st-level spell slot.</li>
					<li><strong>Twist Fate:</strong> Reroll 1 ability check, attack roll, or saving throw. You must accept the second result.</li>
					<li><strong>Cause Pain:</strong> Reroll all damage dice of an attack you have just made. You may accept either result.</li>
					<li><strong>Forgiveness:</strong> Forgive one transgression you have made.</li>
				</ul>

				<p><strong>Transgression:</strong> If your patron decides that you have actively broken or rejected a demand, some of your eldritch power may be stripped away for a time.</p>
				<p>Roll a d6 and check the Transgression table below to find out which class feature you lose access to, rerolling any result that doesn't fully apply to you.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Transgression</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--transgression">
							<table class="table">
								<thead>
									<tr>
										<th>d6</th>
										<th>Feature Lost</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>Patron Spells</td>
									</tr>
									<tr>
										<td>2</td>
										<td>Sacrificial Bargain</td>
									</tr>
									<tr>
										<td>3</td>
										<td>1 Invocation</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>d6</th>
										<th>Feature Lost</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>4</td>
										<td>1d4 spell slots</td>
									</tr>
									<tr>
										<td>5-6</td>
										<td>Another Feature</td>
									</tr>
									<tr class="empty">
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<p><strong>Penance:</strong> If you have transgressed, you will have to perform a penance to regain your patron's favor. The scale of this penance may vary depending on the severity of your transgression, but some common forms include:</p>

				<ul>
					<li><strong>Offering:</strong> You make an offering of goods, knowledge, coin, or time in your patron's name.</li>
					<li><strong>Confess:</strong> You confess your transgression to a higher-ranking agent of your patron and are forgiven.</li>
					<li><strong>Worship:</strong> You spend a period of time in dedicated worship of your patron.</li>
					<li><strong>Serve:</strong> You undertake an eldritch quest in the service of your patron and their agenda.</li>
					<li><strong>Sacrifice:</strong> You give up something of significant personal value.</li>
				</ul>

				<p>If your penance is accepted, you regain one lost feature.</p>

				<col-break></col-break>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Patron Spells</h4>
				<p>Your patron offers you a unique list of spells—its <i>patron spells</i>. You may add these the list of warlock spells you can learn.</p>

				<h4>Pact Boon</h4>
				<p>To mark the initiation of your pact bargain, you are rewarded with a boon from your patron—an eldritch weapon, a book of forbidden secrets, a trinket that summons a bound familiar, a wand of destructive power, etc. You may choose one boon from the list of <i>Pact Boons</i>.</p>
				<p><strong>Spellcasting Focus:</strong> For as long as you are holding or wearing it, your pact boon acts as a spellcasting focus for your warlock spells.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Pact Magic</h3>
				<p>The pact you have struck with your patron has given you the ability to cast spells.</p>

				<h4>Cantrips</h4>
				<p>You know two cantrips of your choice from the warlock spell list.</p>
				<p><strong>Learning New Cantrips:</strong> You learn additional warlock cantrips of your choice at higher levels, as shown in the <i>Cantrips Known</i> column of the Class Features (Warlock) table.</p>
				<p><strong>Replacing Known Cantrips:</strong> When you gain a level in this class, you can choose one of the warlock cantrips you know and replace it with another cantrip from the warlock spell list.</p>

				<h4>Spell Slots</h4>
				<p>The Class Features (Warlock) table shows how many spell slots you have. The table also shows what the level of those slots is—all of your spell slots are the same level. To cast one of your warlock spells of 1st-level or higher, you must expend a spell slot. You regain all expended spell slots when you finish a long rest.</p>
				<p>For example, when you are 5th-level, you have two 3rd-level spell slots. To cast the 1st-level spell thunderwave, you must spend one of those slots, and you cast it as a 3rd-level spell.</p>
			</page>
			<page class="page page--generic page--warlock">
				<h4>Spells Known of 1st-level and Higher</h4>
				<p>At 1st-level, you know two 1st-level spells of your choice from the warlock spell list.</p>
				<p><strong>Learning New Spells:</strong> The <i>Spells Known</i> column of the Class Features (Warlock) table shows when you learn more warlock spells of your choice of 1st-level and higher. A spell you choose must be of a level no higher than your maximum <i>Slot Level</i>.</p>
				<p>When you reach 6th-level, for example, you learn a new warlock spell, which can be 1st, 2nd, or 3rd-level.</p>
				<p><strong>Replacing Known Spells:</strong> When you gain a level in this class, you can choose one of the warlock spells you know and replace it with another spell from the warlock spell list, which also must be no higher than your maximum <i>Slot Level</i>.</p>

				<h4>Spellcasting Ability</h4>
				<p>Intelligence is your spellcasting ability for your warlock spells. Use your Intelligence modifier to determine the saving throw DC or attack modifier for a warlock spell you cast.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell save DC:</strong> 8 + your proficiency bonus + your Intelligence modifier</p>
						<p><strong>Spell attack modifier:</strong> your proficiency bonus + your Intelligence modifier</p>
					</section>
				</mechanic>

				<h4>Spellcasting Focus</h4>
				<p>You use an arcane focus or your pact boon item as a spellcasting focus for your warlock spells.</p>

				<h4>Eldritch Versatility</h4>
				<p>When you finish a long rest, you may replace one of your known warlock spells (including cantrips) with another spell from the warlock spell list. The new spell must be of the same spell level as the spell you replace.</p>

				<h3><span class="h3__highlight">2</span>Sacrificial Bargain</h3>
				<p>When you cast a warlock spell of 1st-level or higher, you may spend a number of hit die equal to your warlock spell level to cast the spell without expending a spell slot. If the spell can't be cast at a higher level, you may instead spend a number of hit die equal to the spell's maximum casting level.</p>
				<p>You can use this feature up to three times. You regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">2</span>Eldritch Invocations</h3>
				<p>You gain two eldritch invocations of your choice. When you gain certain warlock levels, you gain additional invocations of your choice—as shown in the <i>Invocations Known</i> column of the Class Features (Warlock) table.</p>
				<p><strong>Replacing Invocations:</strong> When you gain a level in this class, you can choose one of the invocations you know and replace it with another invocation that you could learn at that level.</p>

				<h4>Patron Invocations</h4>
				<p>You gain access to six unique invocations from your Otherworldly Patron. Add these to your list of <i>Eldritch Invocation</i> options</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">10</span>Mystic Arcanum</h3>
				<p>You gain a spell of formidable power from your patron—choose one of the following as your mystic arcanum.</p>
				<p>You may cast your mystic arcanum as a 6th-level spell without expending a spell slot or material components. You can't do so again until you finish a long rest.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Mystic Arcanum</h4>
					</header>
					<section class="panel__body">
						<ul class="list-autorange" data-show-wrapper=0 data-tables=2 data-column="Spell" data-table-css="table--mystic-arcanum">
							<li>Arcane Gate</li>
							<li>Circle of Death</li>
							<li>Conjure Fey</li>
							<li data-display-rows="2">Create Homunculus</li>
							<li>Create Undead</li>
							<li>Eyebite</li>
							<li>Flesh to Stone</li>
							<li data-display-rows="2">Investiture of Flame</li>
							<li>Investiture of Ice</li>
							<li data-display-rows="2">Investiture of Stone</li>
							<li>Investiture of Wind</li>
							<li>Magic Jar</li>
							<li>Mass Suggestion</li>
							<li>Mental Prison</li>
							<li>Scatter</li>
							<li>Soul Cage</li>
							<li>True Seeing</li>
						</ul>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
