<html>
	<body>
		<book>
			<page class="page page--generic page--columns-1 page--warlock-spells">
				<h2 class="layout--hidden" data-toc-ignore-book="true">Warlock Spells</h2>

				<list class="panel panel--list panel--list-spells">
					<header class="panel__header">
						<h4 class="panel__title">Spell List</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<div>
								<h5>Cantrips</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Blade Ward</li>
									<li class='phb'>Chill Touch</li>
									<li class='xgte'>Create Bonfire</li>
									<li class='phb'>Friends</li>
									<li class='xgte'>Frostbite</li>
									<li class='xgte'>Infestation</li>
									<li class='phb'>Mage Hand</li>
									<li class='xgte'>Magic Stone</li>
									<li class='phb'>Minor Illusion</li>
									<li class='phb'>Poison Spray</li>
									<li class='phb'>Prestidigitation</li>
									<li class='xgte'>Thunderclap</li>
									<li class='xgte'>Toll the Dead</li>
									<li class='phb'>True Strike</li>
								</ul>

								<h5>1st-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Armor of Agathys</li>
									<li class='phb'>Arms of Hadar</li>
									<li class='xgte'>Cause Fear</li>
									<li class='phb'>Charm Person</li>
									<li class='phb'>Comprehend Languages</li>
									<li class='phb'>Expeditious Retreat</li>
									<li class='phb'>Hellish Rebuke</li>
									<li class='phb'>Hex</li>
									<li class='phb'>Illusory Script</li>
									<li class='phb'>Protection from Evil and Good</li>
									<li class='phb'>Thunderwave</li>
									<li class='phb'>Unseen Servant</li>
									<li class='phb'>Witch Bolt</li>
								</ul>

								<h5>2nd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells" data-end-at=6>
									<li class='phb'>Cloud of Daggers</li>
								</ul>
							</div>
							<div>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells" data-start-from=7 data-end-at=96>
									<li class='phb'>Crown of Madness</li>
									<li class='phb'>Darkness</li>
									<li class='xgte'>Earthbind</li>
									<li class='phb'>Enthrall</li>
									<li class='phb'>Hold Person</li>
									<li class='phb'>Invisibility</li>
									<li class='phb'>Knock</li>
									<li class='xgte'>Mind Spike</li>
									<li class='phb'>Mirror Image</li>
									<li class='phb'>Misty Step</li>
									<li class='phb'>Ray of Enfeeblement</li>
									<li class='xgte'>Shadow Blade</li>
									<li class='phb'>Shatter</li>
									<li class='phb'>Spider Climb</li>
									<li class='phb'>Suggestion</li>
									<li class="empty"></li>
								</ul>

								<h5>3rd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Animate Dead</li>
									<li class='phb'>Counterspell</li>
									<li class='phb'>Dispel Magic</li>
									<li class='xgte'>Enemies Abound</li>
									<li class='phb'>Fear</li>
									<li class='phb'>Fly</li>
									<li class='phb'>Gaseous Form</li>
									<li class='phb'>Hunger of Hadar</li>
									<li class='phb'>Hypnotic Pattern</li>
									<li class='xgte'>Life Transference</li>
									<li class='phb'>Magic Circle</li>
									<li class='phb'>Major Image</li>
									<li class='phb'>Remove Curse</li>
									<li class='xgte'>Summon Lesser Demons</li>
									<li class='xgte'>Thunder Step</li>
									<li class='phb'>Tongues</li>
									<li class='phb'>Vampiric Touch</li>
								</ul>
							</div>
							<div>
								<h5>4th-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Banishment</li>
									<li class='phb'>Blight</li>
									<li class='xgte'>Charm Monster</li>
									<li class='phb'>Dimension Door</li>
									<li class='xgte'>Elemental Bane</li>
									<li class='phb'>Hallucinatory Terrain</li>
									<li class='xgte'>Shadow of Moil</li>
									<li class='xgte'>Sickening Radiance</li>
									<li class='xgte'>Summon Greater Demon</li>
								</ul>

								<h5>5th-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Contact Other Plane</li>
									<li class='xgte'>Danse Macabre</li>
									<li class='phb'>Dream</li>
									<li class='xgte'>Enervation</li>
									<li class='xgte'>Far Step</li>
									<li class='phb'>Hold Monster</li>
									<li class='xgte'>Infernal Calling</li>
									<li class='phb'>Mislead</li>
									<li class='phb'>Modify Memory</li>
									<li class='xgte'>Negative Energy Flood</li>
									<li class='phb'>Planar Binding</li>
									<li class='phb'>Scrying</li>
									<li class='xgte'>Synaptic Static</li>
									<li class='phb'>Teleportation Circle</li>
									<li class='xgte'>Wall of Light</li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
									<li class="empty"></li>
								</ul>
							</div>
						</div>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
