<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-boons">
				<h2 data-icon="intricate-necklace">Pact of the Tome</h2>
				<p>You ask your patron for forbidden knowledge, and are rewarded with a tome of eldritch secrets.</p>

				<h3><span class="h3__highlight">1</span>Book of Shadows</h3>
				<p>You gain a book of forbidden knowledge from your patron, granting you more power over the arcane.</p>
				<p><strong>Adding Rituals:</strong> When you find a ritual spell, you can add it to the book if the spell's level is equal to or less than half your warlock level (rounded up).</p>
				<p>For each level of the spell, you must spend 2 hours and 50 gp for the rare inks needed to inscribe it.</p>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Book of Shadows</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
							<li>Pact of the Tome</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>An eldritch book of forbidden knowledge. While you are holding your Book of Shadows, you can cast your warlock spells as a ritual if they have the ritual tag.</p>
							<p>Your book bears the unmistakable mark of your patron—fiendish red veins, fey vines and flowers, aberrant runes and etchings, etc.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Forbidden Cantrip</strong> Choose one cantrip from any class spell list. While the book is on your person, you can cast that cantrip at will. It doesn't count against your number of cantrips known.</li>
							<li><strong class="feature__title">Forbidden Ritual</strong> Choose one 1st-level spell that has the <i>ritual</i> tag from any class spell list. The spell appears in the book and doesn't count against the number of spells you know. While the book is in your hand, you can cast that spell as a ritual.</li>
						</ul>
					</section>
				</item>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">3</span>Forbidden Knowledge</h3>
				<p>Add two additional cantrips and one additional 1st-level spell that has the ritual tag to your <i>Book of Shadows</i>. These spells can be from any class spell list (and needn't be from the same list).</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">5</span>Page of Eldritch Power</h3>
				<p>A new page appears in your <i>Book of Shadows</i>—a page of eldritch power. Choose a power from the options below.</p>
				<p><strong>Adding Names:</strong> A creature may spend an action to write its true name on the page. The page can contain a number of names equal to your Intelligence modifier (minimum of 1)—additional names (or false names) written on the page will fade after one minute.</p>
				<p><strong>Removing Names:</strong> When you finish a long rest, you may touch one page of power from your <i>Book of Shadows</i> and magically erase any names of your choice.</p>
				<p><strong>Destroying the Page:</strong> The page naturally heals any damage to it. If the page is torn out of the book, that page turns to ash and a new one appears in the book—exactly as it was.</p>

				<h4 class="h4--option">Mind Palace</h4>
				<p>You can cast the <i>Sending</i> spell, targeting a creature whose name is on the page, without using a spell slot and without using material components. To do so, you must write the message on the page. The target hears the message in their mind, and—if the target replies—their message appears on the page rather than in your mind. The writing disappears after 1 minute.</p>
				<p><strong>The Patron Knows All:</strong> Your patron is fully aware of any message sent or received by your <i>Book of Shadows</i>.</p>

				<h4 class="h4--option">Deathly Note</h4>
				<p>When any creature whose name is on the page is reduced to 0 hit points but not killed outright, the creature magically drops to 1 hit point instead.</p>
				<p>Once this magic is triggered, no creature can benefit from it until you finish a long rest.</p>
				<p><strong>The Patron's Price:</strong> If a creature dies while their name is written on the page, their soul is claimed by your patron and you regain one expended spell slot.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">7</span>Focused Mind</h3>
				<p>While you are holding your <i>Book of Shadows</i>, you have advantage on Constitution saving throws that you make to maintain your concentration on a spell.</p>

				<h3><span class="h3__highlight">9</span>Archivist</h3>
				<p>Your <i>Book of Shadows</i> gains another page of eldritch power. Choose a power—you may take the same option multiple times if you wish.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
