<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-boons">
				<h2 data-icon="intricate-necklace">Pact of the Chain</h2>
				<p>You ask your patron for the ability to control others, and are rewarded with a bound familiar.</p>

				<h3><span class="h3__highlight">1</span>Chained Familiar</h3>
				<p>You gain a special trinket from your patron which allows you to summon a familiar and bind it to your will.</p>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Chain Trinket</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Warlock</li>
							<li>Pact of the Chain</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>An eldritch trinket—such as a ring, bracelet, earring, or a diadem. While you are wearing this trinket, you can cast the <i>Find Familiar</i> spell as a ritual without spending material components.</p>
							<p>Your trinket bears the unmistakable mark of your patron—fiendish red veins, fey vines and flowers, aberrant runes and etchings, etc.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Chain Master</strong> When you take the Attack action, you can forgo one of your own attacks to allow your familiar to spend its reaction and make one attack of its own.</li>
							<li><strong class="feature__title">I Remember</strong> This trinket always summons the same familiar—same name, memories, personality, etc—but you may choose its form each time it is summoned.</li>
							<li><strong class="feature__title">I Serve</strong> Your familiar has a personality of its own—it may or may not be happy to serve you. But whatever its attitude, the familiar must obey the command of whomever wears the trinket.</li>
						</ul>
					</section>
				</item>

				<p>Your familiar is shaped by your eldritch whims. At 1st-level, choose one of the <i>Favored Familiar</i> options. Your familiar may take the form of any tiny creature that has (a) your chosen creature type and (b) a maximum CR of 1/8. As you gain warlock levels, your familiar can take on more substantial—and powerful—forms.</p>

				<mechanic class="panel panel--mechanic panel--mechanic--align-left">
					<header class="panel__header">
						<h4 class="panel__title">Favored Familiars</h4>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--2">
							<ul>
								<li>Aberrations and Beasts</li>
								<li>Beasts and Fey</li>
							</ul>
							<ul>
								<li>Beasts and Fiends</li>
								<li>Beasts and Undead</li>
							</ul>
					</div>
					</section>
				</mechanic>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Familiar Forms</h4>
					</header>
					<section class="panel__body">
						<tables class="tables tables--chain-familiars">
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Max. Size</th>
										<th>Max. CR</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>Tiny</td>
										<td>1/8</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>Small</td>
										<td>1/4</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>Small</td>
										<td>1/2</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Max. Size</th>
										<th>Max. CR</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>7th</td>
										<td>Medium</td>
										<td>1</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>Medium</td>
										<td>2</td>
									</tr>
									<tr>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
<!--
				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example> -->


				<!-- <example class="panel panel--example panel--example--placeholder">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</example> -->

				<!-- <example>
					<p>"Answer me, fiend, who do you serve?" asked Ordalica imperiously. The red-gold bracelet, inscribed with fiendish runes, was heavy and hot on her wrist.</p>
					<p>"I serve the master of the chain," hissed the familiar. It looked up at her, teeth gleaming. "For now..."</p>
				</example> -->

				<col-break></col-break>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Familiar Powers</h4>
					</header>
					<section class="panel__body">
						<p>Some familiars may have <i>extremely</i> powerful abilities that can be problematic if left unchecked—gibbering mouthers, nothic insight, sea hag death glares, etc.</p>
						<p>A familiar can't cast spells nor spawn copies of itself. In addition, the GM may—at their discretion—choose to fuel, limit, or void any ability they consider game-breaking:</p>
						<ul>
							<li><strong>Fuel:</strong> The familiar's summoner must spend one spell slot each time this ability is used.</li>
							<li><strong>Limit:</strong> This ability can be used only once, regaining expended uses when the familiar is re-summoned.</li>
							<li><strong>Void:</strong> The familiar can't use this ability.</li>
						</ul>
					</section>
				</aside>

				<h3><span class="h3__highlight">3</span>Mutations</h3>
				<p>Whenever you summon your familiar, you may choose one of the following mutations:</p>

				<h4 class="h4--option">Air is for the Living</h4>
				<p>Your familiar does not need to breathe.</p>

				<h4 class="h4--option">Bound by Blood</h4>
				<p>Whenever your familiar is reduced to 0 hit points, you can spend one hit die to reduce your familiar to 1 hit point instead.</p>

				<h4 class="h4--option">Fly My Pretty</h4>
				<p>Your familiar gains a flying speed of 40 feet.</p>

				<h4 class="h4--option">Shared Power</h4>
				<p>If your familiar forces a creature to make a saving throw, it uses your spell save DC.</p>

				<h4 class="h4--option">Silver Claws</h4>
				<p>Your familiar's weapon attacks are considered magical for the purpose of overcoming immunity and resistance to nonmagical attacks.</p>

				<h4 class="h4--option">Under the Sea</h4>
				<p>Your familiar gains a swimming speed of 40 feet.</p>

				<h3><span class="h3__highlight">5</span>Familiar Telepath</h3>
				<p>You can communicate telepathically with your familiar and perceive through your familiar's senses as long as you are on the same plane of existence.</p>
				<p>While perceiving through your familiar's senses, you can speak through your familiar in your own voice—even if your familiar is normally incapable of speech.</p>

				<h3><span class="h3__highlight">7</span>Mutation Master</h3>
				<p>Whenever you summon your familiar, you can choose two mutations to apply to it.</p>

				<h3><span class="h3__highlight">9</span>Chain Tyrant</h3>
				<p>You can spend your bonus action to command your familiar to make one attack.</p>
			</page>
		</book>
	</body>
</html>
