<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-variants" data-header-icon="cog">
				<h1 id="warlock-variants">Variant Dials</h1>
				<p>If you want to adjust the warlock class to better suit your own campaign and playstyle, then consider these variant dials.</p>

				<h2>Charisma Spellcasting</h2>
				<p>This supplement uses <i>Intelligence</i> as the primary spellcasting attribute for the warlock. However, if you wish to use <i>Charisma</i> as your primary attribute:</p>

				<ul>
					<li>Replace any reference to your Intelligence/INT modifier with your Charisma/CHA modifier.</li>
					<li>You gain proficiency with Charisma saving throws instead of Intelligence saving throws.</li>
				</ul>

				<h2>Eldritch Blasting</h2>
				<p>This supplement removes the RAW eldritch blast spell, replacing it with a new variant gained through the newly-added Pact of the Wand.</p>
				<p>If you want to continue using the RAW form of eldritch blast in your campaign, however, you may:</p>

				<ol>
					<li>Add the <i>Eldritch Blast</i> cantrip to the warlock spell list.</li>
					<li>Restore the <i>Eldritch Blast</i> themed invocations.</li>
					<li>Remove <i>Pact of the Wand</i>.</li>
				</ol>

				<h2>No Demands or Favor</h2>
				<p>If you don't want patrons to have a mechanical influence over your player's roleplaying choices, you may remove demands, transgressions, and eldritch favor.</p>
				<p>Instead, handle any interaction between your players and their patrons as you normally would.</p>

				<col-break></col-break>

				<h2>Multiclassing</h2>
				<p>If your campaign supports multiclassing, apply these modifiers to use the warlock as a multiclass option:</p>

				<ul>
					<li><strong>Minimum Requirement:</strong> Intelligence 13.</li>
					<li><strong>Proficiencies:</strong> Light armor, simple weapons.</li>
					<li><strong>Pact Boon:</strong> Choose your pact boon at 3rd-level, not 1st-level.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>Short Rest Recovery</h2>
				<p>This supplement emphasizes taking <i>long rests</i> as a primary recovery mechanic. But if you want to put more focus on taking short rests for your warlock, use this alternative class table.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Class Features</h4>
						<ul class="panel__tags">
							<li>Warlock</li>
							<li>Short Rest Recovery</li>
						</ul>
					</header>
					<section class="panel__body">
						<tables class="tables tables--variant-features">
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Spell Slots</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>1</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>2</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>2</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>2</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>2</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th>Level</th>
										<th>Spell Slots</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>6th</td>
										<td>2</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>2</td>
									</tr>
									<tr>
										<td>8th</td>
										<td>2</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>2</td>
									</tr>
									<tr>
										<td>10th</td>
										<td>2</td>
									</tr>
								</tbody>
							</table>
						</tables>
					</section>
				</list>
			</page>
		</book>
	</body>
</html>
