<html>
	<body>
		<book>
			<page class="page page--generic page--warlock-subclasses">
				<h2 data-icon="hood">The Fiend</h2>
				<p>You have made a pact with a fiend from the lower planes of existence—a being whose aims are evil, even if you yourself struggle against those aims. Fiends seek to corrupt, dominate, or destroy all things—including <i>you</i>.</p>

				<h3><span class="h3__highlight">1</span>Demands</h3>
				<p>The Fiend has an agenda in the world, and you are a small piece of it. To be worthy of your patron's power, you must honor their demands.</p>

				<ul>
					<li><strong>Worship No Other:</strong> Your patron is not the sharing type. Don't worship any other power, and subvert the influence of those that do.</li>
					<li><strong>Seek Power and Position:</strong> Gain influence so that you can better serve your patron's agenda. Take power when you can, and never give up power willingly.</li>
					<li><strong>Convert or Control:</strong> Convert others into the service of your patron. Those you can't convert you should manipulate into serving your patron unknowingly.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Patron Spells</h3>
				<p>Add the following pact spells to the warlock spell list.</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Patron Spells</h4>
					</header>
					<section class="panel__body">
						<table class="table table--fiend-spells">
							<thead>
								<tr>
									<th>Warlock Level</th>
									<th>Spells</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1st</td>
									<td>Burning Hands, Command</td>
								</tr>
								<tr>
									<td>3rd</td>
									<td>Blindness/Deafness, Scorching Ray</td>
								</tr>
								<tr>
									<td>5th</td>
									<td>Fireball, Stinking Cloud</td>
								</tr>
								<tr>
									<td>7th</td>
									<td>Fire Shield, Wall of Fire</td>
								</tr>
								<tr>
									<td>9th</td>
									<td>Flame Strike, Hallow</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h3><span class="h3__highlight">1</span>Dark One's Blessing</h3>
				<p>When you reduce a hostile creature to 0 hit points, you gain temporary hit points equal to your Intelligence modifier + your warlock level (minimum of 1).</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<h3><span class="h3__highlight">2</span>Patron Invocations</h3>
				<p>Add the following invocations to your list of Eldritch Invocation options.</p>

				<h4 class="h4--option">Devil's Flock</h4>
				<p><i><strong>Prerequisite:</strong> 7th-level</i></p>
				<p style="text-indent:0">You can cast <i>Dominate Beast</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h4 class="h4--option">Fiendish Flesh</h4>
				<p><i><strong>Prerequisite:</strong> 9th-level</i></p>
				<p style="text-indent:0">You can spend one hit die to cast <i>Investiture of Flame</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h4 class="h4--option">Fiendish Senses</h4>
				<p>You can cast <i>Detect Evil and Good</i> at will, without expending a spell slot.</p>

				<h4 class="h4--option">Fiery Tongue</h4>
				<p>You know how to get people to do what you want. You gain proficiency in the Intimidation and Persuasion skills.</p>

				<h4 class="h4--option">Hell's Quarrel</h4>
				<p><i><strong>Prerequisite:</strong> 5th-level</i></p>
				<p style="text-indent:0">You can cast <i>Flame Arrows</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h4 class="h4--option">Hellish Companion</h4>
				<p><i><strong>Prerequisite:</strong> 7th-level</i></p>
				<p style="text-indent:0">You can cast <i>Infernal Calling</i> without expending a spell slot. You can't do so again until you finish a long rest.</p>

				<h3><span class="h3__highlight">6</span>Dark One's Own Luck</h3>
				<p>When you make an ability check or a saving throw, you can add a d10 to your roll. You can do so after seeing the initial roll but before any of the roll's effects occur.</p>
				<p>You can use this feature up to three times. You regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Fiendish Resilience</h3>
				<p>Choose one damage type when you finish a short or long rest. You gain resistance to that damage type until you choose a different one with this feature. Damage from magical weapons or silver weapons ignores this resistance.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
