<html>
	<body>
		<book>
			<page class="page page--generic" data-header-icon="book-cover">
				<h1 id="wizard-subclasses">Arcane Traditions</h1>
				<p>Your study of magic has led you to develop an <i>arcane traditions</i> that defines your magical abilities. Perhaps your tradition was enforced through an overbearing mentor or school? Maybe you fell into it by chance, drawn by your natural talents?</p>
				<p>Whatever your education, this chapter introduces a variety of arcane traditions for you to master. Make your choice, continue your studies, and gain arcane power.</p>

				<h2>Choose Your Tradition</h2>
				<p>Choose your tradition from one of the following options:</p>
				<ul>
					<li><strong>Evocation:</strong> You are drawn towards powerful, element—and oftentimes destructive—arcane magic.</li>
				</ul>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Traditions Yet to Come</h4>
					</header>
					<section class="panel__body">
						<p><i>Wondrous Wizard</i> is a work-in-progress with a limited number of traditions. Future expansions of this supplement <i>may</i> (depending on demand and support) include:</p>
						<ul>
							<li><strong>Divination:</strong> You can read the future and, with that knowledge, you can shape the present.</li>
							<li><strong>Illusion:</strong> You dazzle and beguile creatures with illusions that can appear more real than reality itself.</li>
							<li><strong>Necromancy:</strong> You have studied the forces of death itself, unlocking secrets from beyond the grave.</li>
							<li><strong>Pyromancy:</strong> You are drawn inextricably to fire and the heat of its pure, searing power.</li>
							<li><strong>Biomancy:</strong> Flesh is your canvas, and you are able to shape and craft it into something beautiful.</li>
						</ul>
						<p>Got ideas for arcane traditions you want to see in the future? Make a suggestion at <a href="https://www.patreon.com/giffyglyph">patreon.com/giffyglyph</a>.</p>
					</section>
				</aside>

				<col-break></col-break>

				<h3>Creating a Tradition</h3>
				<p>To create your own <i>Arcane Tradition</i> (or to convert an existing tradition from other sources), follow these steps:</p>

				<ol>
					<li><strong>Choose a Favored School:</strong> Choose a <i>Favored</i> school of magic and an associated feature. Use this to highlight the type of magic that your tradition is themed around.</li>
					<li><strong>Choose a Clashing School:</strong> Choose a <i>Clashing</i> school of magic and an associated feature. A clashing school does not have to be the polar opposite of the favored school—it is simply the school that your tradition is <i>least</i> interested in.</li>
					<li><strong>Create a 1st-level Feature:</strong> Arcane Traditions grant an introductory feature at 1st-level. Use this to set the tone for your tradition—create a feature that can be used either a) once per short rest, or b) a limited number of times per long rest.</li>
					<li><strong>Create 3rd, 6th, and 10th-level Features:</strong> Arcane Traditions grant additional features at 3rd, 6th, and 10th-level.</li>
				</ol>

				<p>And that's it, your tradition is complete!</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
