<html>
	<body>
		<book>
			<page class="page page--generic page--columns-1 page--wizard-spells">
				<h2 class="layout--hidden" data-toc-ignore-book="true">Wizard Spells</h2>

				<list class="panel panel--list panel--list-spells">
					<header class="panel__header">
						<h4 class="panel__title">Spell List</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Wizard</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<div>
								<h5>Cantrips</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Acid Splash</li>
									<li class='phb'>Blade Ward</li>
									<li class='phb'>Chill Touch</li>
									<li class='xgte'>Control Flames</li>
									<li class='xgte'>Create Bonfire</li>
									<li class='phb'>Dancing Lights</li>
									<li class='phb'>Fire Bolt</li>
									<li class='phb'>Friends</li>
									<li class='xgte'>Frostbite</li>
									<li class='xgte'>Gust</li>
									<li class='xgte'>Infestation</li>
									<li class='phb'>Light</li>
									<li class='phb'>Mage Hand</li>
									<li class='phb'>Mending</li>
									<li class='phb'>Message</li>
									<li class='phb'>Minor Illusion</li>
									<li class='xgte'>Mold Earth</li>
									<li class='phb'>Poison Spray</li>
									<li class='phb'>Prestidigitation</li>
									<li class='phb'>Ray of Frost</li>
									<li class='phb'>Shocking Grasp</li>
									<li class='xgte'>Thunderclap</li>
									<li class='xgte'>Toll the Dead</li>
									<li class='phb'>True Strike</li>
								</ul>

								<h5>1st-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-end-at=58 data-table-css="table--spells">
									<li class='xgte'>Absorb Elements</li>
									<li class='phb'>Alarm</li>
									<li class='phb'>Burning Hands</li>
									<li class='xgte'>Catapult</li>
									<li class='xgte'>Cause Fear</li>
									<li class='phb'>Charm Person</li>
									<li class='phb'>Chromatic Orb</li>
									<li class='phb'>Color Spray</li>
									<li class='phb'>Comprehend Languages</li>
									<li class='phb'>Detect Magic</li>
									<li class='phb'>Disguise Self</li>
									<li class='xgte'>Earth Tremor</li>
									<li class='phb'>Expeditious Retreat</li>
									<li class='phb'>False Life</li>
									<li class='phb'>Feather Fall</li>
									<li class='phb'>Find Familiar</li>
									<li class='phb'>Fog Cloud</li>
									<li class='phb'>Grease</li>
									<li class='xgte'>Ice Knife</li>
									<li class='phb'>Identify</li>
									<li class='phb'>Illusory Script</li>
									<li class='phb'>Jump</li>
									<li class='phb'>Longstrider</li>
									<li class='phb'>Mage Armor</li>
									<li class='phb'>Magic Missile</li>
									<li class='phb'>Protection from Evil and Good</li>
									<li class='phb'>Ray of Sickness</li>
									<li class='phb'>Shield</li>
									<li class='phb'>Silent Image</li>
								</ul>
							</div>
							<div>
								<ul class="list-autorange" data-show-wrapper=0 data-start-from=59 data-end-at=72 data-table-css="table--spells">
									<li class='phb'>Sleep</li>
									<li class='xgte'>Snare</li>
									<li class='phb'>Tasha's Hideous Laughter</li>
									<li class='phb'>Tenser's Floating Disk</li>
									<li class='phb'>Thunderwave</li>
									<li class='phb'>Unseen Servant</li>
									<li class='phb'>Witch Bolt</li>
								</ul>

								<h5>2nd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='xgte'>Aganazzar's Scorcher</li>
									<li class='phb'>Alter Self</li>
									<li class='phb'>Arcane Lock</li>
									<li class='phb'>Augury</li>
									<li class='phb'>Blindness/Deafness</li>
									<li class='phb'>Blur</li>
									<li class='phb'>Cloud of Daggers</li>
									<li class='phb'>Continual Flame</li>
									<li class='phb'>Crown of Madness</li>
									<li class='phb'>Darkness</li>
									<li class='phb'>Darkvision</li>
									<li class='phb'>Detect Thoughts</li>
									<li class='xgte'>Dragon's Breath</li>
									<li class='xgte'>Dust Devil</li>
									<li class='xgte'>Earthbind</li>
									<li class='phb'>Enhance Ability</li>
									<li class='phb'>Enlarge/Reduce</li>
									<li class='phb'>Flaming Sphere</li>
									<li class='phb'>Gentle Repose</li>
									<li class='phb'>Gust of Wind</li>
									<li class='phb'>Hold Person</li>
									<li class='phb'>Invisibility</li>
									<li class='phb'>Knock</li>
									<li class='phb'>Levitate</li>
									<li class='phb'>Locate Object</li>
									<li class='phb'>Magic Mouth</li>
									<li class='phb'>Magic Weapon</li>
									<li class='xgte'>Maximilian's Earthen Grasp</li>
									<li class='phb'>Melf's Acid Arrow</li>
									<li class='xgte'>Mind Spike</li>
									<li class='phb'>Mirror Image</li>
									<li class='phb'>Misty Step</li>
									<li class='phb'>Nystul's Magic Aura</li>
									<li class='phb'>Phantasmal Force</li>
									<li class='xgte'>Pyrotechnics</li>
									<li class='phb'>Ray of Enfeeblement</li>
									<li class='phb'>Rope Trick</li>
									<li class='phb'>Scorching Ray</li>
									<li class='phb'>See Invisibility</li>
									<li class='xgte'>Shadow Blade</li>
									<li class='phb'>Shatter</li>
									<li class='xgte'>Skywrite</li>
									<li class='xgte'>Snilloc's Snowball Swarm</li>
									<li class='phb'>Spider Climb</li>
									<li class='phb'>Suggestion</li>
									<li class='xgte'>Warding Wind</li>
									<li class='phb'>Web</li>
								</ul>
							</div>
							<div>
								<h5>3rd-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-table-css="table--spells">
									<li class='phb'>Animate Dead</li>
									<li class='phb'>Bestow Curse</li>
									<li class='phb'>Blink</li>
									<li class='xgte'>Catnap</li>
									<li class='phb'>Clairvoyance</li>
									<li class='phb'>Counterspell</li>
									<li class='phb'>Dispel Magic</li>
									<li class='xgte'>Enemies Abound</li>
									<li class='xgte'>Erupting Earth</li>
									<li class='phb'>Fear</li>
									<li class='phb'>Feign Death</li>
									<li class='phb'>Fireball</li>
									<li class='xgte'>Flame Arrows</li>
									<li class='phb'>Fly</li>
									<li class='phb'>Gaseous Form</li>
									<li class='phb'>Glyph of Warding</li>
									<li class='phb'>Haste</li>
									<li class='phb'>Hypnotic Pattern</li>
									<li class='phb'>Leomund's Tiny Hut</li>
									<li class='xgte'>Life Transference</li>
									<li class='phb'>Lightning Bolt</li>
									<li class='phb'>Magic Circle</li>
									<li class='phb'>Major Image</li>
									<li class='xgte'>Melf's Minute Meteors</li>
									<li class='phb'>Nondetection</li>
									<li class='phb'>Phantom Steed</li>
									<li class='phb'>Protection from Energy</li>
									<li class='phb'>Remove Curse</li>
									<li class='phb'>Sending</li>
									<li class='phb'>Sleet Storm</li>
									<li class='phb'>Slow</li>
									<li class='phb'>Speak with Dead</li>
									<li class='phb'>Stinking Cloud</li>
									<li class='xgte'>Summon Lesser Demons</li>
									<li class='xgte'>Thunder Step</li>
									<li class='xgte'>Tidal Wave</li>
									<li class='xgte'>Tiny Servant</li>
									<li class='phb'>Tongues</li>
									<li class='phb'>Vampiric Touch</li>
									<li class='xgte'>Wall of Sand</li>
									<li class='xgte'>Wall of Water</li>
									<li class='phb'>Water Breathing</li>
								</ul>

								<h5>4th-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-end-at=33 data-table-css="table--spells">
									<li class='phb'>Arcane Eye</li>
									<li class='phb'>Banishment</li>
									<li class='phb'>Blight</li>
									<li class='xgte'>Charm Monster</li>
									<li class='phb'>Confusion</li>
									<li class='phb'>Conjure Minor Elementals</li>
									<li class='phb'>Control Water</li>
									<li class='phb'>Dimension Door</li>
									<li class='phb'>Divination</li>
									<li class='xgte'>Elemental Bane</li>
									<li class='phb'>Evard's Black Tentacles</li>
								</ul>
							</div>
						</div>
					</section>
				</list>
			</page>
			<page class="page page--generic page--columns-1 page--wizard-spells">
				<list class="panel panel--list panel--list-spells">
					<header class="panel__header">
						<h4 class="panel__title">Spell List</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Wizard</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="layout--columns layout--columns--3">
							<div>
								<ul class="list-autorange" data-show-wrapper=0 data-start-from=34 data-end-at=93 data-table-css="table--spells">
									<li class='phb'>Fabricate</li>
									<li class='phb'>Fire Shield</li>
									<li class='phb'>Greater Invisibility</li>
									<li class='phb'>Hallucinatory Terrain</li>
									<li class='phb'>Ice Storm</li>
									<li class='phb'>Leomund's Secret Chest</li>
									<li class='phb'>Locate Creature</li>
									<li class='phb'>Mordenkainen's Faithful Hound</li>
									<li class='phb'>Mordenkainen's Private Sanctum</li>
									<li class='phb'>Otiluke's Resilient Sphere</li>
									<li class='phb'>Phantasmal Killer</li>
									<li class='phb'>Polymorph</li>
									<li class='xgte'>Sickening Radiance</li>
									<li class='phb'>Stone Shape</li>
									<li class='phb'>Stoneskin</li>
									<li class='xgte'>Storm Sphere</li>
									<li class='xgte'>Summon Greater Demon</li>
									<li class='xgte'>Vitriolic Sphere</li>
									<li class='phb'>Wall of Fire</li>
									<li class='xgte'>Watery Sphere</li>
								</ul>
							</div>
							<div>
								<h5>5th-level</h5>
								<ul class="list-autorange" data-show-wrapper=0 data-end-at=40 data-table-css="table--spells">
									<li class='phb'>Animate Objects</li>
									<li class='phb'>Bigby's Hand</li>
									<li class='phb'>Cloudkill</li>
									<li class='phb'>Cone of Cold</li>
									<li class='phb'>Conjure Elemental</li>
									<li class='phb'>Contact Other Plane</li>
									<li class='phb'>Creation</li>
									<li class='xgte'>Danse Macabre</li>
									<li class='xgte'>Dawn</li>
									<li class='phb'>Dominate Person</li>
									<li class='phb'>Dream</li>
									<li class='xgte'>Enervation</li>
									<li class='xgte'>Far Step</li>
									<li class='phb'>Geas</li>
									<li class='phb'>Hold Monster</li>
									<li class='xgte'>Immolation</li>
									<li class='xgte'>Infernal Calling</li>
									<li class='phb'>Legend Lore</li>
									<li class='phb'>Mislead</li>
									<li class='phb'>Modify Memory</li>
								</ul>
							</div>
							<div>
								<ul class="list-autorange" data-show-wrapper=0 data-start-from=40 data-end-at=70 data-table-css="table--spells">
									<li class='xgte'>Negative Energy Flood</li>
									<li class='phb'>Passwall</li>
									<li class='phb'>Planar Binding</li>
									<li class='phb'>Rary's Telepathic Bond</li>
									<li class='phb'>Scrying</li>
									<li class='phb'>Seeming</li>
									<li class='xgte'>Skill Empowerment</li>
									<li class='xgte'>Steel Wind Strike</li>
									<li class='xgte'>Synaptic Static</li>
									<li class='phb'>Telekinesis</li>
									<li class='phb'>Teleportation Circle</li>
									<li class='xgte'>Transmute Rock</li>
									<li class='phb'>Wall of Force</li>
									<li class='xgte'>Wall of Light</li>
									<li class='phb'>Wall of Stone</li>
									<li class='empty'></li>
									<li class='empty'></li>
									<li class='empty'></li>
									<li class='empty'></li>
									<li class='empty'></li>
									<li class='empty'></li>
									<li class='empty'></li>
								</ul>
							</div>
						</div>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
