<html>
	<body>
		<book>
			<page class="page page--generic page--wizard" data-header-icon="spellbook">
				<h1 id="the-wizard">The Wizard</h1>

				<h2 class="layout--hidden" data-toc-ignore-book="true">Class Details</h2>

				<div class="layout--col-wide">
					<list class="panel panel--list" data-resize=60>
						<header class="panel__header">
							<h4 class="panel__title">Class Features</h4>
							<ul class="panel__tags">
								<li>Wizard</li>
							</ul>
						</header>
						<section class="panel__body">
							<table class="table table--wizard">
								<thead>
									<tr>
										<th>Level</th>
										<th>Proficiency<br/>Bonus</th>
										<th>Cantrips<br/>Known</th>
										<th colspan="5"><div class="spacer">Spell Slots</div></th>
										<th>Features</th>
									</tr>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th>1st</th>
										<th>2nd</th>
										<th>3rd</th>
										<th>4th</th>
										<th>5th</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1st</td>
										<td>+2</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Spellscript, Spellcasting, Arcane Tradition</td>
									</tr>
									<tr>
										<td>2nd</td>
										<td>+2</td>
										<td>3</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Arcane Recovery</td>
									</tr>
									<tr>
										<td>3rd</td>
										<td>+2</td>
										<td>3</td>
										<td>4</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Arcane Tradition Features, Spell Research</td>
									</tr>
									<tr>
										<td>4th</td>
										<td>+2</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Ability Score Improvement</td>
									</tr>
									<tr>
										<td>5th</td>
										<td>+3</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>6th</td>
										<td>+3</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
										<td>Arcane Tradition Features, Spellscript Savant</td>
									</tr>
									<tr>
										<td>7th</td>
										<td>+3</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>1</td>
										<td><span class="empty">—</span></td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>8th</td>
										<td>+3</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>2</td>
										<td><span class="empty">—</span></td>
										<td>Greater Ability Score Improvement</td>
									</tr>
									<tr>
										<td>9th</td>
										<td>+4</td>
										<td>4</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>3</td>
										<td>1</td>
										<td><span class="empty">—</span></td>
									</tr>
									<tr>
										<td>10th</td>
										<td>+4</td>
										<td>5</td>
										<td>4</td>
										<td>3</td>
										<td>3</td>
										<td>3</td>
										<td>2</td>
										<td>Arcane Tradition Features, Signature Spell</td>
									</tr>
								</tbody>
							</table>
						</section>
					</list>
				</div>
				<h3>Hit Points</h3>
				<ul>
					<li><strong>Hit Dice:</strong> 1d6 per wizard level.</li>
					<li><strong>Hit Points (1st-level):</strong> 6 + your Constitution modifier.</li>
					<li><strong>Hit Points (Higher Levels):</strong> 1d6 (or 4) + your Constitution modifier per wizard level after 1st.</li>
				</ul>

				<h3>Proficiencies</h3>
				<ul>
					<li><strong>Armor:</strong> None.</li>
					<li><strong>Weapons:</strong> Daggers, darts, slings, quarterstaffs, light crossbows.</li>
					<li><strong>Tools:</strong> None.</li>
					<li><strong>Saving Throws:</strong> Intelligence, Wisdom.</li>
					<li><strong>Skills:</strong> Choose two from Arcana, History, Insight, Investigation, Medicine, and Religion.</li>
				</ul>

				<col-break></col-break>

				<h3>Equipment</h3>
				<p>Choose one of the following equipment options—<i>preset</i> or <i>custom</i>. You gain these items in addition to any other gear you might have (such as from your background):</p>

				<h4>A. Preset Equipment</h4>
				<ul>
					<li>A spellbook.</li>
					<li>(a) a quarterstaff or (b) a dagger.</li>
					<li>(a) a component pouch or (b) an arcane focus.</li>
					<li>(a) a scholar's pack or (b) an explorer's pack.</li>
				</ul>

				<h4>B. Custom Equipment</h4>
				<p>You gain a spellbook and 2d4 x 10 gold pieces (or 50 gp). You may spend some or all of this gold to purchase your own equipment.</p>
			</page>
			<page class="page page--generic page--wizard">
				<h2 id="wizard-class-features" data-icon="spellbook">Class Features</h2>
				<p>As a wizard, you gain access to the following features.</p>

				<h3><span class="h3__highlight">1</span>Spellscript</h3>
				<p>You can read and write <i>Spellscript</i>, an academic language of glyphs, symbols, and notations used by wizards to record arcane knowledge and spells.</p>
				<p>See the <i>Spellscript</i> section (<span class="page-detail--page-number" data-target="wizard-spellscript"></span>) for more details about this feature.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">1</span>Spellcasting</h3>
				<p>You gain the ability to cast magic spells through careful study of spellbooks, glyphs, and arcane sigils.</p>

				<h4>Spellbook</h4>
				<p>At 1st-level, you have a spellbook into which you can record your known spells and arcane research.</p>
				<p>See the <i>Spellbook</i> section (<span class="page-detail--page-number" data-target="wizard-spellbook"></span>) for more details about your spellbook.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Cantrips</h4>
				<p>At 1st-level, you know three cantrips of your choice from the wizard spell list. You learn additional wizard cantrips of your choice at higher levels, as shown in the <i>Cantrips Known</i> column of the Class Features (Wizard) table.</p>
				<p><strong>Memorable:</strong> Cantrips are simple enough for you to memorize—they don't need to be recorded or prepared.</p>
				<p><strong>Replacing Known Cantrips:</strong> When you gain a wizard level, you can choose one of the wizard cantrips you know and replace it with a different cantrip from the wizard spell list.</p>

				<h4>Spells Known of 1st-level and Higher</h4>
				<p>At 1st-level, you know six 1st-level spells of your choice from the wizard spell list. Write these into your spellbook.</p>
				<p><strong>Recorded Knowledge:</strong> Spells of 1st-level and higher are too complicated to be memorized by mortal minds—write these spells into your spellbook to keep them recorded.</p>
				<p><strong>Learning New Spells:</strong> Each time you gain a wizard level, you can add two wizard spells of your choice to your spellbook for free. Each of these spells must be of a level for which you have spell slots, as shown in the Class Features (Wizard) table.</p>
				<p>In addition, you may find other wizard spells—such as on scrolls and in spellbooks—on your adventures. If you can decipher their spellscript, you may be able to write them into your own spellbook.</p>

				<col-break></col-break>

				<h4>Preparing Spells</h4>
				<p>You must prepare the list of wizard spells that you can cast, choosing from your list of recorded wizard spells.</p>
				<p><strong>Preparing Your Spell List:</strong> Choose a number of wizard spells from your spellbook equal to your Intelligence modifier + your wizard level (minimum of one spell).</p>
				<p>Prepared spells must be of a level for which you have spell slots, and you must be able to access the spells in your spellbook as you're preparing them.</p>
				<p><strong>Changing Your Prepared Spells:</strong> You can change your list of prepared spells when you finish a long rest. Preparing a new list of wizard spells requires time: at least 1 minute per spell level for each spell on your list.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Preparing Spells</h4>
					</header>
					<section class="panel__body">
						<p><strong>Number of Spells:</strong> your Intelligence modifier + your wizard level (minimum of one spell)</p>
					</section>
				</mechanic>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<!-- <p>As a 3rd-level wizard with an Intelligence of 19 (modifier +4), Bellamy can prepare seven spells of 1st or 2nd-level, in any combination, from her spellbook.</p> -->
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Casting Spells</h4>
				<p>The Class Features (Wizard) table shows how many spell slots you have to cast your prepared wizard spells of 1st-level and higher.</p>
				<p>To cast one of your prepared spells, you must expend a slot of the spell's level or higher. Casting a spell doesn't remove it from your list of prepared spells, and you regain all expended spell slots when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<!-- <p>Bellamy has prepared the 1st-level spell <i>Magic Missile</i> and has both 1st and 2nd-level spell slots available. She can cast <i>Magic Missile</i> using either spell slot.</p> -->
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Spellcasting Ability</h4>
				<p>Intelligence is your spellcasting ability for your wizard spells. Use your Intelligence modifier to set the saving throw DC or attack modifier for any wizard spell you cast.</p>

				<mechanic class="panel panel--mechanic">
					<header class="panel__header">
						<h4 class="panel__title">Spellcasting Ability</h4>
					</header>
					<section class="panel__body">
						<p><strong>Spell save DC:</strong> 8 + your proficiency bonus + your Intelligence modifier</p>
						<p><strong>Spell attack modifier:</strong> your proficiency bonus + your Intelligence modifier</p>
					</section>
				</mechanic>

				<h4>Ritual Casting</h4>
				<p>You can cast a wizard spell as a ritual if (a) the spell has the ritual tag and (b) you have access to the spell in your spellbook. You don't need to have a spell prepared first to cast it as a ritual.</p>
			</page>
			<page class="page page--generic page--wizard">
				<h4>Spellcasting Focus</h4>
				<p>You can use your spellbook or an arcane focus as a spellcasting focus for your wizard spells.</p>

				<h4>Arcane Versatility</h4>
				<p>When you finish a long rest, you can choose one of the wizard cantrips you know and replace it with a different cantrip from the wizard spell list.</p>

				<h3><span class="h3__highlight">1</span>Arcane Tradition</h3>
				<p>Choose an <i>Arcane Tradition</i>. You gain features from your Arcane Tradition at 1st, 3rd, 6th, and 10th-level.</p>

				<h4>Favored & Clashing Magic</h4>
				<p>Magic spells are categorized into eight traditional schools of arcane power. As you begin to train in your Arcane Tradition, some of these schools become easier—or more difficult—for you to learn and master.</p>
				<p>At 1st-level, you gain one <i>Favored</i> and one <i>Clashing</i> school of magic from your Arcane Tradition, with an associated feature for each.</p>

				<h3><span class="h3__highlight">2</span>Arcane Recovery</h3>
				<p>When you finish a short rest, you can recover some expended spell slots by studying your spellbook. The spell slots must have a combined level equal to or less than half your wizard level (rounded up), and none of the slots can be 6th-level or higher.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<h3><span class="h3__highlight">3</span>Spell Research</h3>
				<p>As a student of the arcane, you are able to learn new wizard spells in your downtime through careful study, research, and experimentation.</p>
				<p>See the <i>Spell Research</i> section (<span class="page-detail--page-number" data-target="wizard-research"></span>) for more details about this feature.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<aside class="panel panel--aside">
					<header class="panel__header">
						<h4 class="panel__title">Schools of Magic</h4>
					</header>
					<section class="panel__body">
						<p>There are eight traditional schools of arcane magic:</p>
						<ul>
							<li><strong>Abjuration:</strong> Block, banish, and protect.</li>
							<li><strong>Conjuration:</strong> Summon things from other planes.</li>
							<li><strong>Divination:</strong> Understand the past, present and future.</li>
							<li><strong>Enchantment:</strong> Entrance and beguile.</li>
							<li><strong>Evocation:</strong> Damage and destroy.</li>
							<li><strong>Illusion:</strong> Deceive and trick the senses.</li>
							<li><strong>Necromancy:</strong> Corrupt, curse, and control death.</li>
							<li><strong>Transmutation:</strong> Change energy and matter.</li>
						</ul>
					</section>
				</aside>

				<col-break></col-break>

				<h3><span class="h3__highlight">4</span>Ability Score Improvement</h3>
				<p>You can increase one ability score of your choice by +2, or two ability scores of your choice by +1. You can't increase an ability score above 20 using this feature.</p>
				<p><strong>Greater Ability Score Improvement:</strong> At 8th-level, you gain another ability score improvement.</p>

				<h3><span class="h3__highlight">6</span>Spellscript Savant</h3>
				<p>You have learned a new technique to improve the quality of your spellscript and spell writing. Choose one of the options listed below.</p>
				<p><strong>Greater Spellscript Savant:</strong> At 8th-level, choose an additional feature. You can't choose the same feature more than once unless specified otherwise.</p>

				<h4 class="h4--option">Compression</h4>
				<p>You have learned how to use notations more efficiently in your writing. When you write spellscript, you can spend one additional hour per spell level to compress your text.</p>
				<p>Compressed spellscript takes up half as much physical space as it normally would (rounded up) and—when calculating your spellbook's <i>magical capacity</i>—counts as half its normal spell level (rounded up).</p>

				<h4 class="h4--option">Encryption</h4>
				<p>You can encrypt your spellscript, making it impossible for other wizards to decipher without your personal cypher.</p>
				<p>When writing new spellscript, you can spend 1 additional hour per spell level to encrypt your text.</p>
				<p><strong>Decryption:</strong> You can't prepare a spell by reading from encrypted spellscript—you must read from a decrypted copy. It takes 1 additional hour per spell level to decipher your own encrypted text.</p>
				<p><strong>Physical Cypher:</strong> The cypher for your encryption is a set of arcane codes and substitutions too complicated to memorize—it must be written down somewhere, and you must be able to access it when encrypting or decrypting your spellscript.</p>

				<h4 class="h4--option">Potent Glyphs</h4>
				<p>You have learned how to use cost-effective notations when writing spellscript. Spells count as one level lower than normal when calculating how much gold you must spend to write them.</p>
				<p>You can choose this option multiple times.</p>

				<h4 class="h4--option">Shorthand</h4>
				<p>You have learned how to read and write in arcane shorthand. You can write spellscript, decipher spellscript, and prepare spells in half the usual time (rounded up).</p>

				<h3><span class="h3__highlight">10</span>Signature Spell</h3>
				<p>Choose one 1st-level wizard spell from your spellbook to be your <i>Signature Spell</i>. While your signature spell is prepared, you may cast it as 1st-level spell without expending a spell slot.</p>
				<p>You can do this a number of times equal to your Intelligence modifier, and you regain expended uses when you finish a long rest.</p>
			</page>
		</book>
	</body>
</html>
