<html>
	<body>
		<book>
			<page class="page page--generic page--wizard-spellbook">
				<h2 id="wizard-spellbook" data-icon="spellbook">Spellbooks</h2>
				<p>No self-respecting wizard is a wizard for long without a spellbook of their very own—a priceless tome in which to record spells and arcane knowledge.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3>Your Spellbook</h3>
				<p>Your spellbook is a unique tome with its own decorative flourishes and margin notes.</p>
				<p>It might be a plain, functional leather volume that you received as a gift from your master, a finely bound gilt-edged tome you found in an ancient library, or even a loose collection of notes scrounged together after you lost your previous spellbook in a mishap.</p>
				<p>Choose a description from the table below, or define your own appearance:</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Spellbook Appearance</h4>
					</header>
					<section class="panel__body">
						<table class="table table--spellbook-appearance">
							<thead>
								<tr>
									<th>d10</th>
									<th>Cover</th>
									<th>Pages</th>
									<th>Style</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Bone</td>
									<td>Cheap</td>
									<td>Aberrant</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Clay</td>
									<td>Fine</td>
									<td>Celestial</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Cloth</td>
									<td>Inky</td>
									<td>Common</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Fur</td>
									<td>Lined</td>
									<td>Draconic</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Leather</td>
									<td>Mottled</td>
									<td>Dwarven</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Metal</td>
									<td>Odorous</td>
									<td>Elven</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Paper</td>
									<td>Scrappy</td>
									<td>Ethereal</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Plant</td>
									<td>Slippery</td>
									<td>Fey</td>
								</tr>
								<tr>
									<td>9</td>
									<td>Skin</td>
									<td>Textured</td>
									<td>Infernal</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Wood</td>
									<td>Thick</td>
									<td>Orcish</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<h4>Magical Capacity</h4>
				<p>Magical writing is inherently powerful, and stacking multiple spells together in close proximity—such as in a spellbook—can have unpredictable consequences.</p>
				<p>A single spellbook can safely hold up to 50 spell levels worth of spells and arcane knowledge.</p>
				<p><strong>Capacity Burnout:</strong> If your spellbook capacity is exceeded, your spellbook will purge itself and erase content at random until balance is restored.</p>

				<!-- <example>
					<section class="panel__body">
						<p>Bellamy writes five 1st-level spells (5 spell levels) and three 2nd-level spells (6 spell levels) into her spellbook—a total of 11 spell levels.</p>
					</section>
				</example> -->

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Spellbook</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Wizard</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>A leather-bound tome with 50 blank vellum pages and 50 spellpaper pages. The pages are mottled and the cover glimmers with an ethereal light. This book can be used to record magical spells and arcane knowledge.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Detectable</strong> This book has a magical aura and can be detected by arcane senses (such as the <i>Detect Magic</i> spell).</li>
							<li><strong class="feature__title">Capacity</strong> This book can hold a total of 50 spell levels worth of spells and arcane knowledge.</li>
							<li><strong class="feature__title">Volatile</strong> If this book is carelessly destroyed, roll 1d100—if the result is lower than or equal to the total number of recorded spell levels, it explodes with arcane force.</li>
						</ul>
					</section>
				</item>

				<h3>Volatile Power</h3>
				<p>Spellbooks contain powerful magical writing that can be very unstable when handled improperly. If a spellbook is destroyed without proper caution—such as by being incinerated—it may erupt with magical force.</p>
				<p>Roll a d100—if the result is equal to or less than the total number of spell levels recorded in the book, it explodes. Each creature within 30 ft must make a Constitution saving throw:</p>
				<p><strong>If the creature fails:</strong> it suffers 1d12 force damage, plus an additional 1d12 force damage for every 10 spell levels contained in the spellbook.</p>
				<p><strong>If the creature succeeds:</strong> it takes half as much damage.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3>Making a New Spellbook</h3>
				<p>As a wizard, you may be required to make a new spellbook for yourself—to replace a lost book, to expand your magical capacity, or to use as a backup copy of an existing spellbook.</p>
				<p><strong>Crafting a Spellbook:</strong> If you are trained in arcana and calligraphy tools, you can create a new spellbook by infusing a normal book with 25 gp worth of arcane dust. This requires 1 day of dedicated effort and attention, and the process turns 50 pages of the book into spellpaper.</p>
				<p>Alternatively—if you have 50 sheets of spellpaper—you can bind them together in an appropriate fashion to create your spellbook.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
