<html>
	<body>
		<book>
			<page class="page page--generic page--wizard-subclasses">
				<h2 data-icon="book-cover">Evocation</h2>
				<p>You focus your study on magic that creates powerful elemental effects—bitter cold, searing flame, rolling thunder, crackling lightning, and burning acid.</p>
				<p>Some evokers find employment in military forces, serving as artillery to blast enemy armies from afar. Others use their spectacular power to protect the weak, while some seek their own gain as bandits, adventurers, or aspiring tyrants.</p>

				<h3><span class="h3__highlight">1</span>Arcane Schools</h3>
				<p>You gain the following features for your favored and clashing magic schools.</p>

				<h4>Favored Magic</h4>
				<p>You have a talent for reading the glyphs and symbols of <i>evocation</i> magic. The gold and time you must spend to write an evocation spell into your spellbook is halved.</p>

				<h4>Clashing Magic</h4>
				<p>You find it more difficult to make sense of the sigils and writing structure of <i>abjuration</i> magic. The gold and time you must spend to write an abjuration spell into your spellbook is doubled.</p>

				<h3><span class="h3__highlight">1</span>Elemental Spark</h3>
				<p>When you cast a wizard evocation spell of 1st-level or higher that deals fire, cold, thunder, lightning, or acid damage, you can simultaneously create an <i>elemental spark</i> using a strand of the spell's power.</p>
				<p>Your spark closely orbits your body—you may choose the location when you create the spark. The appearance and damage type of your spark match the spell that it was created from. You can only have one active elemental spark at a time, and any active spark expires automatically when you finish a short or long rest.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a short or long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<col-break></col-break>

				<spell class="panel panel--spell">
					<header class="panel__header">
						<h4 class="panel__title">Elemental Spark</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Wizard</li>
							<li>Evocation</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>A spark of elemental energy (fire, cold, thunder, lightning, or acid) orbits your body. When you take damage from a creature that you can see, you may spend your reaction to do one of the following:</p>
							<ul>
								<li><strong>Feedback:</strong> You deal 1d10 damage to the creature. The damage type equals that of your spark.</li>
								<li><strong>Deflect:</strong> You can reduce the damage you take by 1d6.</li>
							</ul>
							<p>When you take one of these actions, your elemental spark is expended and vanishes.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Greater Elemental Spark</strong> Starting at 6th-level, your <i>Feedback</i> damage increases from 1d10 to 2d10. In addition, your <i>Deflect</i> reduction increases from 1d6 to 2d6.</li>
						</ul>
					</section>
				</spell>

				<h3><span class="h3__highlight">3</span>Potent Cantrip</h3>
				<p>You are able to rewrite your prepared cantrips so that your damaging cantrips can affect even creatures that avoid the brunt of the effect.</p>
				<p>When a creature succeeds on a saving throw against your cantrip, the creature takes half the cantrip’s damage (if any) but suffers no additional effect from the cantrip.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">6</span>Empowered Evocation</h3>
				<p>You are able to enhance your evocation spells with destructive power.</p>
				<p>When you cast a wizard evocation spell, you can add your Intelligence modifier to one damage roll.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3><span class="h3__highlight">10</span>Overchannel</h3>
				<p>When you cast a wizard spell of 1st to 5th-level that deals damage, you can choose to deal maximum damage with that spell. You must decide to do this before you roll damage for your spell.</p>
				<p>You can use this feature once, and you regain expended uses when you finish a long rest.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
