<html>
	<body>
		<book>
			<page class="page page--generic page--wizard-spellscript">
				<h2 id="wizard-spellscript" data-icon="spellbook">Spellscript</h2>
				<p>Spellscript is an academic language of runes, glyphs, and sigils used to transcribe spells and arcane knowledge. Wizard spells and scrolls are almost always written in spellscript—it is the common tongue of the arcane.</p>
				<p>Perhaps you were trained by a mentor, or you taught yourself through careful study of spellbooks, or a strange force burned magical words into your mind—whatever your background, spellscript is your key to arcane power.</p>

				<h3>Your Writing Dialect</h3>
				<p>Though the basic principles of spellscript are well understood, every wizard instinctively develops their own coded <i>dialect</i> which reflects their individual tastes and writing style—spellscript is as much art as it is science.</p>
				<p>Choose your dialect from the <i>Spellscript Dialect</i> table below, or define your own style:</p>

				<list class="panel panel--list">
					<header class="panel__header">
						<h4 class="panel__title">Spellscript Dialect</h4>
					</header>
					<section class="panel__body">
						<table class="table table--writing-style">
							<thead>
								<tr>
									<th>d10</th>
									<th>Handwriting</th>
									<th>Vocabulary</th>
									<th>Framework</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Block</td>
									<td>Casual</td>
									<td>Abstract</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Bold</td>
									<td>Chatty</td>
									<td>Aberrant</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Cramped</td>
									<td>Concise</td>
									<td>Celestial</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Fine</td>
									<td>Direct</td>
									<td>Common</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Messy</td>
									<td>Elaborate</td>
									<td>Diagramatic</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Slanted</td>
									<td>Formal</td>
									<td>Draconic</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Spidery</td>
									<td>Obtuse</td>
									<td>Dwarvish</td>
								</tr>
								<tr>
									<td>8</td>
									<td>Tidy</td>
									<td>Opinionated</td>
									<td>Elvish</td>
								</tr>
								<tr>
									<td>9</td>
									<td>Wide</td>
									<td>Rambling</td>
									<td>Infernal</td>
								</tr>
								<tr>
									<td>10</td>
									<td>Wild</td>
									<td>Vague</td>
									<td>Mathematical</td>
								</tr>
							</tbody>
						</table>
					</section>
				</list>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h3>Spellpaper</h3>
				<p>Spellscript can only be written onto a magical surface—otherwise it begins to blur, fade, and then vanish after 1 minute. For this reason, wizards like to record their spells on specially-crafted <i>spellpaper</i> and bind sheets together into large, magical <i>spellbooks</i>.</p>
				<p><strong>Magical Capacity:</strong> One sheet of spellpaper can hold up to one spell level of magic power. A 1st-level spell, for example, can be written on one sheet of spellpaper—a 5th-level spell, however, requires five sheets.</p>
				<p><strong>Crafting Spellpaper:</strong> If you are trained in arcana and calligraphy tools, you can transmute a normal sheet of paper into spellpaper. It takes 1 hour to infuse a sheet of paper with 0.5 gp of arcane dust. Any content on the paper remains intact during this process.</p>

				<col-break></col-break>



				<!-- <h4>Arcane Ink</h4>
				<p>Magic glyphs don't hold their shape for long unless they are written with arcane ink—common ink that has been infused with arcane dust.</p>
				<p><strong>Crafting Arcane Ink:</strong> If you are trained in arcana and calligraphy tools, you can turn a normal bottle of ink into arcane ink. Spend 1 hour and 1 gp of arcane dust to infuse a 1 oz bottle of ink with arcane power.</p>

				<item>
					<header class="panel__header">
						<h4>Arcane Ink (1 oz bottle, 10 gp)</h4>
						<p>Item, Wizard (Spellscript)</p>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>Magical ink infused with arcane dust. This ink will only stick to magical paper—if used on normal paper, the ink does not dry.</p>
						</div>
					</section>
				</item> -->



				<item class="panel panel--item">
					<header class="panel__header">
						<h4 class="panel__title">Spellpaper</h4>
						<ul class="panel__tags">
							<li>Class Feature</li>
							<li>Wizard</li>
						</ul>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>A sheet of magical spellpaper. This paper is used to record magical spells and arcane knowledge.</p>
						</div>
						<ul class="features">
							<li><strong class="feature__title">Detectable</strong> Spellpaper has a magical aura and can be detected by arcane senses (such as the <i>Detect Magic</i> spell).</li>
						</ul>
					</section>
				</item>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>



				<!-- <item>
					<header class="panel__header">
						<h4>Arcane Ink (1 oz bottle, 10 gp)</h4>
						<p>Item, Wizard (Spellscript)</p>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>Magical ink infused with arcane dust. This ink will only stick to magical paper—if used on normal paper, the ink does not dry.</p>
						</div>
					</section>
				</item>

				<item>
					<header class="panel__header">
						<h4>Spellpaper</h4>
						<p>Item, Wizard (Spellscript)</p>
					</header>
					<section class="panel__body">
						<div class="description">
							<p>A sheet of spellpaper.</p>
						</div>
					</section>
				</item> -->

				<!-- <h3>Using Spellscript</h3>
				<p>Spellscript is used primarily to write down spells—the higher the spell level, the more complicated the spellscript.</p> -->

				<h3>Writing Spellscript</h3>
				<p>Once you have some spellpaper, it's time to start writing. As a wizard, you are typically using spellscript to write something new or make a copy of an existing spell.</p>

				<h4>Writing Something New</h4>
				<p>There are times where you are struck by inspiration and want to write something new—researching a new spell, sharing arcane knowledge with another wizard, recording your own magical discovery, etc.</p>
				<p>You must spend 1 hour and 10 gp per spell level (to a minimum of 1 hour and 0 gp) to successfully write your own original spellscript.</p>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h4>Making a Copy</h4>
				<p>Sometimes you want to make a written copy of a spell or a piece of spellscript writing—copying a spell from a magic scroll, deciphering an enemy's spellbook, recording some magic runes from an ancient ruin, duplicating your own spellbook, etc.</p>
				<p>The time needed to do this depends the author of the original material and their <i>dialect</i> of spellscript.</p>

				<ul>
					<li><strong>I wrote the original:</strong> you must spend 1 hour and 10 gp per spell level (to a minimum of 1 hour and 0 gp) to successfully write the copied spellscript.</li>
					<li><strong>Someone else wrote the original:</strong> you must spend 2 hours and 50 gp per spell level (to a minimum of 1 hour and 0 gp) to successfully write the copied spellscript.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<!-- <h3>Deciphering Spellscript</h3>
				<p>It's difficult to understand spellscript that isn't in your own dialect. However, you can translate spellscript into your own dialect by following three basic steps:</p>

				<ol>
					<li><strong>Analyze Level:</strong> Ascertain the <i>level</i> of the spellscript—commonly 0th to 9th-level depending on the content.</li>
					<li><strong>Gather Materials:</strong> You must have access to fine inks, spellpaper, and material components worth 50 gp per spellscript level (a minimum of 10 gp).</li>
					<li><strong>Study and Transcribe:</strong> Spend 2 hours per spellscript level (a minimum of 1 hour) deciphering, testing, and transcribing the content into your own dialect.</li>
				</ol>

				<p>You must be able to study comfortably to decipher spellscript, and your experimentation is not silent. If your study is interrupted, you can continue it at a later time.</p>

				<h3>Copying Spellscript</h3>
				<p>To copy a piece of spellscript already written in your own dialect—or a spell that is prepared in your mind—you must spend 1 hour and 10 gp per spellscript level (a minimum of 1 hour and 0 gp) writing it down.</p> -->
			</page>
		</book>
	</body>
</html>
