<html>
	<body>
		<book>
			<page class="page page--generic page--wizard-variants" data-header-icon="cog">
				<h1 id="wizard-variants">Variant Dials</h1>
				<p>If you want to adjust the wizard class to better suit your own campaign and playstyle, then consider these variant dials.</p>

				<h2>Alternative Spellbooks</h2>
				<p>This supplement assumes a traditional form of spellbook. But if you want to use alternative spellbooks in your campaign—runes, foretelling bones, flowers, etc—consider the following:</p>

				<ul>
					<li><strong>Spellholder:</strong> Replace "spellpaper" with some other item onto which a spell can be imprinted—a runestone, a bone, special flower petals, etc.</li>
					<li><strong>Container:</strong> Replace "spellbooks" with some other form of container object—a bag, a box, a skull, etc.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>Multiclassing</h2>
				<p>If your campaign supports multiclassing, apply these modifiers to use the wizard as a multiclass option:</p>

				<ul>
					<li><strong>Minimum Requirement:</strong> Intelligence 13.</li>
					<li><strong>Proficiencies:</strong> None.</li>
					<li><strong>Arcane Tradition:</strong> Choose your arcane tradition at 3rd-level, not 1st.</li>
				</ul>

				<p>You don't gain a spellbook automatically as a result of multiclassing, so make sure that you have the means to acquire one.</p>

				<col-break></col-break>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>

				<h2>No Spellscript</h2>
				<p>This supplement introduces the academic language of spellscript. But if this is not suitable for your own game, then consider the following:</p>

				<ol>
					<li>Remove the <i>Spellscript</i> (1st-level) and <i>Spellscript Savant</i> (6th-level) class features.</li>
					<li>Remove the <i>spellpaper</i> item and associated features.</li>
				</ol>

				<h2>Spellbook Capacity</h2>
				<p>This supplement introduces a maximum capacity of 50 spell levels to spellbooks. If you want to alter this to suit your game style, consider the following changes:</p>

				<ul>
					<li><strong>Extra-Limited Capacity:</strong> Decrease the maximum capacity to 30 spell levels.</li>
					<li><strong>Extra-Thick Capacity:</strong> Increase the maximum capacity to 100 spell levels.</li>
					<li><strong>No Maximum Capacity:</strong> Remove the <i>Capacity</i> and <i>Volatile</i> spellbook item features.</li>
				</ul>

				<example class="panel panel--example panel--example--placeholder">
					<section class="panel__body">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</section>
				</example>
			</page>
		</book>
	</body>
</html>
