.page--barbarian {

  .table--barbarian {
    @include table-column(1, center, 8%);
    @include table-column(2, center, 10%);
    @include table-column(3, center, 8%);
    @include table-column(4, center, 9%);
    @include table-column(5, center, 8%);
    @include table-column(6, center, 9%);
    @include table-column(7, left, 48%);
  
    th:not(:last-child) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}